.app-global-header-status-tips-title {
  @apply text-yellow-600 mb-8 flex items-center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.app-global-header-hr {
  width: 1px;
  height: 20px;
  background-color: #E2E8F0;
}

.app-details-header {
  position: relative;
  z-index: 10;
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
}

.app-global-header {
 @apply flex justify-between px-20 bg-white items-center;
 height: 52px;
}

.app-header-icon {
  @apply w-32 h-32 cursor-pointer;
  &:hover {
    color: var(--gray-600);
    background-color: var(--gray-100);

    >svg {
      fill: var(--gray-400)
    }
  }
}
