@import 'variables';
@import 'mixin';
@import 'tree';
@import 'popper';
@import 'select';

@layer components {
  .light-button {
    @apply bg-white button;
  }

  .vertical-line {
    width: 0.05rem;
    background-color: #e2e8f0;
    align-self: stretch;
  }

  .line {
    @apply w-full bg-black;
    height: 1px;
  }

  .flex-start-center {
    @apply flex flex-row items-center cursor-pointer justify-start;
  }
}