@import 'variables';
@import 'mixin';
@import 'components/index';

@layer components {
  .vertical-line {
    width: 0.05rem;
    background-color: #e2e8f0;
    align-self: stretch;
  }

  .line {
    @apply w-full bg-black-900;
    height: 1px;
  }

  .flex-start-center {
    @apply flex flex-row items-center cursor-pointer justify-start;
  }

  .tag-border-radius {
    @apply rounded-tl-4 rounded-tr-none rounded-br-4 rounded-bl-none #{!important};
  }

  .bind-role-selector-tag {
    .icon.close {
      @apply absolute right-4 top-1/2 transform -translate-y-1/2 #{!important};
    }
  }
}
