@import '../../assets/scss/reset';
@import './components.scss';
@import './lego';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  // font-size: 20px;
}

body {
  font-size: 1.4rem;
}

.bottom-dot-5 {
  bottom: -0.5rem;
}

.right-dot-5 {
  right: -0.5rem;
}

.h-13 {
  height: 3.2rem;
}

.h-4-dot-3 {
  height: 4.3rem;
}

.h-4-dot-8 {
  height: 4.8rem;
}

.w-13 {
  width: 3.2rem;
}

.w-dot-8 {
  width: 0.8rem;
}

.w-1-dot-2 {
  width: 1.2rem;
}

.w-58-dot-8 {
  width: 58.8rem;
}

.w-416 {
  width: 20.8rem;
}

.w-4-dot-8 {
  width: 4.8rem;
}

.min-w-24 {
  min-width: 6rem;
}

.h-1-dot-4 {
  height: 1.4rem;
}

.h-1-dot-6 {
  height: 1.6rem;
}

.h-2-dot-4 {
  height: 2.4rem;
}

.h-dot-6 {
  height: 0.6rem;
}

.h-dot-8 {
  height: 0.8rem;
}

.h-1-dot-2 {
  height: 1.2rem;
}

.h-3-dot-2 {
  height: 3.2rem;
}

.h-3-dot-6 {
  height: 3.6rem;
}

.h-5-dot-6 {
  height: 5.6rem;
}

.h-6-dot-4 {
  height: 6.4rem;
}

.py-dot-2 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.py-dot-8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-dot-9 {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.pt-dot-8 {
  padding-top: 0.8rem;
}

.py-dot-125 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.pb-dot-8 {
  padding-bottom: 0.8rem;
}

.px-1-dot-2 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.p-l-1-dot-8 {
  padding-left: 1.8rem;
}

.w-2-dot-4 {
  width: 2.4rem;
}

.w-2-dot-7 {
  width: 2.7rem;
}

.w-3-dot-4 {
  width: 3.4rem;
}

.w-3-dot-2 {
  width: 3.2rem;
}

.w-1-dot-4 {
  width: 1.4rem;
}

.w-dot-6 {
  width: 0.6rem;
}

.w-1-dot-6 {
  width: 1.6rem;
}

.w-0-dot-4 {
  width: 0.4rem;
}

.w-31-dot-6 {
  width: 31.6rem;
}

.w-25-dot-9 {
  width: 25.9rem;
}

.w-988 {
  width: 98.8rem;
}

.h-2-dot-8 {
  height: 2.8rem;
}

.pr-dot-4 {
  padding-right: 0.4rem;
}

.px-dot-4 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.bg-E5E5E5 {
  background-color: #e5e5e5;
}

.bg-jb {
  background: linear-gradient(180deg, #FDBA74 0%, #FB923C 100%);
}

.bg-F1F5F9 {
  background-color: #f1f5f9;
}

.bg-F1F5F9-dot-5 {
  background-color: rgba(241, 245, 249, 0.5);
}

.top-dot-6 {
  top: 0.6rem;
}

.top-14-dot-4 {
  top: 14.4rem;
}

.rounded-dot-6 {
  border-radius: 0.6rem;
}

.rounded-1-dot-6 {
  border-radius: 1.6rem;
}

.rounded-dot-4 {
  border-radius: 0.4rem;
}

.rounded-dot-4 {
  border-radius: 0.4rem;
}

.rounded-tl-dot-2 {
  border-top-left-radius: 0.2rem;
}

.rounded-l-dot-4 {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.rounded-l-dot-8 {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.rounded-br-dot-4 {
  border-bottom-right-radius: 0.4rem;
}

.rounded-dot-6 {
  border-radius: 0.6rem;
}

.rounded-t-dot-6 {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.rounded-r-dot-6 {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.rounded-bl-dot-6 {
  border-bottom-left-radius: 0.6rem;
}

.rounded-tr-dot-2 {
  border-bottom-right-radius: 0.2rem;
}

.rounded-br-dot-8 {
  border-bottom-right-radius: 0.8rem;
}

.text-2 {
  font-size: 2rem;
}

.text-1-dot-4 {
  font-size: 1.4rem;
}

.text-1-dot-2 {
  font-size: 1.2rem;
}

.text-1-dot-6 {
  font-size: 1.6rem;
}

.text-697886 {
  color: #697886;
}

.text-375FF3 {
  color: #375ff3;
}

.text-DC2626 {
  color: #dc2626;
}

.text-16A34A {
  color: #16a34a;
}

.text-D97706 {
  color: #d97706;
}

.ml-dot-6 {
  margin-left: 0.6rem;
}

.ml-dot-2 {
  margin-left: 0.2rem;
}

.mr-dot-1 {
  margin-right: 0.1rem;
}

.mr-dot-4 {
  margin-right: 0.4rem;
}

.mr-dot-3 {
  margin-right: 0.3rem;
}

.mr-2-dot-8 {
  margin-right: 2.8rem;
}

.mr-dot-6 {
  margin-right: 0.6rem;
}

.ml-1-dot-6 {
  margin-left: 1.6rem;
}

.ml-dot-3-5 {
  margin-left: 0.35rem;
}

.mr-dot-4 {
  margin-right: 0.4rem;
}

.ml-dot-8 {
  margin-left: 0.8rem;
}

.-ml-dot-4 {
  margin-left: -0.4rem;
}

.mt-10-dot-4 {
  margin-top: 10.4rem;
}

.mt-dot-4 {
  margin-top: 0.4rem;
}

.mt-dot-6 {
  margin-top: 0.6rem;
}

.mt-dot-8 {
  margin-top: 0.8rem;
}

.-mt-dot-8 {
  margin-top: -0.8rem;
}

.mb-dot-6 {
  margin-bottom: 0.6rem;
}

.mb-dot-8 {
  margin-bottom: 0.8rem;
}

.mb-dot-4 {
  margin-bottom: 0.4rem;
}

.border-shape {
  border-radius: 5px;
  border-top-right-radius: 0;
}

.pt-1-dot-6 {
  padding-top: 1.6rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-1-dot-6 {
  padding-bottom: 1.6rem;
}

.px-1-dot-6 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.py-1-dot-6 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.pl-2-dot-6 {
  padding-left: 2.6rem;
}

.pr-2-dot-6 {
  padding-right: 2.6rem;
}

.py-3-dot-9 {
  padding-top: 2.9rem;
  padding-bottom: 2.9rem;
}

.py-dot-4 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.pd-1 {
  padding: 1rem;
}

.h-2-dot-8 {
  height: 2.8rem;
}

.border-1-radius-2 {
  border-radius: 1.2rem;
}

.border-334155 {
  border-color: #334155;
}

.border-CBD5E1 {
  border-color: #CBD5E1;
}

.leading-2 {
  line-height: 0.5rem;
}

.leading-5-bot-6 {
  line-height: 5.6rem;
}

.leading-2-dot-5 {
  line-height: 2.5rem;
}

.leading-3-dot-8 {
  line-height: 3.8rem;
}

.leading-1-dot-9 {
  line-height: 1.9rem;
}

.leading-1-dot-6 {
  line-height: 1.6rem;
}

.leading-2-dot-4 {
  line-height: 2.4rem;
}

.text-475569 {
  color: #475569;
}

.text-324558 {
  color: #324558;
}

.text-0F172A {
  color: #0f172a;
}

.text-697886 {
  color: #697886;
}

.p-dot-4 {
  padding: 0.4rem;
}

.p-dot-3-6 {
  padding: 0.36rem;
}

.bg-gradient-green-to-top-right {
  background-image: linear-gradient(to top right, #14b8a6, rgba(20, 184, 166, 0.4));
}

.bg-gradient-yellow-to-top-right {
  background-image: linear-gradient(to top right, #f59e0b, rgba(245, 158, 11, 0.4));
}

.bg-gradient-blue-to-top-right {
  background-image: linear-gradient(to top right, #b5ccff, rgba(181, 204, 255, 0.4));
  background-image: linear-gradient(to top right, #14b8a6, rgba(20, 184, 166, 0.4));
}

.bg-gradient-yellow-to-top-right {
  background-image: linear-gradient(to top right, #f59e0b, rgba(245, 158, 11, 0.4));
}

.bg-gradient-blue-to-top-right {
  background-image: linear-gradient(to top right, #b5ccff, rgba(181, 204, 255, 0.4));
}

.bg-DCDAD7 {
  background-color: #dcdad7;
}

.bg-DEE9FF {
  background-color: #dee9ff;
}

.bg-F0F6FF {
  background-color: #f0f6ff;
}

.bg-5976e01a {
  background-color: #5976e01a;
}

.shadow-title {
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
}

.max-h-63-dot-2 {
  max-height: 63.2rem;
}

/////////////////// Animation /////////////////////////
.slide-in {
  animation: slideIn 0.2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.slide-out {
  animation: slideOut 0.2s ease-in-out forwards;
}

@keyframes slideOut {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

/////////////////// Z-Index ///////////////////////////
.z-9 {
  z-index: 9;
}

////////////////// background /////////////////////////
.header-background-image {
  position: relative;

  &::after {
    content: '';
    background-image: url('/dist/images/maskHeaderBackgroundImage.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

//////////////////////////////////// layout /////////////////////////////////
.flex-2 {
  flex: 2 1 0%;
}

.flex-2-dot-8 {
  flex: 2.8 1 0%;
}

/////////////////////////////////// components ///////////////////////////////
.qxp-table {
  .spin-nested-loading {
    width: 100% !important;

    .spin-container {
      width: 100% !important;

      .table-wrapper {
        width: 100% !important;

        &.rounded-bl-none .table {
          border-bottom-left-radius: unset !important;
        }

        &.rounded-br-none .table {
          border-bottom-right-radius: unset !important;
        }

        .table {
          border-radius: 0.6rem !important;
          width: 100% !important;

          thead>tr>th {
            // padding-top: 0.55rem !important;
            // padding-bottom: 0.55rem !important;
            font-size: 1.4rem !important;
            font-weight: normal !important;
            vertical-align: middle;
            span {
              line-height: 1 !important;
              height: 44px;
            }
          }

          tbody>tr:last-child>td {
            border-bottom: none !important;
          }
        }
      }
    }
  }
}

.modal {
  .modal-card-head {
    @extend .header-background-image;
    opacity: 0.95 !important;
  }

  .modal-card-foot {
    background-color: #f1f5f9 !important;
    border: none;
  }

  .modal-content {
    box-shadow: inset 0px -1px 0px #e2e8f0 !important;
    border-radius: 0.6rem !important;
    width: auto !important;
    max-width: 80% !important;

    .modal-card-body {
      display: flex;
      align-items: stretch;
    }
  }
}

.static-modal {
  .modal-content {
    width: 632px !important;

    .modal-card-body {
      padding: 24px 40px;

      form {
        width: 100%;
        min-width: none;
        max-width: none;

        .select {
          width: 100%;
        }

        >.field:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }
}

#tree-select-box {
  .tree-title {
    width: 100%;
  }
}

label.checkbox.checked:before,
label.checkbox.checked:hover:before {
  background-color: #8cadff !important;
}

.search-input {
  padding-left: 2.2rem !important;
}

.input {
  border-radius: 2px 8px 8px 8px !important;
}

button {
  outline: none !important;
}

.qxp-single-select {
  background-color: #fff !important;
  border: none !important;

  .select-placeholder {
    font-size: 0.6rem !important;
    padding-left: 5px !important;
  }

  .select-control {
    border: 1px solid #cbd5e1 !important;
    border-radius: 0.1rem 0.4rem 0.4rem 0.4rem !important;
    background-color: #fff !important;

    .select-value-label {
      color: #475569 !important;
      font-size: 0.6rem !important;
    }
  }
}

.select-menu-outer {
  border: none !important;
  box-shadow: 0 0 3px 0 rgba(203, 213, 225, 1) !important;

  .select-menu {
    padding: 0 !important;
  }
}

// 自定义
.hover-bg-color:hover {
  background-color: #F0F6FF;
}

.select-set {
  width: 5.3rem;
  border: none;
  background: none !important;

  &:hover {
    border: none;
    background: none;
  }

  .select-control {
    background: none;
    border: none;
  }

  .select-value-label {
    font-size: 14px;
  }
}

.control-set {
  >input {
    background: none;
    border: none;
    outline: none;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.overflow-y-h {
  overflow-y: hidden;
}

.overflow-y-a {
  overflow-y: auto;
}

.table-full {
  .table {
    width: 100%;
  }
}

.fs12 {
  font-size: 12px;
}
