.status {
  display: inline-flex;

  &-indicator {
    width: 8px;
    height: 8px;

    background: var(--gray-300);
    opacity: 0.75;
    border-radius: 50%;
    //filter: blur(20px);

    &-review {
      background: var(--blue-600);
    }

    &-pending {
      background: var(--blue-600);
    }

    &-finfish {
      background: var(--gray-300);
    }

    &-in_review {
      background: var(--blue-600);
    }

    &-agree,
    &-complete {
      background: var(--green-600);
    }

    &-refuse {
      background: var(--red-600);
    }

    &-cancel {
      background: var(--gray-400);
    }

    &-send_back,
    &-send_back-send_back,
    &-review-review,
    &-in_review-review,
    &-review-write,
    &-in_review-write,
    &-review-read,
    &-in_review-read,
    &-todo_fill_in {
      background: var(--yellow-600)
    }

    &-abandon {
      background: var(--gray-400);
    }

    &-abend {
      background: var(--red-600);
    }
  }

  &-label {
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-600);
  }
}
