.text_flow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
  cursor: grabbing;
}

.disabled_test{
  opacity: .5;
}

.user-selector {
  input:focus {
    box-shadow: none;
  }
}