.text_flow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
  cursor: grabbing;
}

.disabled_test{
  opacity: .5;
}

.user-selector {
  input:focus {
    box-shadow: none;
  }
}

.placeholder-user-picker {
  display:flex;
  width: 100%;
  height: 30px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  align-items: center;
  position: relative;
  .arrow {
    position: absolute;
    right: 10px;
  }
}