.data-models-filter {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.data-model-steps {
  .anticon {
    vertical-align: 0.125em !important;
  }
}

.model-search {
  width: 160px;
  height: 28px;
  @apply border-1 mr-8;
}

.model-add {
  width: 28px;
  height: 28px;
  @apply text-white bg-gray-700 rounded-8 rounded-tr-2 text-center leading-28 cursor-pointer hover:bg-gray-600;
}

.data-model-list {
  max-width: 220px;
  min-width: 220px;
}

.model-info-header {
  width: auto;
  height: 48px;
  color:#FFFFFF;
  border-radius: 8px;
  justify-content: center;
  background: url(/dist/images/authority-line.png) top right no-repeat,linear-gradient(90deg, #638AFF 0%, #375FF3 100%);
  background-size: contain;
  box-shadow: 0px 8px 24px 8px rgba(55, 95, 243, 0.15);

  .desc {
    @apply flex flex-col ml-4 truncate;
  }
  
}

.model-field-search {
  width: 254px;
  @apply text-12;
}

.foreign-key-col {
  @apply w-32 h-24 bg-gray-100 rounded-tl-4 rounded-br-4 px-8 py-4;
}

.data-model-count {
  max-height: 44px;
  min-height: 44px;
  
  @apply px-16 py-12 border-t-1 text-12;
}

.model-field-table .qxp-table-wrapper {
  @apply h-full;
}
