.app-dropdown-drop-item {
  @apply py-16 px-18 cursor-pointer;
  width: 298px;
}

.app-dropdown-drop-more {
  max-height: 600px;
  border: 1px solid var(--gray-300);
  overflow-y: auto;
  left: 0;
  box-shadow: 0px 8px 24px rgba(148, 163, 184, 0.25);
  border-radius: 12px;
}

.app-dropdown-cur-app {
  max-width: 250px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.app-dropdown-drop-item-active {
  background-color: var(--blue-100);
}