.select-menu-outer {
  top: 100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: $select-menu-max-height + 2px;
  border: 1px solid $select-menu-border-color;
  border-radius: $select-input-border-radius;
  margin-top: $select-menu-top;
  background-color: $select-input-bg;
  box-shadow: $select-menu-box-shadow;
  z-index: $select-menu-z;
  -webkit-overflow-scrolling: touch;
  &.is-group-menu .select-menu {
    padding: 0;
    & > .select-option {
      position: relative;
      margin: 8px 0;

      & + .select-option {
        margin-top: 16px;
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        display: block;
        height: 1px;
        background-color: #e4ebf1;
        content: ' ';
      }
    }
  }
  .bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    color: #697886;
    font-size: 12px;
    line-height: 1.75;
  }
}

.select-menu {
  max-height: ($select-menu-max-height - 2px);
  padding: 8px 0;
  overflow-y: auto;
}

.select-option-group {
  padding: 8px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #e4ebf1;
  }
  .group-title {
    padding: 0 $select-padding-horizontal 8px;
    color: #697886;
    font-size: 12px;
    line-height: 2;
  }
}

.select-option {
  display: flex;
  box-sizing: border-box;
  padding: 4px $select-padding-horizontal;
  color: $select-option-color;
  background-color: $select-option-bg;
  font-size: 14px;
  cursor: pointer;
  &.is-focused {
    color: $select-option-focused-color;
    background-color: $select-option-focused-bg;
  }
  &.is-disabled {
    opacity: $select-option-disabled-opacity;
    cursor: not-allowed;
  }
  .option-checkbox-area {
    margin-right: 8px;
    label.checkbox {
      &:before,
      &:after {
        pointer-events: none;
      }
    }
  }
  .option-selected-area {
    display: inline-flex;
    align-items: center;
  }
}

.select--single .select-option {
  &.is-selected {
    justify-content: space-between;
    color: $select-option-selected-color;
    background-color: $select-option-selected-bg;
  }
}

.select-noresults {
  display: flex;
  justify-content: center;
  color: $select-noresults-color;
  cursor: default;
  .spin {
    padding: 6px 0;
  }
}

.select-menu-outer.is-group-menu {
  .select-noresults {
    padding: 8px 0;
  }
}
