.select--multi {
  > .select-control {
    padding-left: $select-padding-horizontal;
  }
  .select-input {
    padding: 0;
    vertical-align: middle;
  }
  &.has-value .select-input {
    margin-left: $select-item-gutter;
  } // Items
  .select-value {
    display: inline-block;
    padding-top: $select-item-padding-vertical;
    padding-right: $select-item-padding-horizontal;
  } // common
  .select-value-icon,
  .select-value-label {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  } // label
  .select-value-label {
    padding-right: 8px;
    font-size: $select-item-font-size;
    cursor: default;
  }
  a.select-value-label {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  } // icon
  .select-value-icon {
    display: inline-flex;
    align-items: center;
    width: 16px;
    cursor: pointer;
    .icon:first-child:last-child {
      margin: 0;
    }
  }
  &.has-prefix-icon.has-value {
    > .select-control {
      padding-left: $select-padding-horizontal;
    }
  }
  &.has-value {
    > .select-control {
      padding-left: $select-multi-padding-horizontal;
    }
  }
}

.select--multi.is-disabled {
  opacity: $select-item-disabled-opacity;
  .select-value-icon {
    cursor: not-allowed;
    pointer-events: none;
  }
}
