.timeline {
  &-item {
    position: relative;
    font-size: 14px;
    list-style: none;

    &-tail {
      position: absolute;
      top: 0px;
      left: 6px;
      height: 100%;
      border-left: 2px solid var(--gray-200);
    }

    &-head {
      position: absolute;
      top: 5px;
      width: 14px;
      height: 14px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #fff;
      border-radius: 50%;

      &-in {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: var(--gray-300);
      }
    }

    &-content {
      margin-left: 28px;
      word-break: break-word;
      padding-bottom: 16px;
    }

    &:nth-of-type(1) {
      .timeline-item-tail {
        top: 7px;
      }
    }

    &:nth-last-of-type(1) {
      .timeline-item-tail {
        width: 2px;
        height: 15px;
        background: var(--gray-200);
        border: none;
      }
    }
  }
}
