.app-page-nav {
  ::-webkit-scrollbar:horizontal{
    display: none;
  }
}

.nav-content {
  position: relative;
  overflow: auto;
  z-index: 11;
  width: 208px;
  height: 100%;
  background: #F8FAFC;
  .nav-content-header .truncate{
    width: 110px;
  }
  .app-page-tree-wrapper{
    height: calc(100vh - 52px);
    .app-page-tree{
      flex: 1;
    }
  }
  @media screen and (max-width: 1280px) {
    .app-page-tree-wrapper {
      height: calc(100vh - 52px - var(--scrollbar-size));
    }
  }
  .role-switcher-wrap {
    background-image: url(/dist/images/role_bg.png);
  }
}

.collapse {
  width: 0;
}

.control-hidden-button {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: calc(50% - 24px);
  right: -16px;
  svg {
    width: 16px !important;
  }
}

.app-page-add-group {
  cursor: pointer;
  &:hover {
    color: var(--blue-600);
  }
}

.add-page-add-btn {
  display: flex;
  align-items: center;
  padding: 1px 16px 16px;
  cursor: pointer;

  &:hover {
    color: var(--blue-600);
  }
}

.app-page-tree-node-tail{
  position: relative;
  &::after{
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--blue-600);
  }
}

.app-header-icon {
  @apply cursor-pointer;
  &:hover {
    color: var(--gray-600);
    background-color: var(--gray-100);

    >svg {
      fill: var(--gray-400);
    }
  }
}
