// .app-layout-type {
//   padding: 0;
//   margin-top: 20px;
//   span::before {
//     display: inline-block;
//     margin-right: 4px;
//     color: #ff4d4f;
//     font-size: 14px;
//     font-family: SimSun, sans-serif;
//     line-height: 1;
//     content: "*";
//   }
// }
