@import './reset.scss';
@import "./atom.scss";

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  opacity: .6;
  color: #939EA9;
  font-size: px2rem(14px);
}

a {
  text-decoration: none;
}
