bin/
dist/
node_modules/
yarn-error.log
config.yaml
.DS_Store
cypress/integration/examples/*
tmp
*.log
.idea/
*.rdb

.vscode/launch.json

# This file will be automatically created by build task
clients/components/icon/svg-hash.ts
