{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2018",
    "loose": true
  },
  "module": {
    "type": "es6"
  },
  "minify": false,
  "sourceMaps": true,
  "inlineSourcesContent": true
}
