dev_mode: false

api_endpoint:
  protocol: http
  hostname: keeper.test
  port: 80

http_client:
  timeout: 30
  max_conn: 100
  dial_timeout: 30
  idle_conn_timeout: 90

redis:
  hosts:
    - 192.168.200.40:6379
    - 192.168.200.43:6379
    - 192.168.200.44:6379
  timeout: 15
  db: 1

portal_server:
  server_port: 9030
  log_level: debug
  log_dir: /path/to/logs/qxp-web
  templates_dir: /path/to/qxp-web/dist/templates
  # enable log to stdout
  enable_stdout: false

home_server:
  server_port: 9031
  log_level: debug
  log_dir: /path/to/logs/qxp-web
  templates_dir: /path/to/qxp-web/dist/templates
  # enable log to stdout
  enable_stdout: false

client_config:
  websocket_hostname: keeper.test
  home_hostname: home.qxp.localhost
  portal_hostname: portal.qxp.localhost
  docs_hostname: docs.qxp.com
