.qxp-data-filter-options {
  max-height: 300px;
  overflow-y: auto;
}

.qxp-data-filter-box {
  overflow-y: auto;
  max-height: 300px;
}

.align-center{
  align-items: center;
}

.w-95{
  width: 95px;
}