.picker__selector-box {
  border: 1px var(--gray-300) solid;
  box-sizing: border-box;
  border-radius: 2px 8px 8px 8px;
  padding: 0.06rem 0.16rem;
  width: 100%;
  height: 0.44rem;
}

.picker-disabled {
  background-color: var(--gray-100);
}

.multiple-selected-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 0.32rem;
}

.multiple-selected {
  border-radius: 0.04rem 0;
  padding: 0.05rem 0.08rem;
  max-width: 100%;
}

.multiple-selected-1 {
  background-color: var(--blue-100);
  color: var(--blue-600);
}

.multiple-selected-2 {
  background-color: var(--amber-500);
  color: white;
}

.multiple-selected-0 {
  background-color: var(--emerald-500);
  color: white;
}

.action-empty {
  text-align: center;
  padding: 0.08rem 0;
}

.picker-action-wrapper {
  display: flex;
  padding: 0.12rem 0.16rem;
  border-radius: 0.08rem;
}

.picker-action {
  flex: 1;
}

.picker-action-active {
  color: var(--blue-600);
}

.picker__hover {
  border: 1px var(--blue-600) solid;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
}
