.two-level-menu-actions {
  display: none;
}

.two-level-menu-node:hover {
  .two-level-menu-actions {
    display: block;
  }
}

.two-level-menu-node-active {
  &::after {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px 0 0 4px;
    background-color: var(--blue-600);
  }
}

@keyframes open {
  from {
    height: 0;
  }
  to {
    height: var(--node-box-height);
  }
}

@keyframes close {
  from {
    height: var(--node-box-height);
  }
  to {
    height: 0;
  }
}

.two-level-menu-child-box-open {
  animation: open .1s forwards;
}

.two-level-menu-child-box-close {
  animation: close .1s forwards;
}