.two-level-menu {
  &-node {
    user-select: none;
    cursor: pointer;
    &:hover {
      color: var(--gray-900);
      &-actions {
        display: block;
      }
    }

    &-active {
      position: relative;
      color: var(--gray-900);
      &::after {
        content: "";
        width: 4px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 4px 0 0 4px;
        background-color: var(--blue-600);
      }

      .two-level-menu-actions {
        display: block;
      }
    }
  }

  &-actions {
    display: none;
  }

  &-sub-nodes {

  }
}

@keyframes open {
  from {
    height: 0;
  }
  to {
    height: var(--node-box-height);
  }
}

@keyframes close {
  from {
    height: var(--node-box-height);
  }
  to {
    height: 0;
  }
}

.two-level-menu-child-box-open {
  animation: open .1s forwards;
}

.two-level-menu-child-box-close {
  animation: close .1s forwards;
}
