@mixin active {
  color: var(--gray-600);
  background: linear-gradient(90deg, #638AFF 0%, #375FF3 100%);
  box-shadow: 0px 8px 24px 4px rgba(55, 95, 243, 0.25);
}

.menu-item {
  @apply relative flex justify-between items-center whitespace-nowrap overflow-hidden cursor-pointer duration-300;
  &:hover {
    @include active;
  }
}

.item-label {
  @apply flex-1 truncate transition-opacity duration-300;
}

.active-menu-item {
  @include active;
}

.item-icon {
  @apply flex-shrink-0;
}

.menu-items-wrapper {
  @apply transition-all duration-300 transform origin-top;
}
