.form-builder {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
}

.source-element-panel {
  width: 296px;
  padding: 20px;
  overflow: auto;

  background-color: white;
}

.source-element-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 24px;
  padding-bottom: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-200);
  }
}

.source-element-section__title {
  grid-column: 1 / 3;
}

.source-element-section__element {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 32px;
  padding: 0 8px;

  background-color: var(--gray-100);
  cursor: move;
  // &.is-dragging {
  //   color: ${(props) => props.theme.primaryColor};
  //   border-color: ${(props) => props.theme.primaryColor};
  // }
}

.form-settings-panel {
  width: 296px;

  background-color: white;
}

.form-settings-panel__panel {
  padding: 0 20px;
  .md {
    margin-bottom: 24px;
  }
  .item-label {
    margin-bottom: 8px;
    color: #475569;
    font-size: 14px;
  }
  .layout-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .content-item {
      padding: 12px;
      width: 120px;
      height: 84px;
      background-color: #FFFFFF;
      // border: 1px solid #375FF3;
      border: 1px solid #CBD5E1;
      box-sizing: border-box;
      border-radius: 8px;
    }
    .add-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 32px;
      width: 100%;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      border: 1px dotted #CBD5E1;
      border-radius: 8px 2px 8px 8px;
    }
  }
  .form-label {
    display: inline-block;
    margin-right: 2px;
    width: 24px;
    height: 16px;
    background: #CBD5E1;
    border-radius: 2px;
  }
  .form-item-body {
    display: inline-block;
    width: 68px;
    height: 16px;
    background: #F1F5F9;
    border-radius: 2px;
  }
}

.form-builder .form-builder-canvas {
  min-height: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
}

.form-builder-canvas__empty-tip {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .text {
    margin-top: 8px;
    color: #939aa9;
  }
}
