.form-builder {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
}

.source-element-panel {
  width: 296px;
  padding: 20px;
  overflow: auto;

  background-color: white;
}

.source-element-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 24px;
  padding-bottom: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-200);
  }
}

.source-element-section__title {
  grid-column: 1 / 3;
}

.source-element-section__element {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 32px;
  padding: 0 8px;

  background-color: var(--gray-100);
  cursor: move;
  // &.is-dragging {
  //   color: ${(props) => props.theme.primaryColor};
  //   border-color: ${(props) => props.theme.primaryColor};
  // }
}
