.form-builder {
  display: grid;
  grid-template-columns: auto 1fr auto;
  .ant-card-body {
    padding: 0;
  }
}

.source-element-panel {
  width: 296px;
  padding: 20px;
  overflow: auto;

  background-color: white;
}

.source-element-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 24px;
  padding-bottom: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-200);
  }
}

.source-element-section--title {
  grid-column: 1 / 3;
}

.source-element-section--element {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 32px;
  padding: 0 8px;
  border-radius: 8px 2px 8px 8px;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
  cursor: move;
}

.form-settings-panel {
  width: 296px;

  background-color: white;

  .ant-tabs-content-holder {
    overflow: auto;
  }
}

.item-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.content-item {
  padding: 12px;
  height: 84px;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    border-color: var(--blue-600);
  }
}

.item-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  gap: 4px;
  row-gap: 8px;
}

.form-settings-panel--panel {
  padding: 0 20px;
  color: #475569;
}

.layout-content {
  display: flex;
  justify-content: space-between;
}

.item-checked {
  position: relative;
  border-color: var(--blue-600);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 16px solid transparent;
    border-top-right-radius: 6px;
    border-color: var(--blue-600) var(--blue-600) transparent transparent;
  }

  .check-icon {
    display: block;
  }
}

.check-icon {
  display: none;
  position: absolute;
  top: 2px;
  right: 4px;
}

.item-label {
  display: inline-block;
  width: 24px;
  height: 16px;
  background: var(--gray-300);
  border-radius: 2px;
}

.item-body {
  display: inline-block;
  width: 68px;
  height: 16px;
  background: #f1f5f9;
  border-radius: 2px;
}

// todo remove this after support layout shortcut
.form-builder .canvas-wrapper {
  padding: 56px 20px;
  overflow: auto;

  .ant-form-item-label {
    white-space: pre-wrap;
    label{
      height: auto!important;
      text-align: left;
      line-height: 32px;
    }
  }
}

.form-builder .form-builder-canvas {
  padding: 12px;
  border-radius: 12px;
  background-color: white;
  position: relative;
  min-height: calc(100vh - 224px);
}

.form-builder-canvas--empty-tip {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .text {
    margin-top: 8px;
    color: #939aa9;
  }
}

.form-field-wrapper {
  padding-top: 16px;
  border: 1px dashed transparent;
}

// override extra bottom margin in canvas
.form-field-wrapper .ant-form-item {
  margin-bottom: 0;
}

.form-field-wrapper--active {
  border-color: var(--blue-600);
  background-color: var(--blue-100);
}

.form-field-wrapper--insert-upper {
  padding-top: 48px;
}

.form-field-wrapper--insert-below {
  padding-bottom: 32px;
}

.form-builder .field-action-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);

  cursor: pointer;
}

.form-builder .operate-icon {
  display: block;
  cursor: pointer;

  &:hover {
    color: #375ff3;
  }
}

.delete-container {
  position: relative;
  width: 32px;
}

.setting-data-linkage {
  .mega-layout-item-content {
    flex-direction: column;
  }
}

.min-h-32 {
  min-height: 32px;
}

.field-item {
  border: 1px dashed transparent;
  margin: 8px 0;
  padding: 16px 20px;
  position: relative;
  background-color: #fff;
  .ant-form-item{
    margin-bottom: 0;
  }
}

.field-icon {
  position: absolute;
  z-index: 11;
  background-color: var(--blue-500);
  padding: 1px;
  cursor: pointer;
  display: none;
  svg {
    color: #fff;
  }
}

.delete-field-icon {
  right: 0;
  top: 0;
}

.copy-field-icon {
  top: 0;
  right: 20px;
}

.move-field-icon {
  left: 0;
  top: 0;
  &:hover {
    cursor: move;
  }
}

.field-item:hover {
  border: 1px dashed var(--blue-600);
  & > .field-icon {
    display: block;
  }
}

.field-item-active {
  border: 1px solid var(--blue-500);
  background-color: var(--lightBlue-50);
}

.field-item-active:hover {
  border: 1px solid var(--blue-500);
}

.layout-grid-form {
  display: flex;
  flex-wrap: wrap;
}

.field-mask::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  z-index: 10;
}

.card {
  width: 25%;
}

.layout-grid {
  flex-wrap: wrap;
  border: 1px solid var(--gray-200);
  padding: 4px 0;
}

.layout-card {
  margin: 8px 0;
}

.layout-card-content {
  overflow: hidden;
  margin: -24px; // cover .ant-card-body padding
  padding: 16px 4px;
}

.layout-tabs {
  padding: 6px;
  border: 1px solid var(--gray-200);
}

.empty-form-builder-canvas {
  background-image: url("/dist/images/drag_tips.svg");
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: calc(100vh - 224px);
  padding: 12px;
  border-radius: 12px;
}

.form-builder-bg {
  background-color: #fff;
}

.panel {
  min-width: 296px;
  overflow: auto;
  background-color: #fff;
}

.delete-warp {
  text-align: center;
  position: relative;
}

.delete-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  margin: auto;
}

.delete-warp-reletive {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.form-build-hidden-fields {
  border-top: 2px dashed var(--gray-300);
  opacity: 0.7;
}

.hidden {
  display: none;
}

.fake-component{
  min-height: 140px;
  background-color: #fff;
}

.fake-component-header{
  line-height: 45px;
  justify-content: space-around;
  border-bottom: 1px solid var(--gray-200);
  
}

.fake-component-item{
  line-height: 45px;
}
