[data-layout-type="header-content"] {
  @apply flex flex-col h-full overflow-auto;

  [data-layout-child="routes-container"] {
    @apply flex-1 overflow-auto;
  }
}

[data-layout-type="left-sidebar-content"] {
  @apply flex h-full overflow-auto;

  [data-layout-child="routes-container"] {
    @apply flex-1 bg-blue-50 overflow-auto;
  }
}
