[data-layout-type="header-content"] {
  @apply flex flex-col h-full overflow-auto flex-shrink-0;

  [data-layout-child="fragment-container"] {
    max-height: 80px;
    max-width: none;
    overflow: auto;
  }

  [data-layout-child="routes-container"] {
    @apply flex-1 overflow-auto;
  }
}

[data-layout-type="right-sidebar-content"] {
  @apply flex flex-row-reverse h-full overflow-auto flex-shrink-0;

  [data-layout-child="routes-container"] {
    @apply flex-1 overflow-auto;
  }
}

[data-layout-type="left-sidebar-content"] {
  @apply flex h-full overflow-auto flex-shrink-0;

  [data-layout-child="routes-container"] {
    @apply flex-1 bg-blue-50 overflow-auto;
  }
}

[data-layout-child="fragment-container"] {
  max-width: 120px;
  max-height: none;
  overflow: auto;
}
