.describe-wrapper {
  background-color: white;
  margin-top: .08rem;
  padding: .08rem .16rem;
  border-radius: .02rem .08rem .08rem .08rem;
}

.describe-item-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.describe-item-text-wrapper {
  align-items: flex-start;
}

.describe-text {
  flex: 1;
}

.icon-attachment {
  height: .22rem;
}

.describe-text-wrapper {
  flex: 1;
  border-radius: .04rem;
}

