.app-bg-icon {
  width: .44rem;
  height: .44rem;
  position: relative;
  overflow: hidden;

  &-circle::before,
  &-circle::after {
    display: block;
    position: absolute;
    content: "";
    mix-blend-mode: multiply;
    opacity: 0.15;
    border-radius: calc(0.44rem / 1.6);
  }

  &-circle::before {
    right: 0;
    left: 0;
    top: 50%;
    bottom: -50%;
  }

  &-circle::after {
    top: 0;
    bottom: 0;
    left: -46.15%;
    right: 46.15%;
  }
}

.app-icon__icon {
  z-index: 1;
}

.bg-icon-circle {
  &-amber::before,
  &-amber::after {
    background: #f59e0b;
  }

  &-orange::before,
  &-orange::after {
    background: #f97316;
  }

  &-indigo::before,
  &-indigo::after {
    background: #6366f1;
  }

  &-teal::before,
  &-teal::after {
    background: #14b8a6;
  }

  &-fuchsia::before,
  &-fuchsia::after {
    background: #d946ef;
  }

  &-emerald::before,
  &-emerald::after {
    background: #10b981;
  }

  &-cyan::before,
  &-cyan::after {
    background: #06b6d4;
  }

  &-red::before,
  &-red::after {
    background: #ef4444;
  }
}

.bg-gradient {
  &-amber {
    background: linear-gradient(180deg, #FCD34D 0%, #FBBF24 100%);
  }

  &-orange {
    background: linear-gradient(180deg, #FDBA74 0%, #FB923C 100%);
  }

  &-indigo {
    background: linear-gradient(180deg, #A5B4FC 0%, #818CF8 100%);
  }

  &-teal {
    background: linear-gradient(180deg, #5EEAD4 0%, #2DD4BF 100%);
  }

  &-fuchsia {
    background: linear-gradient(180deg, #F0ABFC 0%, #E879F9 100%);
  }

  &-emerald {
    background: linear-gradient(180deg, #6EE7B7 0%, #34D399 100%);
  }

  &-cyan {
    background: linear-gradient(180deg, #67E8F9 0%, #22D3EE 100%);
  }

  &-red {
    background: linear-gradient(180deg, #FCA5A5 0%, #F87171 100%);
  }
}
