.formula-config {
  @apply border-l-1 border-gray-200 flex flex-col;
  width: 242px;

  .request-op {
    @apply w-24 text-12 font-medium text-center rounded-4 cursor-pointer;
    border: 1px solid var(--gray-500);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  }
}
