.app-details-header {
  position: relative;
  border-bottom: 1px solid rgba(148, 163, 184, 0.25)
}

.app-global-header {
 @apply flex justify-between px-16 bg-white items-center;
 height: 52px;
}

.group:hover  {
  .items-center{
    background-color:   var(--blue-500) !important;
    border-top-right-radius: 2px;
    border-radius: 8px;
   
  }
  
  a:hover{
    color: #fff !important;
  }
}