.empty-field {
  display: inline-block;
  background-color: #e8e8e88a;
  height: 80px;
  width: 100%;
  border-radius: 4px;
  position: relative;
    &::after {
      content: '请拖入控件';
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      color: #bdbdbd;
    }
}