.guide {
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
  @apply px-16 py-8 rounded-b-8 flex items-center justify-between;
}

.steps {
  @apply flex-1 grid gap-x-12 grid-flow-row-dense grid-cols-4;

  > div:not(:last-child) {
    &::after {
      content: "";
      height: 3px;
      flex: 1 1 0%;
      margin-left: 12px;
      background-color: var(--gray-100);
    }
  }
}

.step {
  @apply w-20 rounded-4 bg-blue-600 text-white text-center mr-4;
}

.operate {
  @apply text-blue-600 cursor-pointer;
}

.func-search {
  width: 254px;
}

.description > svg {
  display: none;
}

.description-input {
  @apply h-32 w-316 mb-4 px-12 py-6 text-14 border outline-none border-blue-600 rounded-8 rounded-tl-none;
}

.page-data-drawer-modal-mask {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(2, 5, 8, 0.7);
  animation: fadeIn 0.2s forwards;
  z-index: 20;
}

.page-data-drawer-began-close {
  animation: fadeOut 0.3s forwards;
  .page-data-drawer-container {
    animation: quitRight 0.3s ease forwards;
  }
}

.page-data-drawer-close {
  display: none;
}

.page-data-drawer-container {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  animation: enterRight 0.3s ease forwards;
  transition: transform 0.3s;
}

.page-data-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding: 0 20px;
  box-shadow: inset 0px -1px 0px var(--gray-200);
  background-image: url("/dist/images/maskHeaderBackgroundImage.png");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.version-detail {
  .tab-wrapper .tab-content {
    padding: 12px 0px;
    padding-right: 108px;
  }
}
.qxp-table-wrapper {
  height: 100%;
  .qxp-table-tr:hover .description > svg {
    display: block;
  }
}

.title-line {
  display: inline-block;
  background: linear-gradient(90deg, #638aff 0%, #375ff3 100%);
  box-shadow: 2px 0px 24px rgba(55, 95, 243, 0.25);
  border-radius: 8px;
}

.faas-build-process {
  .react-flow__node-default {
  }
}

.faas-build-process-span {
  position: relative;
  box-shadow: 0px 4px 24px rgba(148, 163, 184, 0.25);
  border-radius: 4px 8px 8px 4px;

  &::after {
    content: "";
    background-color: var(--theme-color);
    position: absolute;
    height: 100%;
    width: 4px;
    left: 0;
    top: 0;
  }
}

.faas-build-log {
  min-height: 50px;
  background-color: #23272e;
  color: #e9e9e9;
  line-height: 25px;
}

.ini-bar {
  width: 270px;
  // height: 140px;
  // display: flex;
  // flex-direction: column;
  border-radius: 8px;
  margin-right: 16px;
  padding-top: 16px;
  background: var(--gray-50);
  border: 1px solid var(--gray-200);
  .bar-title {
    display: flex;
    padding-left: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
  .ini-ok {
    color: #0E8F40;
  }
  .not-ini {
    color: var(--gray-600);
  }
  .ini-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background: #FFFFFF;
    border-top: 1px solid #E2E8F0;
    border-radius: 0px 0px 8px 8px;
  }
}
