.wrap {
  position: relative;
  .navItem {
    width: 32px;
    height: 32px;
    border-radius: 8px 2px 8px 8px;
    &:hover {
      background: var(--blue-100);
    }

    > button {
      top: -0.4rem;
      left: 1.5rem;
    }
  }
  .count_btn{
    //width: 20px;
    //height: 20px !important;
    //padding: 0 !important;
    border-radius:  8px 8px 8px 2px !important;
    background: #EF4444;
    color: #fff;
    border: none;
    line-height: 20px;
  }
}

