.pop-confirm-content {
  padding: 20px;
  max-width: 374px;
  background: #FFFFFF;
  border: 1px solid #CBD5E1;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(148, 163, 184, 0.25);
  border-radius: 12px 2px 12px 12px;
}

.pop-confirm-content-btn-box {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
  margin-top: 16px;

  .pop-confirm-content-btn {
    border-radius: 12px;
  }

  .pop-confirm-content-btn-cancel {
    @extend .pop-confirm-content-btn;
    border-color: #CBD5E1;

    &:hover {
      border-color: #b7b8b9;
    }
  }

  .pop-confirm-content-btn-ok {
    @extend .pop-confirm-content-btn;
    color: #375FF3;
    border-color: #375FF3;
    background-color:#F0F6FF;
    
    &:hover {
      border-color: #274edb;
    }
  }
}
