@charset "UTF-8";
:root {
  --bg-primary:#375ff3;
  --bg-func:#8cadff;
  --bg-strong:#1e293b;
  --bg-normal:#334155;
  --bg-weak:#475569;
  --bg-weaker:#64748b;
  --bg-light:#f1f5f9;
  --bg-lighter:#f8fafc;
  --bg-status-success:#36c267;
  --bg-status-error:#e8524d;
  --bg-status-warn:#ffd182;
  --bg-status-info:#e2e8f0;
  --border-default:#cbd5e1;
  --border-card:#0f172a;
  --border-button-hover:#375ff3;
  --border-button-default:#334155;
  --border-button-disabled:#0f172a;
  --border-alert-success:#b0e8be;
  --border-alert-danger:#ffd5cf;
  --border-alert-warning:#ffe3ab;
  --border-alert-info:#dee9ff;
  --boxshadow-y8: 0px 8px 24px 4px rgba(203,213,225,0.25);
  --boxshadow-x8: 8px 0px 24px 4px rgba(203,213,225,0.25);
  --spacing-none:0px;
  --spacing-xs:4px;
  --spacing-sm:8px;
  --spacing-md:12px;
  --spacing-lg:16px;
  --spacing-xl:20px;
  --spacing-xxl:24px;
  --spacing-xxxl:40px;
  --borderRadius-xs:2px;
  --borderRadius-sm:4px;
  --borderRadius-md:8px;
  --borderRadius-lg:12px;
  --borderRadius-xl:16px;
  --borderRadius-round:50%;
  --borderWidth-none:0px;
  --borderWidth-xs:1px;
  --borderWidth-sm:2px;
  --borderWidth-md:4px;
  --borderWidth-lg:8px;
  --base-black:#000000;
  --base-white:#ffffff;
  --neu-50:#f8fafc;
  --neu-100:#f1f5f9;
  --neu-200:#e2e8f0;
  --neu-300:#cbd5e1;
  --neu-400:#94a3b8;
  --neu-500:#64748b;
  --neu-600:#475569;
  --neu-700:#334155;
  --neu-800:#1e293b;
  --neu-900:#0f172a;
  --red-50:#fff2f0;
  --red-100:#ffd5cf;
  --red-200:#ffafa6;
  --red-300:#f58078;
  --red-400:#e8524d;
  --red-500:#dc2626;
  --red-600:#b5161b;
  --red-700:#8f0a13;
  --red-800:#69020c;
  --red-900:#420109;
  --orange-50:#fff3e6;
  --orange-100:#ffd6b0;
  --orange-200:#ffbd87;
  --orange-300:#ffa15e;
  --orange-400:#f97316;
  --orange-500:#ea580c;
  --orange-600:#c43e00;
  --orange-700:#9e2d00;
  --orange-800:#781e00;
  --orange-900:#521200;
  --yellow-50:#fff7e6;
  --yellow-100:#ffe3ab;
  --yellow-200:#ffd182;
  --yellow-300:#f2b355;
  --yellow-400:#e6952c;
  --yellow-500:#d97706;
  --yellow-600:#b35900;
  --yellow-700:#8c4100;
  --yellow-800:#662c00;
  --yellow-900:#401a00;
  --green-50:#e6f5e9;
  --green-100:#b0e8be;
  --green-200:#84db9c;
  --green-300:#5bcf80;
  --green-400:#36c267;
  --green-500:#1cb552;
  --green-600:#0e8f40;
  --green-700:#026930;
  --green-800:#004220;
  --green-900:#001c0e;
  --teal-50:#e1f5ef;
  --teal-100:#b0e8d9;
  --teal-200:#84dbc7;
  --teal-300:#5bcfb7;
  --teal-400:#36c2ab;
  --teal-500:#16b59f;
  --teal-600:#0a8f82;
  --teal-700:#026962;
  --teal-800:#004240;
  --teal-900:#001c1c;
  --blue-50:#f0f6ff;
  --blue-100:#dee9ff;
  --blue-200:#b5ccff;
  --blue-300:#8cadff;
  --blue-400:#638aff;
  --blue-500:#375ff3;
  --blue-600:#2543cc;
  --blue-700:#162ba6;
  --blue-800:#0a1880;
  --blue-900:#060d59;
  --cyan-50:#e6fcfc;
  --cyan-100:#b4ecf0;
  --cyan-200:#86dae3;
  --cyan-300:#5cc6d6;
  --cyan-400:#36b1c9;
  --cyan-500:#159abc;
  --cyan-600:#097596;
  --cyan-700:#015370;
  --cyan-800:#00344a;
  --cyan-900:#001824;
  --indigo-50:#f4f0ff;
  --indigo-100:#dfd6ff;
  --indigo-200:#bcadff;
  --indigo-300:#917ff5;
  --indigo-400:#6554e8;
  --indigo-500:#3b2cdb;
  --indigo-600:#231bb5;
  --indigo-700:#8c4100;
  --indigo-800:#662c00;
  --indigo-900:#401a00;
  --purple-50:#faf0ff;
  --purple-100:#f3dbff;
  --purple-200:#e2b3ff;
  --purple-300:#ce8aff;
  --purple-400:#b25ef7;
  --purple-500:#9333ea;
  --purple-600:#7021c4;
  --purple-700:#52139e;
  --purple-800:#370878;
  --purple-900:#220552;
  --fuchsia-50:#fff0fe;
  --fuchsia-100:#ffd1fe;
  --fuchsia-200:#f8a5fa;
  --fuchsia-300:#e777ed;
  --fuchsia-400:#d44ce0;
  --fuchsia-500:#c026d3;
  --fuchsia-600:#9717ad;
  --fuchsia-700:#700b87;
  --fuchsia-800:#4d0361;
  --fuchsia-900:#2c013b;
  --opacity-color-mask:rgba(30,41,59,0.65);
  --opacity-color-app1:rgba(54,194,103,0.15);
  --opacity-color-app2:rgba(230,149,44,0.15);
  --opacity-color-app3:rgba(54,194,171,0.15);
  --opacity-color-app4:rgba(249,115,22,0.15);
  --opacity-color-app5:rgba(54,178,201,0.15);
  --opacity-color-app6:rgba(178,94,247,0.15);
  --opacity-color-app7:rgba(101,84,232,0.15);
  --opacity-color-app8:rgba(212,76,224,0.15);
  --opacity-color-app9:rgba(99,138,255,0.15);
  --opacity-color-app10:rgba(232,82,77,0.15);
  --opacity-low:10%;
  --opacity-md:50%;
  --opacity-high:90%;
  --fontFamily-inherit:inherit;
  --fontFamily-simsun:SimSun, sans-serif;
  --fontFamily-roboto:Roboto, sans-serif;
  --lineHeight-xs:75%;
  --lineHeight-sm:100%;
  --lineHeight-md:125%;
  --lineHeight-lg:150%;
  --lineHeight-xl:175%;
  --lineHeight-xxl:200%;
  --fontWeight-regular:400;
  --fontWeight-bold:500;
  --fontSize-xs:12px;
  --fontSize-sm:14px;
  --fontSize-md:16px;
  --fontSize-lg:18px;
  --fontSize-xl:20px;
  --fontSize-xxl:22px;
  --fontSize-xxxl:24px;
  --textDecoration-none:none;
  --textDecoration-underline:underline;
  --textDecoration-line-through:line-through;
}

.bg-primary {
  color: #375ff3;
}

.bg-func {
  color: #8cadff;
}

.bg-strong {
  color: #1e293b;
}

.bg-normal {
  color: #334155;
}

.bg-weak {
  color: #475569;
}

.bg-weaker {
  color: #64748b;
}

.bg-light {
  color: #f1f5f9;
}

.bg-lighter {
  color: #f8fafc;
}

.bg-status-success {
  color: #36c267;
}

.bg-status-error {
  color: #e8524d;
}

.bg-status-warn {
  color: #ffd182;
}

.bg-status-info {
  color: #e2e8f0;
}

.border-default {
  color: #cbd5e1;
}

.border-card {
  color: #0f172a;
}

.border-button-hover {
  color: #375ff3;
}

.border-button-default {
  color: #334155;
}

.border-button-disabled {
  color: #0f172a;
}

.border-alert-success {
  color: #b0e8be;
}

.border-alert-danger {
  color: #ffd5cf;
}

.border-alert-warning {
  color: #ffe3ab;
}

.border-alert-info {
  color: #dee9ff;
}

.boxshadow-y8 {
  box-shadow: 0px 8px 24px 4px rgba(203, 213, 225, 0.25);
}

.boxshadow-x8 {
  box-shadow: 8px 0px 24px 4px rgba(203, 213, 225, 0.25);
}

.m-spacing-none {
  margin: 0px;
}

.my-spacing-none {
  margin: 0px 0;
}

.mx-spacing-none {
  margin: 0 0px;
}

.ml-spacing-none {
  margin-left: 0px;
}

.mr-spacing-none {
  margin-right: 0px;
}

.mt-spacing-none {
  margin-top: 0px;
}

.mb-spacing-none {
  margin-bottom: 0px;
}

.p-spacing-none {
  padding: 0px;
}

.py-spacing-none {
  padding: 0px 0;
}

.px-spacing-none {
  padding: 0 0px;
}

.pl-spacing-none {
  padding-left: 0px;
}

.pr-spacing-none {
  padding-right: 0px;
}

.pt-spacing-none {
  padding-top: 0px;
}

.pb-spacing-none {
  padding-bottom: 0px;
}

.m-spacing-xs {
  margin: 4px;
}

.my-spacing-xs {
  margin: 4px 0;
}

.mx-spacing-xs {
  margin: 0 4px;
}

.ml-spacing-xs {
  margin-left: 4px;
}

.mr-spacing-xs {
  margin-right: 4px;
}

.mt-spacing-xs {
  margin-top: 4px;
}

.mb-spacing-xs {
  margin-bottom: 4px;
}

.p-spacing-xs {
  padding: 4px;
}

.py-spacing-xs {
  padding: 4px 0;
}

.px-spacing-xs {
  padding: 0 4px;
}

.pl-spacing-xs {
  padding-left: 4px;
}

.pr-spacing-xs {
  padding-right: 4px;
}

.pt-spacing-xs {
  padding-top: 4px;
}

.pb-spacing-xs {
  padding-bottom: 4px;
}

.m-spacing-sm {
  margin: 8px;
}

.my-spacing-sm {
  margin: 8px 0;
}

.mx-spacing-sm {
  margin: 0 8px;
}

.ml-spacing-sm {
  margin-left: 8px;
}

.mr-spacing-sm {
  margin-right: 8px;
}

.mt-spacing-sm {
  margin-top: 8px;
}

.mb-spacing-sm {
  margin-bottom: 8px;
}

.p-spacing-sm {
  padding: 8px;
}

.py-spacing-sm {
  padding: 8px 0;
}

.px-spacing-sm {
  padding: 0 8px;
}

.pl-spacing-sm {
  padding-left: 8px;
}

.pr-spacing-sm {
  padding-right: 8px;
}

.pt-spacing-sm {
  padding-top: 8px;
}

.pb-spacing-sm {
  padding-bottom: 8px;
}

.m-spacing-md {
  margin: 12px;
}

.my-spacing-md {
  margin: 12px 0;
}

.mx-spacing-md {
  margin: 0 12px;
}

.ml-spacing-md {
  margin-left: 12px;
}

.mr-spacing-md {
  margin-right: 12px;
}

.mt-spacing-md {
  margin-top: 12px;
}

.mb-spacing-md {
  margin-bottom: 12px;
}

.p-spacing-md {
  padding: 12px;
}

.py-spacing-md {
  padding: 12px 0;
}

.px-spacing-md {
  padding: 0 12px;
}

.pl-spacing-md {
  padding-left: 12px;
}

.pr-spacing-md {
  padding-right: 12px;
}

.pt-spacing-md {
  padding-top: 12px;
}

.pb-spacing-md {
  padding-bottom: 12px;
}

.m-spacing-lg {
  margin: 16px;
}

.my-spacing-lg {
  margin: 16px 0;
}

.mx-spacing-lg {
  margin: 0 16px;
}

.ml-spacing-lg {
  margin-left: 16px;
}

.mr-spacing-lg {
  margin-right: 16px;
}

.mt-spacing-lg {
  margin-top: 16px;
}

.mb-spacing-lg {
  margin-bottom: 16px;
}

.p-spacing-lg {
  padding: 16px;
}

.py-spacing-lg {
  padding: 16px 0;
}

.px-spacing-lg {
  padding: 0 16px;
}

.pl-spacing-lg {
  padding-left: 16px;
}

.pr-spacing-lg {
  padding-right: 16px;
}

.pt-spacing-lg {
  padding-top: 16px;
}

.pb-spacing-lg {
  padding-bottom: 16px;
}

.m-spacing-xl {
  margin: 20px;
}

.my-spacing-xl {
  margin: 20px 0;
}

.mx-spacing-xl {
  margin: 0 20px;
}

.ml-spacing-xl {
  margin-left: 20px;
}

.mr-spacing-xl {
  margin-right: 20px;
}

.mt-spacing-xl {
  margin-top: 20px;
}

.mb-spacing-xl {
  margin-bottom: 20px;
}

.p-spacing-xl {
  padding: 20px;
}

.py-spacing-xl {
  padding: 20px 0;
}

.px-spacing-xl {
  padding: 0 20px;
}

.pl-spacing-xl {
  padding-left: 20px;
}

.pr-spacing-xl {
  padding-right: 20px;
}

.pt-spacing-xl {
  padding-top: 20px;
}

.pb-spacing-xl {
  padding-bottom: 20px;
}

.m-spacing-xxl {
  margin: 24px;
}

.my-spacing-xxl {
  margin: 24px 0;
}

.mx-spacing-xxl {
  margin: 0 24px;
}

.ml-spacing-xxl {
  margin-left: 24px;
}

.mr-spacing-xxl {
  margin-right: 24px;
}

.mt-spacing-xxl {
  margin-top: 24px;
}

.mb-spacing-xxl {
  margin-bottom: 24px;
}

.p-spacing-xxl {
  padding: 24px;
}

.py-spacing-xxl {
  padding: 24px 0;
}

.px-spacing-xxl {
  padding: 0 24px;
}

.pl-spacing-xxl {
  padding-left: 24px;
}

.pr-spacing-xxl {
  padding-right: 24px;
}

.pt-spacing-xxl {
  padding-top: 24px;
}

.pb-spacing-xxl {
  padding-bottom: 24px;
}

.m-spacing-xxxl {
  margin: 40px;
}

.my-spacing-xxxl {
  margin: 40px 0;
}

.mx-spacing-xxxl {
  margin: 0 40px;
}

.ml-spacing-xxxl {
  margin-left: 40px;
}

.mr-spacing-xxxl {
  margin-right: 40px;
}

.mt-spacing-xxxl {
  margin-top: 40px;
}

.mb-spacing-xxxl {
  margin-bottom: 40px;
}

.p-spacing-xxxl {
  padding: 40px;
}

.py-spacing-xxxl {
  padding: 40px 0;
}

.px-spacing-xxxl {
  padding: 0 40px;
}

.pl-spacing-xxxl {
  padding-left: 40px;
}

.pr-spacing-xxxl {
  padding-right: 40px;
}

.pt-spacing-xxxl {
  padding-top: 40px;
}

.pb-spacing-xxxl {
  padding-bottom: 40px;
}

.borderRadius-xs {
  border-radius: 2px;
}

.borderRadius-sm {
  border-radius: 4px;
}

.borderRadius-md {
  border-radius: 8px;
}

.borderRadius-lg {
  border-radius: 12px;
}

.borderRadius-xl {
  border-radius: 16px;
}

.borderRadius-round {
  border-radius: 50%;
}

.borderWidth-none {
  border-width: 0px;
}

.borderWidth-xs {
  border-width: 1px;
}

.borderWidth-sm {
  border-width: 2px;
}

.borderWidth-md {
  border-width: 4px;
}

.borderWidth-lg {
  border-width: 8px;
}

.base-black {
  color: #000000;
}

.base-white {
  color: #ffffff;
}

.neu-50 {
  color: #f8fafc;
}

.neu-100 {
  color: #f1f5f9;
}

.neu-200 {
  color: #e2e8f0;
}

.neu-300 {
  color: #cbd5e1;
}

.neu-400 {
  color: #94a3b8;
}

.neu-500 {
  color: #64748b;
}

.neu-600 {
  color: #475569;
}

.neu-700 {
  color: #334155;
}

.neu-800 {
  color: #1e293b;
}

.neu-900 {
  color: #0f172a;
}

.red-50 {
  color: #fff2f0;
}

.red-100 {
  color: #ffd5cf;
}

.red-200 {
  color: #ffafa6;
}

.red-300 {
  color: #f58078;
}

.red-400 {
  color: #e8524d;
}

.red-500 {
  color: #dc2626;
}

.red-600 {
  color: #b5161b;
}

.red-700 {
  color: #8f0a13;
}

.red-800 {
  color: #69020c;
}

.red-900 {
  color: #420109;
}

.orange-50 {
  color: #fff3e6;
}

.orange-100 {
  color: #ffd6b0;
}

.orange-200 {
  color: #ffbd87;
}

.orange-300 {
  color: #ffa15e;
}

.orange-400 {
  color: #f97316;
}

.orange-500 {
  color: #ea580c;
}

.orange-600 {
  color: #c43e00;
}

.orange-700 {
  color: #9e2d00;
}

.orange-800 {
  color: #781e00;
}

.orange-900 {
  color: #521200;
}

.yellow-50 {
  color: #fff7e6;
}

.yellow-100 {
  color: #ffe3ab;
}

.yellow-200 {
  color: #ffd182;
}

.yellow-300 {
  color: #f2b355;
}

.yellow-400 {
  color: #e6952c;
}

.yellow-500 {
  color: #d97706;
}

.yellow-600 {
  color: #b35900;
}

.yellow-700 {
  color: #8c4100;
}

.yellow-800 {
  color: #662c00;
}

.yellow-900 {
  color: #401a00;
}

.green-50 {
  color: #e6f5e9;
}

.green-100 {
  color: #b0e8be;
}

.green-200 {
  color: #84db9c;
}

.green-300 {
  color: #5bcf80;
}

.green-400 {
  color: #36c267;
}

.green-500 {
  color: #1cb552;
}

.green-600 {
  color: #0e8f40;
}

.green-700 {
  color: #026930;
}

.green-800 {
  color: #004220;
}

.green-900 {
  color: #001c0e;
}

.teal-50 {
  color: #e1f5ef;
}

.teal-100 {
  color: #b0e8d9;
}

.teal-200 {
  color: #84dbc7;
}

.teal-300 {
  color: #5bcfb7;
}

.teal-400 {
  color: #36c2ab;
}

.teal-500 {
  color: #16b59f;
}

.teal-600 {
  color: #0a8f82;
}

.teal-700 {
  color: #026962;
}

.teal-800 {
  color: #004240;
}

.teal-900 {
  color: #001c1c;
}

.blue-50 {
  color: #f0f6ff;
}

.blue-100 {
  color: #dee9ff;
}

.blue-200 {
  color: #b5ccff;
}

.blue-300 {
  color: #8cadff;
}

.blue-400 {
  color: #638aff;
}

.blue-500 {
  color: #375ff3;
}

.blue-600 {
  color: #2543cc;
}

.blue-700 {
  color: #162ba6;
}

.blue-800 {
  color: #0a1880;
}

.blue-900 {
  color: #060d59;
}

.cyan-50 {
  color: #e6fcfc;
}

.cyan-100 {
  color: #b4ecf0;
}

.cyan-200 {
  color: #86dae3;
}

.cyan-300 {
  color: #5cc6d6;
}

.cyan-400 {
  color: #36b1c9;
}

.cyan-500 {
  color: #159abc;
}

.cyan-600 {
  color: #097596;
}

.cyan-700 {
  color: #015370;
}

.cyan-800 {
  color: #00344a;
}

.cyan-900 {
  color: #001824;
}

.indigo-50 {
  color: #f4f0ff;
}

.indigo-100 {
  color: #dfd6ff;
}

.indigo-200 {
  color: #bcadff;
}

.indigo-300 {
  color: #917ff5;
}

.indigo-400 {
  color: #6554e8;
}

.indigo-500 {
  color: #3b2cdb;
}

.indigo-600 {
  color: #231bb5;
}

.indigo-700 {
  color: #8c4100;
}

.indigo-800 {
  color: #662c00;
}

.indigo-900 {
  color: #401a00;
}

.purple-50 {
  color: #faf0ff;
}

.purple-100 {
  color: #f3dbff;
}

.purple-200 {
  color: #e2b3ff;
}

.purple-300 {
  color: #ce8aff;
}

.purple-400 {
  color: #b25ef7;
}

.purple-500 {
  color: #9333ea;
}

.purple-600 {
  color: #7021c4;
}

.purple-700 {
  color: #52139e;
}

.purple-800 {
  color: #370878;
}

.purple-900 {
  color: #220552;
}

.fuchsia-50 {
  color: #fff0fe;
}

.fuchsia-100 {
  color: #ffd1fe;
}

.fuchsia-200 {
  color: #f8a5fa;
}

.fuchsia-300 {
  color: #e777ed;
}

.fuchsia-400 {
  color: #d44ce0;
}

.fuchsia-500 {
  color: #c026d3;
}

.fuchsia-600 {
  color: #9717ad;
}

.fuchsia-700 {
  color: #700b87;
}

.fuchsia-800 {
  color: #4d0361;
}

.fuchsia-900 {
  color: #2c013b;
}

.opacity-color-mask {
  color: rgba(30, 41, 59, 0.65);
}

.opacity-color-app1 {
  color: rgba(54, 194, 103, 0.15);
}

.opacity-color-app2 {
  color: rgba(230, 149, 44, 0.15);
}

.opacity-color-app3 {
  color: rgba(54, 194, 171, 0.15);
}

.opacity-color-app4 {
  color: rgba(249, 115, 22, 0.15);
}

.opacity-color-app5 {
  color: rgba(54, 178, 201, 0.15);
}

.opacity-color-app6 {
  color: rgba(178, 94, 247, 0.15);
}

.opacity-color-app7 {
  color: rgba(101, 84, 232, 0.15);
}

.opacity-color-app8 {
  color: rgba(212, 76, 224, 0.15);
}

.opacity-color-app9 {
  color: rgba(99, 138, 255, 0.15);
}

.opacity-color-app10 {
  color: rgba(232, 82, 77, 0.15);
}

.opacity-low {
  opacity: 10%;
}

.opacity-md {
  opacity: 50%;
}

.opacity-high {
  opacity: 90%;
}

.fontFamily-inherit {
  font-family: inherit;
}

.fontFamily-simsun {
  font-family: SimSun, sans-serif;
}

.fontFamily-roboto {
  font-family: Roboto, sans-serif;
}

.lineHeight-xs {
  line-height: 75%;
}

.lineHeight-sm {
  line-height: 100%;
}

.lineHeight-md {
  line-height: 125%;
}

.lineHeight-lg {
  line-height: 150%;
}

.lineHeight-xl {
  line-height: 175%;
}

.lineHeight-xxl {
  line-height: 200%;
}

.fontWeight-regular {
  font-weight: 400;
}

.fontWeight-bold {
  font-weight: 500;
}

.fontSize-xs {
  font-size: 12px;
}

.fontSize-sm {
  font-size: 14px;
}

.fontSize-md {
  font-size: 16px;
}

.fontSize-lg {
  font-size: 18px;
}

.fontSize-xl {
  font-size: 20px;
}

.fontSize-xxl {
  font-size: 22px;
}

.fontSize-xxxl {
  font-size: 24px;
}

.typography-title-h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 125%;
  font-size: 24px;
  text-decoration: none;
}

.typography-title-h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 125%;
  font-size: 20px;
  text-decoration: none;
}

.typography-title-h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  text-decoration: none;
}

.typography-title-h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 150%;
  font-size: 14px;
  text-decoration: none;
}

.typography-title-h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 175%;
  font-size: 12px;
  text-decoration: none;
}

.typography-body-basic, .ofa-btn {
  font-family: inherit;
  font-weight: 400;
  line-height: 175%;
  font-size: 14px;
  text-decoration: none;
}

.typography-body-explain {
  font-family: inherit;
  font-weight: 400;
  line-height: 175%;
  font-size: 12px;
  text-decoration: none;
}

.typography-body-underline {
  font-family: inherit;
  font-weight: 400;
  line-height: 175%;
  font-size: 12px;
  text-decoration: underline;
}

.textDecoration-none {
  text-decoration: none;
}

.textDecoration-underline {
  text-decoration: underline;
}

.textDecoration-line-through {
  text-decoration: line-through;
}

/* 面包屑容器样式 */
.ofa-breadcrumb {
  display: flex;
}

/* 面包屑单元样式 */
/* 分割符样式 */
.ofa-breadcrumb-separator {
  padding: var(--spacing-xs);
}

/* 链接样式 */
/* 激活项样式 */
.ofa-btn {
  height: 32px;
  border: var(--borderWidth-xs) solid var(--border-button-default);
  border-radius: var(--borderRadius-md);
  border-top-right-radius: var(--borderRadius-xs);
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  color: var(--gray-600);
  background: var(--base-white);
}

.ofa-btn:hover {
  font-weight: var(--fontWeight-bold);
}

.ofa-btn:active {
  background: var(--neu-700);
  color: var(--base-white);
}

.ofa-btn--forbidden {
  background: var(--bg-lighter) !important;
  color: var(--neu-400) !important;
  border-color: var(--bg-light) !important;
}

/* loading */
.ofa-btn--primary {
  background: var(--blue-500);
  color: var(--base-white);
}

.ofa-btn--primary:hover {
  background: var(--blue-600);
}

.ofa-btn--primary:active {
  background: var(--blue-700);
}

.ofa-btn--danger {
  background: var(--red-500);
  color: var(--base-white);
}

.ofa-btn--danger:hover {
  background: var(--red-600);
}

.ofa-btn--danger:active {
  background: var(--red-700);
}

.ofa-checkbox-wrapper {
  background: transparent;
}

.ofa-checkbox-icon {
  border-radius: 0px;
}

/* 选中状态的选择框样式 */
.ofa-checkbox-wrapper__checked .ofa-checkbox-icon {
  background: var(--bg-primary);
}

/* 选中状态符号样式 */
.ofa-divider {
  background: var(--bg-light);
  margin: var(--spacing-md) 0;
}

.ofa-input {
  height: 30px;
  padding: 0 12px;
  outline: none;
  border: 1px solid var(--border-default);
}

.ofa-input:focus {
  border: 1px solid var(--blue-600);
}

/* 错误状态样式 */
.ofa-input__error {
  border: 1px solid var(--red-300);
}

/* 鼠标移入样式 */
/* 激活状态样式 */
.ofa-input__error:focus {
  border: 1px solid var(--red-500);
}

/* 容器样式 */
/* 图标样式 */
.ofa-loading__icon {
  animation: spin 2s linear infinite;
}

/* 文本样式 */
/* 外层容器 */
.ofa-pagination {
  display: flex;
  align-items: center;
}

/* 条目总数 */
.ofa-pagination-prev, .ofa-pagination-next {
  display: flex;
}

/* 快速跳转 */
.ofa-pagination-quick-jumper {
  display: flex;
  align-items: center;
}

/* 页面容量选择 */
.ofa-pagination-select-wrapper {
  display: flex;
  align-items: center;
}

/* 上下页禁止样式 */
.ofa-pagination-disabled {
  cursor: not-allowed;
}

/* 页码样式 */
.ofa-pagination-page-item {
  height: 100%;
  padding: 0 var(--spacing-md);
}

/* 当前页 */
.ofa-pagination-current-page {
  border-radius: 8px 2px 8px 8px;
  background: #F0F6FF;
  color: #375FF3;
}

/* 按钮鼠标移入效果 */
.ofa-pagination-current-page:hover {
  cursor: pointer;
}

/* 容器样式 */
/* 标签样式 */
/* 选择框样式 */
/* 选中状态的选择框样式 */
/* 选中状态符号样式 */
/* 选择框内容 */
/* 选择框样式 */
/* 按钮鼠标移入效果 */
.ofa-select-trigger:hover {
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}

/* 选择框激活状态 */
.ofa-select-trigger-active {
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}

/* 当前选择项 */
/* 选项 */
/* 按钮鼠标移入效果 */
/* 选项框提示文本 */
/* 选项框 */
/* 标签样式 */
.ofa-tab-nav-item {
  padding: var(--spacing-md);
  position: relative;
}

/* 按钮鼠标移入效果 */
.ofa-tab-nav-item:hover {
  color: var(--primary-600);
}

/* 标签激活样式 */
.ofa-tab-nav-active {
  font-weight: var(--fontWeight-bold);
  color: var(--primary-600);
}
.ofa-tab-nav-active::after {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  height: 4px;
  width: 100%;
  display: block;
  background: var(--primary-600);
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

/* 标签容器样式 */
/* 禁止样式 */
.ofa-tab-nav-disabled {
  color: var(--bg-light);
}
.ofa-tab-nav-disabled:hover {
  color: var(--bg-lighter);
}

/* 表格样式 */
.ofa-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  text-align: left;
  color: var(--gray-900);
  font-size: 12px;
}

/* 单元格样式 */
.ofa-table-td {
  padding: 12px;
  background-color: white;
  word-break: break-all;
  vertical-align: middle;
  border-bottom: 1px solid var(--gray-200);
  transition: padding 0.3s;
}

/* 表头样式 */
.ofa-table-th {
  padding: 12px;
  background: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  top: 0;
  line-height: 20px;
  font-weight: 400;
  user-select: none;
  color: var(--gray-600);
  z-index: 2;
  word-break: break-all;
  vertical-align: middle;
  border-bottom: 1px solid var(--gray-200);
  transition: padding 0.3s;
}

/* 行整体样式 */
/* 行鼠标移入样式 */
/* 紧凑模式单元格样式 */
.ofa-table-small td {
  padding: 6px;
}

/* 紧凑模式表头样式 */
.ofa-table-small th {
  padding: 6px;
}

/* 标签样式 */
.ofa-tag {
  background: var(--blue-50);
  padding: 2px var(--spacing-xs);
  color: var(--bg-primary);
}

/* 关闭按钮样式 */
.ofa-tag-delete-icon {
  margin-left: var(--spacing-lg);
}

.ofa-tag-disabled {
  color: var(--bg-weaker);
}

/* 标签样式 */
.ofa-tag--primary {
  background: var(--bg-primary);
  color: var(--base-white);
}

/* 标签样式 */
.ofa-tag--success {
  background: var(--bg-status-success);
  color: var(--base-white);
}

/* 标签样式 */
.ofa-tag--danger {
  background: var(--bg-status-error);
  color: var(--base-white);
}

.ofa-tag-disabled {
  background: var(--bg-light);
}