.pb-authorized-box {
  min-width: 400px;
  background: #FFFFFF;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
}

.pb-authorized-box:not(:last-child) {
  margin-bottom: 20px;
}

.pb-authorized-checkbox-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 16px;
  border-top: 1px solid var(--gray-200);
  padding: 20px;
}