.api-doc-details-nav {
  position: relative;
  background-color: var(--gray-50);
  min-width: 236px;
  max-width: 236px;
  border-right: 1px solid var(--gray-300);
  overflow: hidden;
}

.model-menu {
  overflow: auto;
  .ant-collapse-header[aria-expanded*="false"] .ant-collapse-arrow svg {
    transform: rotate(-90deg);
  }
  .ant-collapse-item {   
    .ant-collapse-header {
      height: 40px;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      color: var(--gray-900);
      .ant-collapse-arrow {
        top: 3.0005px ;
      }
    }
    .ant-collapse-content{
      .ant-collapse-content-box{
        padding: 0;
      }
    }
    
  }
}

.api-tab {
  .tab-navs {
    padding-left: 16px;
    .tab-nav-item {
      padding: 14px 16px;
    }
  }
  .tab-content {
    padding: 0px 20px;
    .qxp-ui-tooltip.top {
      bottom: calc(100% + 0px);
      left: 40%;
      transform: translateX(-50%);
  }
    .qxp-table-wrapper {
      .copy-tooltip {
        padding: 0;
      }
      .massage_table tr:hover .field-id .copy-tooltip{
        visibility: visible;   
      }
    }
    .api-content {
      position: relative;
      & > .copy-button{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        display: inline-flex;
        box-sizing: content-box;
        align-items: center;
        padding: 5px 8px;
        color: var(--gray-50);
        &:hover {
          color: var(--blue-600);
        }
      }
    }   
    .api-details {
      @apply text-12;
      border: 1px solid #F1F5F9;
      border-radius: 8px;
    }
    .api-content-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: var(--gray-600);
      margin: 16px 0 8px;
    }
  }
}
