.pb-form-right-item {
  display: flex;
  height: 58px;
  border-radius: 8px 8px 0 0;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--gray-200);
  justify-content: space-between;
  align-items: center;

  .menu-name {
    display: flex;
    align-items: center;

    .menu-name-icon {
      margin-right: 8px;
    }
  }
}

.pb-form-right-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-300);
  padding: 0 20px;
  height: 62px;
}

.pb-form-right-action {
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  color: var(--blue-600);

  >span {
    cursor: pointer;
  }
}

.pb-form-right-user,
.pb-form-right-dep {
  max-width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  border-radius: 4px 0px;
  padding-right: 8px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: 8px;
  }
}

.pb-form-right-user {
  color: var(--blue-600);
  background-color: var(--blue-100);

  span {
    background-color: var(--blue-600);
  }
}

.pb-form-right-dep {
  color: var(--yellow-600);
  background-color: var(--yellow-50);

  span {
    background-color: var(--yellow-600);
  }
}

.authority-detail {
  height: 100%;
  overflow: hidden;

  .qxp-tab-container {
    height: auto;
  }

  position: relative;

  &>.rights-mes {
    position: absolute;
    top: 16px;
    left: 32px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 20;

    .rights-des {
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .rights-image {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 104px;
    height: 48px;
    overflow: hidden;
    border-radius: 8px;
    z-index: 10;

    &-inner {
      position: relative;
      width: 100%;
      height: 100%;


      .yellow {
        width: 104px;
        height: 52px;
        position: absolute;
        left: 55.64%;
        right: 0%;
        top: -101.14%;
        bottom: 86.36%;
        background: linear-gradient(180deg, #FCD34D 0%, #FBBF24 100%);
        border-radius: 26px;
        transform: rotate(120deg);
      }

      .purple {
        width: 104px;
        height: 52px;
        position: absolute;
        left: 62.64%;
        right: 22.13%;
        top: 27.86%;
        bottom: 86.36%;
        background: linear-gradient(180deg, #F0ABFC 0%, #E879F9 100%);
        opacity: 0.65;
        border-radius: 26px;
      }

      .orange {
        width: 104px;
        height: 52px;
        border: 1px solid orange;
        position: absolute;
        left: 8.97%;
        right: -1.19%;
        bottom: 85.2%;
        border-radius: 26px;
        transform: rotate(-105deg);
      }
    }
  }

  .rights-tab {
    .tab-navs {
      width: auto;
      height: 48px;
      margin: 0 16px;
      border-radius: 8px;
      justify-content: center;
      background: url(/dist/images/authority-line.png) top right no-repeat, linear-gradient(90deg, #638AFF 0%, #375FF3 100%);
      background-size: contain;
      box-shadow: 0px 8px 24px 8px rgba(55, 95, 243, 0.15);

      .tab-nav-item {
        color: #fff;

        &:hover {
          color: #fff;
        }

        &::after {
          background: #fff;
        }
      }
    }

    .tab-content {
      padding: 0;
      border-radius: 0;
    }
  }
}

.menu-nav {
  background: var(--gray-50);

  .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon,
  .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow {
    color: inherit;
  }

  .ant-menu-submenu-selected {
    color: inherit;
  }

  .ant-menu {
    background: var(--gray-100);

    .ant-menu-item,
    .ant-menu-submenu-title {
      padding-left: 16px !important;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .ant-menu-sub li {
      padding-left: 48px !important;
    }

    [role="menuitem"]:hover,
    .ant-menu-item-selected {
      color: var(--gray-900);
      font-size: 16px;
      font-weight: 600;
      background-color: #fff;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      color: var(--gray-900);
      font-size: 16px;
      font-weight: 600;
      background-color: #fff;
    }

    .ant-menu-item::after {
      opacity: 0;
    }

    .ant-menu-submenu-title {
      padding-left: 50px !important;

      .ant-menu-submenu-arrow {
        left: 21px
      }
    }
  }
}

.conf-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0 16px;
  border-bottom: 1px solid var(--blue-1000);
}

.pb-authorized-box {
  min-width: 400px;
  background: #FFFFFF;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
}

.pb-authorized-box:not(:last-child) {
  margin-bottom: 20px;
}

.page-item {
  align-items: center;
  background: #F1F5F9;
  border-radius: 4px 0px;
  padding: 2px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #475569;
  margin-right: 8px;
  margin-bottom: 8px;
}

.pb-authorized-checkbox-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 16px;
}

.pb-field-box {
  border-radius: 12px;
  background-color: #FFFFFF;
}

.pb-field-item-title {
  height: 44px;
  color: var(--gray-600);
}

.pb-field-item {
  height: 56px;
  color: var(--gray-900);
}

.pb-field-item,
.pb-field-item-title {
  display: grid;
  padding: 0 24px;
  align-items: center;
  justify-items: left;
  grid-template-columns: minmax(0, 1fr) 100px 100px;
  grid-column-gap: 16px;
  border-bottom: 1px solid var(--gray-200);
  font-size: 14px;
  line-height: 22px;

  &>span:first-of-type {
    justify-self: start;
  }
}

.rights-hidden {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: noneï¼›
}

.suffix-text {
  color: var(--teal-500);
}

.fields-tip {
  display: flex;
  height: 46px;
  color: var(--blue-600);
  align-items: center;
  justify-content: between;
  margin-bottom: 12px;
  background-color: var(--blue-100);
  border-radius: 4px 12px 12px 12px;
}

.data-permission {
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--gray-200);
  overflow-x: auto;

  .data-permission-item {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    align-items: center;

    .permission-name {
      display: flex;
      align-items: center;

      .menu-permission-icon {
        margin-right: 8px;
      }
    }
  }
}


.data-filter {
  padding: 16px;
  border-top: 1px solid var(--gray-200);

  .ant-select .ant-select-selector {
    border-radius: 2px 8px 8px 8px;
  }
}

.antd-menu {
  .ant-menu-submenu {
    .ant-menu-submenu-title {
      .ant-menu-title-content {
        font-size: 12px;
      }
    }
  }

  .ant-menu-item {
    font-size: 12px;

    &:hover {
      .ant-menu-title-content {
        font-size: 12px;
      }
    }
  }

  .ant-menu-item-selected {
    .ant-menu-title-content {
      font-size: 12px;
    }
  }
}

.tab-label-item {
  font-size: 12px !important;
  line-height: 24px !important;
}


.access-btn {
  .btn {
    font-size: 12px;
  }

  div {
    &:nth-child(2) {
      margin-right: 0;
    }
  }

  label.radio-button {
    margin-right: 0;

    span {
      font-size: 12px;
    }
  }
}
