@keyframes warn {
0% {
transform: scale(0.3);
opacity: 0.0;
}

25% {
transform: scale(0.3);
opacity: 0.1;
}

50% {
transform: scale(0.5);
opacity: 0.3;
}

75% {
transform: scale(0.8);
opacity: 0.5;
}

100% {
transform: scale(1);
opacity: 0.0;
}
}

@keyframes warn1 {
0% {
transform: scale(0.3);
opacity: 0.0;
}

25% {
transform: scale(0.3);
opacity: 0.1;
}

50% {
transform: scale(0.3);
opacity: 0.3;
}

75% {
transform: scale(0.5);
opacity: 0.5;
}

100% {
transform: scale(0.8);
opacity: 0.0;
}
}

/* 保持大小不变的小圆点 */
.faas-status-dot {
position: absolute;
width: 8px;
height: 8px;
border-radius: 100%;
border-radius: 50%; 
background-color:var(--status-color); /* 实心圆 ，如果没有这个就是一个小圆圈 */
z-index: 2;
}
/* 产生动画（向外扩散变大）的圆圈 第一个圆 */
.faas-status-pulse {
position: absolute;
width: 30px;
height: 30px;
border: 1px solid var(--status-shadow-color);
border-radius: 100%;
z-index: 1;
left: -11px;
top: -11px;
opacity: 0;
animation: warn 2s ease-out;
animation-iteration-count: infinite;
box-shadow: 1px 1px 30px var(--status-shadow-color); /* 阴影效果 */
}
/* 产生动画（向外扩散变大）的圆圈 第二个圆 */
.faas-status-pulse1 {
position: absolute;
width: 30px;
height: 30px;
border: 1px solid var(--status-shadow-color);
left: -11px;
top: -11px;
border-radius: 100%;
z-index: 1;
opacity: 0;
animation: warn1 2s ease-out;
animation-iteration-count: infinite;
box-shadow: 1px 1px 30px var(--status-shadow-color); /* 阴影效果 */
}