.qxp-table-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: white;

  // create a new stacking context for preventing z-index out bound of sticky element
  opacity: 0.999;

  .adjust-handle {
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    touch-action:none;
    border-radius: 10px;
    cursor: col-resize;

    &:active {
      background-color: var(--blue-600) !important;
    }
  }

  .table-selector {
    min-width: 16px;
  }

  .qxp-table-small {
    th, td {
      padding: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .qxp-table-middle {
    th, td {
      padding: 16px;
    }
  }
  
  .qxp-table {
    max-height: 100%;
    overflow: auto;

    table {
      width: 100%;
      table-layout: fixed;
      min-width: max-content;
      border-collapse: separate;
      text-align: left;
      color: var(--gray-900);
    }

    th, td {
      word-break: break-all;
      background-color: white;
      vertical-align: middle;
      border-bottom: 1px solid var(--gray-200);
      transition: padding .3s;
    }

    th {
      position: sticky;
      // todo support group header
      top: 0;
      font-weight: 400;
      user-select: none;
      color: var(--gray-600);
      z-index: 2;

      &:hover {
        .adjust-handle {
          width: 6px;
          background-color: var(--blue-500);
        }
      }
    }

    [data-sticky-td] {
      position: sticky;
    }

    [data-sticky-last-left-td] {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transition: box-shadow .3s;
        content: "";
        pointer-events: none;
        box-shadow: inset -10px 0 8px -8px #00000026;
      }
    }

    [data-sticky-first-right-td] {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: -1px;
        width: 30px;
        transition: box-shadow .3s;
        content: "";
        pointer-events: none;
        box-shadow: inset 10px 0 8px -8px #00000026;
      }
    }

    tbody {
      tr {

        &:hover td {
          background-color: var(--blue-100);
        }

        td {
          &.table__cell-fixed {
            position: sticky;
          }
        }
      }
    }

    tbody>tr>.qxp-table-td {
      padding: 17px 16px;
      border-bottom: 1px solid;
      border-color: var(--gray-200);
      background-color: #fff;
    }
  }

  .qxp-table-empty {
    padding: 30px;
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .qxp-table-total-tips {
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-600);
  }

  .qxp-table-tr {
    &:hover .qxp-table-td {
      background-color: var(--gray-100);
    }
  }
}

.qxp-table-loading {
  padding: 0 16px;

  td {
    padding: 17px 16px;
    border-bottom: 1px solid;
    border-color: var(--gray-200);
  }
}

.qxp-table-loading-block-1,.qxp-table-loading-block-2,.qxp-table-loading-block-3 {
  background: linear-gradient(90deg, #fff, #edeff1, #fff);
  background-size: 200px 50px;
  animation: skeleton-stripes .8s linear infinite;
}

.qxp-table-loading-block-1 {
  width: 50px;
  height: 14px;
}

.qxp-table-loading-block-2 {
  width: 72px;
  height: 14px;
}

.qxp-table-loading-block-3 {
  width: 112px;
  height: 14px;
}

@keyframes skeleton-stripes {
  0% { background-position: 0 0 }
  to { background-position: 200px 0 }
}
