.qxp-table-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: white;

  // create a new stacking context for preventing z-index out bound of sticky element
  opacity: 0.999;

  .adjust-handle {
    display: inline-block;
    background-color: var(--gray-200);
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action:none;
    cursor: col-resize;

    &.isResizing {
      width: 8px;
      background-color: var(--blue-800);
    }
  }
  
  .qxp-table {
    max-height: 100%;
    overflow: auto;

    table {
      width: 100%;
      table-layout: fixed;
      min-width: max-content;
      border-collapse: separate;
      text-align: left;
      color: var(--gray-900);
    }

    th, td {
      padding: 0 12px;
      word-break: break-all;
      background-color: white;
      vertical-align: middle;
      border-bottom: 1px solid var(--gray-200);
    }

    th {
      position: sticky;
      // todo support group header
      top: 0;
      line-height: 44px;
      font-weight: 400;
      user-select: none;
      color: var(--gray-600);
      z-index: 2;

      &:hover {
        .adjust-handle {
          width: 8px;
          background-color: var(--blue-500);
        }
      }
    }

    [data-sticky-td] {
      position: sticky;
    }

    [data-sticky-last-left-td] {
      box-shadow: 2px 0px 3px var(--gray-200);
    }

    [data-sticky-first-right-td] {
      box-shadow: -2px 0px 3px var(--gray-200);
    }

    tbody {
      tr {

        &:hover td {
          background-color: var(--blue-100);
        }

        td {
          height: 56px;
          &.table__cell-fixed {
            position: sticky;
          }
        }
      }
    }

    // thead>tr>.qxp-table-th {
    //   position: sticky;
    //   top: 0px;
    //   padding: 11px 16px;
    //   font-size: 14px;
    //   font-weight: normal;
    //   line-height: 22px;
    //   color: var(--gray-600);
    //   border-bottom: 1px solid;
    //   background-color: #fff;
    //   border-color: var(--gray-200);
    // }

    tbody>tr>.qxp-table-td {
      padding: 17px 16px;
      border-bottom: 1px solid;
      border-color: var(--gray-200);
      background-color: #fff;
    }
  }

  .qxp-table-empty {
    padding: 30px;
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .qxp-table-total-tips {
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-600);
  }

  .qxp-table-tr {
    &:hover .qxp-table-td {
      background-color: var(--gray-100);
    }
  }
}

.qxp-table-loading {
  padding: 0 16px;

  td {
    padding: 17px 16px;
    border-bottom: 1px solid;
    border-color: var(--gray-200);
  }
}

.qxp-table-loading-block-1,.qxp-table-loading-block-2,.qxp-table-loading-block-3 {
  background: linear-gradient(90deg, #fff, #edeff1, #fff);
  background-size: 200px 50px;
  animation: skeleton-stripes .8s linear infinite;
}

.qxp-table-loading-block-1 {
  width: 50px;
  height: 14px;
}

.qxp-table-loading-block-2 {
  width: 72px;
  height: 14px;
}

.qxp-table-loading-block-3 {
  width: 112px;
  height: 14px;
}

@keyframes skeleton-stripes {
  0% { background-position: 0 0 }
  to { background-position: 200px 0 }
}
