.app-bg-icon {
    @apply flex justify-center items-center relative overflow-hidden;
    width: var(--app-Icon-size);
    height: var(--app-Icon-size);
    min-width: var(--app-Icon-size);
    min-height: var(--app-Icon-size);
    border-radius: calc(var(--app-corner-12-2-12-12)) 2px calc(var(--app-corner-12-2-12-12))
        calc(var(--app-corner-12-2-12-12));
    & > .svg-icon {
        z-index: 1;
    }
}
.app-bg-icon-circle {
    &::before,
    &::after {
        @apply block absolute;
        content: "";
        mix-blend-mode: multiply;
        opacity: 0.15;
        border-radius: calc(var(--app-Icon-size) / 1.6);
    }
    &::before {
        @apply inset-x-0 top-2/4 -bottom-1/2;
    }
    &::after {
        @apply inset-y-0;
        left: -46.15%;
        right: 46.15%;
    }
}

.bg-icon-circle-amber {
    &::before,
    &::after {
        background: #f59e0b;
    }
}

.bg-icon-circle-orange {
    &::before,
    &::after {
        background: #f97316;
    }
}

.bg-icon-circle-indigo {
    &::before,
    &::after {
        background: #6366f1;
    }
}

.bg-icon-circle-teal {
    &::before,
    &::after {
        background: #14b8a6;
    }
}

.bg-icon-circle-fuchsia {
    &::before,
    &::after {
        background: #d946ef;
    }
}

.bg-icon-circle-emerald {
    &::before,
    &::after {
        background: #10b981;
    }
}

.bg-icon-circle-cyan {
    &::before,
    &::after {
        background: #06b6d4;
    }
}

.bg-icon-circle-red {
    &::before,
    &::after {
        background: #ef4444;
    }
}
