.svg-icon {
  @apply align-middle;
  display: inline-block;
  color: currentColor;
  fill: currentColor;
}

.svg-icon--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.svg-icon--changeable {
  &:hover,
  &:active {
    color: var(--icon-coloured-color);
    fill: var(--icon-coloured-fill);
  }
}

.svg-icon--clickable {
  cursor: pointer;
}
