.svg-icon {
  @apply align-middle;
}

.svg-icon--light {
  @apply text-white fill-current;
}

.svg-icon--dark {
  @apply text-gray-600 fill-current;
}

.svg-icon--primary {
  @apply text-blue-600 fill-current;
}

.svg-icon--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.svg-icon--changeable {
  &:hover,
  &:active {
    color: var(--icon-coloured-color);
    fill: var(--icon-coloured-fill);
  }
}

.svg-icon--clickable {
  cursor: pointer;
}

// .svg-icon[data-name='loading'] {
//   animation-name: spinner;
//   animation-duration: 2s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
// }

// .icons-group {
//   display: flex;

//   .svg-icon {
//     cursor: pointer;
//     flex-shrink: 0;
//   }

//   .svg-icon:not(:last-child) {
//     @apply mr-12;
//   }
// }

// .icons-group--large {
//   .svg-icon {
//     @apply w-20 h-20;
//   }

//   .svg-icon:not(:last-child) {
//     @apply mr-16;
//   }
// }

// .confirm-check-icon svg {
//   @apply text-green-50;
// }

// .cancel-close-icon svg {
//   @apply text-red-50;
// }
