{{define "_import-map"}}
<script type="systemjs-importmap">
  {
    "imports": {
      "@formily/antd-components": "/dist/externals/formily/antd-components.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/antd": "/dist/externals/formily/antd.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/core": "/dist/externals/formily/core.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/react-schema-renderer": "/dist/externals/formily/react-schema-render.1.3.14{{if not .debugMode}}.min{{end}}.js",
      "@formily/react-shared-components": "/dist/externals/formily/react-shared-components.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/react": "/dist/externals/formily/react.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/shared": "/dist/externals/formily/shared.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/validator": "/dist/externals/formily/validator.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@QCFE/lego-ui": "/dist/externals/lego-ui.0.1.30{{if not .debugMode}}.min{{end}}.js",
      "antd": "/dist/externals/antd.4.15.0{{if not .debugMode}}.min{{end}}.js",
      "lodash": "/dist/externals/lodash.js",
      "moment": "/dist/externals/moment.js",
      "react-dom": "/dist/externals/react-dom.17.0.1{{if not .debugMode}}.min{{end}}.js",
      "react": "/dist/externals/react.17.0.1{{if not .debugMode}}.min{{end}}.js",
      "react-is": "/dist/externals/react-is.17.0.1{{if not .debugMode}}.min{{end}}.js",
      "draft-js": "/dist/externals/@ofa/draft-js@0.11.7/index{{if not .debugMode}}.min{{end}}.js",
      "html-to-draftjs": "/dist/externals/@ofa/html-to-draftjs@1.14.7/index{{if not .debugMode}}.min{{end}}.js",
      "jszip": "/dist/externals/@ofa/jszip@3.7.1/index{{if not .debugMode}}.min{{end}}.js",
      "ramda": "/dist/externals/@ofa/ramda@0.27.1/index{{if not .debugMode}}.min{{end}}.js",
      "react-beautiful-dnd": "/dist/externals/@ofa/react-beautiful-dnd@13.1.0/index{{if not .debugMode}}.min{{end}}.js",
      "react-dnd": "/dist/externals/@ofa/react-dnd@14.0.4/index{{if not .debugMode}}.min{{end}}.js",
      "react-draft-wysiwyg": "/dist/externals/@ofa/react-draft-wysiwyg@1.14.7/index{{if not .debugMode}}.min{{end}}.js",
      "react-flow-renderer": "/dist/externals/@ofa/react-flow-renderer@9.6.9/index{{if not .debugMode}}.min{{end}}.js",
      "react-highlight": "/dist/externals/@ofa/react-highlight@0.14.0/index{{if not .debugMode}}.min{{end}}.js",
      "rxjs/ajax": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs-ajax{{if not .debugMode}}.min{{end}}.js",
      "rxjs/fetch": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs-fetch{{if not .debugMode}}.min{{end}}.js",
      "rxjs/operators": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs-operators{{if not .debugMode}}.min{{end}}.js",
      "rxjs/shared": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs-shared{{if not .debugMode}}.min{{end}}.js",
      "rxjs/testing": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs-testing{{if not .debugMode}}.min{{end}}.js",
      "rxjs/websocket": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs-websocket{{if not .debugMode}}.min{{end}}.js",
      "rxjs": "/dist/externals/@ofa/rxjs6@6.6.7/rxjs{{if not .debugMode}}.min{{end}}.js",
      "xlsx": "/dist/externals/@ofa/xlsx@0.17.3/index{{if not .debugMode}}.min{{end}}.js"
    }
  }
</script>
{{end}}

{{define "_systemjs"}}
<script src="/dist/externals/system.6.10.3{{if not .debugMode}}.min{{end}}.js"></script>
{{end}}

{{define "_jsEntry"}}
<script type="systemjs-module" src="/dist/{{ .jsEntrySrc }}"></script>
{{end}}
