{{define "_import-map"}}
<script type="systemjs-importmap">
  {
    "imports": {
      "@formily/antd-components": "https://ofapkg.pek3b.qingstor.com/formily/antd-components.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/antd": "https://ofapkg.pek3b.qingstor.com/formily/antd.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/core": "https://ofapkg.pek3b.qingstor.com/formily/core.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/react-schema-renderer": "https://ofapkg.pek3b.qingstor.com/formily/react-schema-render.1.3.14{{if not .debugMode}}.min{{end}}.js",
      "@formily/react-shared-components": "https://ofapkg.pek3b.qingstor.com/formily/react-shared-components.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/react": "https://ofapkg.pek3b.qingstor.com/formily/react.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/shared": "https://ofapkg.pek3b.qingstor.com/formily/shared.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@formily/validator": "https://ofapkg.pek3b.qingstor.com/formily/validator.1.3.13{{if not .debugMode}}.min{{end}}.js",
      "@QCFE/lego-ui": "https://ofapkg.pek3b.qingstor.com/lego-ui/lego-ui.0.1.30{{if not .debugMode}}.min{{end}}.js",
      "antd": "https://ofapkg.pek3b.qingstor.com/antd/antd.4.15.0{{if not .debugMode}}.min{{end}}.js",
      "lodash": "https://ofapkg.pek3b.qingstor.com/lodash/lodash.js",
      "moment": "https://ofapkg.pek3b.qingstor.com/moment/moment.js",
      "react-dom": "https://ofapkg.pek3b.qingstor.com/react-dom@17.0.1/react-dom.17.0.1{{if not .debugMode}}.min{{end}}.js",
      "react": "https://ofapkg.pek3b.qingstor.com/react@17.0.1/react.17.0.1{{if not .debugMode}}.min{{end}}.js",
      "react-is": "https://ofapkg.pek3b.qingstor.com/react-is@17.0.1/react-is.17.0.1{{if not .debugMode}}.min{{end}}.js",
      "jszip": "https://ofapkg.pek3b.qingstor.com/@ofa/jszip@3.7.1/index{{if not .debugMode}}.min{{end}}.js",
      "ramda": "https://ofapkg.pek3b.qingstor.com/@ofa/ramda@0.27.1/index{{if not .debugMode}}.min{{end}}.js",
      "react-beautiful-dnd": "https://ofapkg.pek3b.qingstor.com/@ofa/react-beautiful-dnd@13.1.0/index{{if not .debugMode}}.min{{end}}.js",
      "react-dnd": "https://ofapkg.pek3b.qingstor.com/@ofa/react-dnd@14.0.4/index{{if not .debugMode}}.min{{end}}.js",
      "react-flow-renderer": "https://ofapkg.pek3b.qingstor.com/@ofa/react-flow-renderer@9.6.9/index{{if not .debugMode}}.min{{end}}.js",
      "rxjs/ajax": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs-ajax{{if not .debugMode}}.min{{end}}.js",
      "rxjs/fetch": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs-fetch{{if not .debugMode}}.min{{end}}.js",
      "rxjs/operators": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs-operators{{if not .debugMode}}.min{{end}}.js",
      "rxjs/shared": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs-shared{{if not .debugMode}}.min{{end}}.js",
      "rxjs/testing": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs-testing{{if not .debugMode}}.min{{end}}.js",
      "rxjs/websocket": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs-websocket{{if not .debugMode}}.min{{end}}.js",
      "rxjs": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs6@6.6.7/rxjs{{if not .debugMode}}.min{{end}}.js",
      "xlsx": "https://ofapkg.pek3b.qingstor.com/@ofa/xlsx@0.17.3/index{{if not .debugMode}}.min{{end}}.js",
      "@ofa/api-spec-adapter": "https://ofapkg.pek3b.qingstor.com/@ofa/api-spec-adapter@0.0.1/index{{if not .debugMode}}.min{{end}}.js",
      "@ofa/render-engine": "https://ofapkg.pek3b.qingstor.com/@ofa/render-engine@0.4.1/index{{if not .debugMode}}.min{{end}}.js",
      "@ofa/utils": "https://ofapkg.pek3b.qingstor.com/@ofa/utils@0.0.1/index{{if not .debugMode}}.min{{end}}.js"
      "@ofa/style-guide": "http://localhost:8081/dist/style-guide@0.0.1/index.js"
    },
    "scopes": {
      "https://ofapkg.pek3b.qingstor.com/@ofa/render-engine@0.4.1/": {
        "rxjs/ajax": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs-ajax{{if not .debugMode}}.min{{end}}.js",
        "rxjs/fetch": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs-fetch{{if not .debugMode}}.min{{end}}.js",
        "rxjs/operators": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs-operators{{if not .debugMode}}.min{{end}}.js",
        "rxjs/shared": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs-shared{{if not .debugMode}}.min{{end}}.js",
        "rxjs/testing": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs-testing{{if not .debugMode}}.min{{end}}.js",
        "rxjs/websocket": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs-websocket{{if not .debugMode}}.min{{end}}.js",
        "rxjs": "https://ofapkg.pek3b.qingstor.com/@ofa/rxjs@7.4.0/rxjs{{if not .debugMode}}.min{{end}}.js"
      }
    }
  }
</script>
{{end}}

{{define "_systemjs"}}
<script src="https://ofapkg.pek3b.qingstor.com/system@6.10.3/system.6.10.3{{if not .debugMode}}.min{{end}}.js"></script>
{{end}}

{{define "_jsEntry"}}
<script type="systemjs-module" src="/dist/{{ .jsEntrySrc }}"></script>
{{end}}
