<!DOCTYPE html>
<html lang="zh">
<head>
  {{template "_common_head_meta"}}
  <link rel="stylesheet" href="/dist/css/antd.css">
  <link rel="stylesheet" href="/dist/css/lego-css.css">
  {{template "_import-map" .}}
  {{template "_systemjs" .}}
  {{template "_style_guide" .}}
</head>
<body>
  <div id="root"></div>
  <script>
    window.USER = {{ .user }}
    window.ADMIN_USER_FUNC_TAGS = {{ .adminUserFuncTags }}
    window.USER_ADMIN_ROLES = {{ .userAdminRoles }}
    window.CONFIG = {{ .CONFIG }}
    window.__verbose_log__ = {{ .debugMode }}
    window.TENANT_CONFIG = {{ .userStyleGuideConfig }}
    window.SIDE = 'home';
  </script>
  {{template "_jsEntry" .}}
</body>
</html>
