{{template "layout" .}}

{{define "header_styles"}}
  <title>登录</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
{{end}}

{{define "content"}}
    <main class="flex va-top flex-1 column align-center">
      {{ if .errorMessage }}
        <span class="hidden error fixed top-10 right-10 px-12 fs-12 py-4 bg-red text-white-n00 br-3"> {{ .errorMessage }} </span>
      {{ end }}
      <header class="flex row space-between align-center w-p-100">
        <div class="logo-company">
          <img class="va-middle" src="/dist/images/logo.png" alt="logo">
          <span class="text-black-n20 fs-16 va-middle">全象云</span>
        </div>
        <div class="to-login">
          <span class="text-black-n11 fs-14">没有账号?</span>
          <a href="/register" class="br-3 text-white-n00 bg-dark-n15 fs-14">立即注册</a>
        </div>
      </header>

      <form action="/login/captcha" method="post" class="inline-flex column text-left w360 w-m-p-100 flex-1 justify-center">
        <h1 class="flex space-between text-black-n20 fs-24 mb-40">
          欢迎登录
          <a class="fs-14" href="/login/password">密码登录</a>
        </h1>

        <div class="input-field mb-24">
          <input name="username" type="text" class="w-p-100 br-3" placeholder="邮箱或手机号">
          <div class="username-hints fs-12 text-red mt-3">hhh</div>
        </div>
        <div class="input-field with-appendix flex">
          <input name="captcha" type="text" class="br-3 flex-1 br-r-0" placeholder="输入验证码">
          <button class="clickable fs-12 px-12">获取验证码</button>
        </div>
        <div class="captcha-hints fs-12 mb-16 text-red mt-3">哈哈</div>

        <label class="input-field flex mb-16 align-center" for="protocol">
          <input type="checkbox" name="remember" id="protocol" class="br-3 clickable mr-8">
          <div class="flex space-between flex-1">
            <span class="fs-14 text-black-n11 clickable">
              下次自动登录
            </span>
            <span class="fs-14 text-black-n11 clickable">忘记密码?</span>
          </div>
        </label>

        <button type="submit" class="btn-login text-white-n00 bg-blue-b10 text-center fs-14 br-3 bd-none outline-none clickable">注册</button>
      </form>

    </main>

    <aside class="h-p-100 inline-block">
      <img class="h-p-100" src="/dist/images/register-bg.png" alt="aside-image">
    </aside>
{{end}}

{{define "bottom_scripts"}}
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
{{end}}
