{{template "layout" .}}

{{define "header_styles"}}
  <title>登录</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
{{end}}

{{define "content"}}
    <main class="flex va-top flex-1 column align-center">
        <span class="hidden error fixed top-10 right-10 px-12 fs-12 py-4 bg-red text-white-n00 br-3"> 
          {{ if .errorMessage }}{{ .errorMessage }}{{ end }}
        </span>
      <header class="flex row space-between align-center w-p-100">
        <div class="logo-company">
          <img class="va-middle" src="/dist/images/logo.svg" alt="logo">
          <span class="text-black-n20 fs-16 va-middle">全象云</span>
        </div>
      </header>

      <form action="/login/password{{if .redirectUrl}}?redirectUrl={{.redirectUrl}}{{end}}" method="post" class="inline-flex column text-left w360 w-m-p-100 flex-1 justify-center">
        <h1 class="flex space-between text-black-n20 fs-24 mb-40">
          欢迎登录
          <a class="fs-14" href="/login/captcha">验证码登录</a>
        </h1>

        <div class="input-field mb-24">
          <input name="username" type="text" class="w-p-100 br-3" placeholder="邮箱或手机号">
          <div class="username-hints fs-12 text-red mt-3"></div>
        </div>
        <div class="input-field relative">
          <input name="password" type="password" class="w-p-100 br-3 pr-36" placeholder="登录密码">
          <i class="w16 h16 absolute right-8 top-center clickable">
            <img src="/dist/images/eye-close.png" alt="eye-closed" class="w-p-100 h-p-100">
          </i>
        </div>
        <div class="password-hints fs-12 mb-16 text-red mt-3"></div>

        <button type="submit" class="btn-login text-white-n00 bg-blue-b10 text-center fs-14 br-3 bd-none outline-none clickable">登录</button>
      </form>

    </main>

    <aside class="h-p-100 inline-block">
      <img class="h-p-100" src="/dist/images/register-bg.png" alt="aside-image">
    </aside>
{{end}}

{{define "bottom_scripts"}}
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
{{end}}
