<!DOCTYPE html>
<html lang="zh">
<head>
  <title>登录</title>
  {{template "_common_head_meta"}}
  {{template "_login-by-captcha_links"}}
</head>
<body>
<main class="flex va-top flex-1 column align-center bg-main">
  <header class="flex row space-between align-center w-p-100">
    <div class="logo-company">
      <img class="va-middle" src="/dist/images/enfei/apple-touch-icon.png" alt="logo">
      <span class="text-black-100 fs-16 va-middle">中国恩菲</span>
    </div>
  </header>
  <form id="loginForm" action="/login/captcha{{if .redirectUrl}}?redirectUrl={{.redirectUrl}}{{end}}" method="post"
    class="inline-flex column text-left w360 w-m-p-100 flex-1 justify-center">
    <h1 class="flex space-between mb-40 text-h3">
      欢迎登录
      <a class="text-button flex align-center text-blue-b10" href="/login/password">
        密码登录
      </a>
    </h1>
    <p class="error-message">
      {{ if .errorMessage }}
      {{ .errorMessage }}
      {{ end }}
    </p>
    <div class="input-field mb-21">
      <input id="username" name="username" type="text" class="username w-p-100 text-body2" placeholder="手机号或邮箱">
      <div id="nameMessage" class="username-hints fs-12 text-red mt-3"></div>
    </div>
    <div class="input-field with-appendix flex relative">
      <input id="captcha" name="captcha" type="text" class="captcha flex-1 text-body2" placeholder="输入验证码">
      <span id="captchaBtn" type="button"
        class="captcha-btn clickable fs-12 pr-4 py-1 send text-body2 absolute right-10 top-center text-blue-b10">
        获取验证码
      </span>
    </div>
    <div id="captchaMessage" class="captcha-hints fs-12 mb-24 text-red mt-3"></div>
    <button type="submit"
      class="btn-login text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button">登录</button>
  </form>
</main>
<aside class="right-aside"></aside>
{{template "_login-by-captcha_scripts"}}
</body>
</html>
