{{template "layout" .}}

{{define "header_styles"}}
<title>登录</title>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
{{end}}

{{define "content"}}
<main class="flex va-top flex-1 column align-center bg-main">
  <header class="flex row space-between align-center w-p-100">
    <div class="logo-company">
      <img class="va-middle" src="/dist/images/enfei/favicon-32x32.png" alt="logo">
      <span class="text-black-100 fs-16 va-middle">中国恩菲</span>
    </div>
  </header>

  <form
    id="loginForm"
    action="/login/password{{if .redirectUrl}}?redirectUrl={{.redirectUrl}}{{end}}"
    method="post"
    class="inline-flex column text-left w360 w-m-p-100 flex-1 justify-center"
  >
    <h1 class="flex space-between mb-40 text-h3">
      欢迎登录
      <a class="text-button flex align-center text-blue-b10" href="/login/captcha">
        使用验证码登录
      </a>
    </h1>
    <p class="error-message">
      {{ if .errorMessage }}
      {{ .errorMessage }}
      {{ end }}
    </p>
    <div class="input-field mb-21">
      <input id="username" name="username" type="text" class="w-p-100 br-3 text-body2" placeholder="手机号或邮箱">
      <div id="nameMessage" class="username-hints fs-12 text-red mt-3"></div>
    </div>
    <div class="input-field relative">
      <input id="password" name="password" type="password" class="w-p-100 br-3 pr-36 text-body2" placeholder="密码">
      <i class="w16 h16 absolute right-8 top-center clickable">
        <img
          id="pwdImg"
          data-password-visible=false
          data-eye-off-src="/dist/images/visibility-off.svg"
          data-eye-open-src="/dist/images/visibility-on.svg"
          src="/dist/images/visibility-off.svg"
          alt="eye-closed"
          class="w-p-100 h-p-100"
        >
      </i>
    </div>
    <div id="pwdMessage" class="password-hints fs-12 mb-24 text-red mt-3"></div>

    <button type="submit"
      class="btn-login text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button">登录</button>
    <a href="/retrievePassword" class="text-caption mt-16 block underline">
      忘记密码
    </a>
  </form>

</main>

<aside class="right-aside"></aside>

{{end}}

{{define "bottom_scripts"}}
<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
{{end}}
