<!DOCTYPE html>
<html lang="zh">
<head>
  <title>登录</title>
  {{template "_common_head_meta"}}
  {{template "_login-by-password_links"}}
</head>
<body>
<main class="login-page flex va-top flex-1 column align-center bg-main">
  <header class="flex row space-between align-center w-p-100">
    <div class="logo-company">
      <img class="va-middle" src="/dist/images/enfi1.svg" alt="logo">
    </div>
  </header>


  <form id="loginForm1" action="/login/password{{if .redirectUrl}}?redirectUrl={{.redirectUrl}}{{end}}" method="post"
      class="login-form inline-flex column text-left w360 w-m-p-100 flex-1 justify-center">
      <h1 class="flex  space-between mb-40 text-h3 login-header">
        欢迎登录
        <div class="flex login-tab">
          <span class="text-button flex align-center login-link login-link-sso "   >
            SSO登录
          </span>
          <span class="text-button flex align-center login-link login-link-password" >
            密码登录
          </span>
          <span class="text-button flex align-center login-link login-link-captcha" >
            验证码登录
          </span>
        </div>
      </h1>
      
      <div class="mb-20">
        <p class="flex space-between  text-h4 text-blue-b10">
          全象云低代码
        </p>
        <p class="flex space-between text-h5">
          办公、业务、流程系统
        </p>
      </div>
      
   
      <p class="error-message">
        {{ if .errorMessage }}
        {{ .errorMessage }}
        {{ end }}
      </p>

      <div class="login--form">
        <button type="submit" id="sso-btn"
        class="btn-login text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button" >SSO登录</button>
      </div>
  


     <div   class="login--form">
      <div class="input-field mb-21">
        <input id="username1" name="username" type="text" class="w-p-100 br-3 text-body2" placeholder="手机号或邮箱">
        <div id="nameMessage1" class="username-hints fs-12 text-red mt-3"></div>
      </div>
      <div class="input-field input-password relative">
        <input id="password1" name="password" type="password" class="w-p-100 br-3 pr-36 text-body2" placeholder="密码">
        <i class="w16 h16 absolute right-8 top-center clickable">
          <img id="pwdImg1" data-password-visible=false data-eye-off-src="/dist/images/visibility-off.svg"
            data-eye-open-src="/dist/images/visibility-on.svg" src="/dist/images/visibility-off.svg" alt="eye-closed"
            class="w-p-100 h-p-100">
        </i>
      </div>
      <div id="pwdMessage1" class="login-hints password-hints fs-12 mb-24 text-red mt-3"></div>
  
      <button type="submit"
        class="btn-login text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button">登录</button>
      <a href="/retrievePassword" class="text-caption mt-16 block underline">
        忘记密码
      </a>
     </div>


     <div  class="login--form">
      <div class="input-field mb-21">
        <input id="username" name="username" type="text" class="username w-p-100 text-body2" placeholder="手机号或邮箱">
        <div id="nameMessage" class="username-hints fs-12 text-red mt-3"></div>
      </div>
      <div class="input-password input-field with-appendix flex relative">
        <input id="captcha" name="captcha" type="text" class="captcha flex-1 text-body2" placeholder="输入验证码">
        <span id="captchaBtn" type="button"
          class="captcha-btn clickable fs-12 pr-4 py-1 send text-body2 absolute right-10 top-center text-blue-b10">
          获取验证码
        </span>
      </div>
      <div id="captchaMessage" class="login-hints captcha-hints fs-12 mb-24 text-red mt-3"></div>
      <button type="submit"
        class="btn-login text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button">登录</button>
     </div>


   

  </form>





</main>
<aside class="right-aside"></aside>
{{template "_login-by-password_scripts"}}
{{template "_login-by-captcha_scripts"}}

</body>
</html>
