{{template "layout" .}}

{{define "header_styles"}}
  <title>重置密码</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
{{end}}

{{define "content"}}
    <main class="flex va-top flex-1 column align-center bg-main">
      <header class="flex row space-between align-center w-p-100">
        <div class="logo-company">
          <img class="va-middle" src="/dist/images/logo.svg" alt="logo">
          <span class="text-black-100 fs-16 va-middle">全象云</span>
        </div>
      </header>

      <form action="/resetPassword" method="post" class="inline-flex column text-left w540 w-m-p-100 flex-1 justify-center">
        <div class="bg-white px-90 py-64 br-12">
          <h1 class="flex space-between text-h3 mb-8">
            初始化密码
          </h1>
          <p class="error-message mt-2">
            {{ if .errorMessage }}
              {{ .errorMessage }}
            {{ end }}
          </p>
          <div class="text-caption mb-40">该账号初次登录，为了您的账户安全，请修改密码</div>
          <div class="input-field relative">
            <input name="oldPassword" type="pssword" class="w-p-100 br-3 pr-36 text-body2" placeholder="旧密码">
            <i class="w16 h16 absolute right-8 top-center clickable">
              <img src="/dist/images/visibility-off.svg" alt="eye-closed" class="w-p-100 h-p-100">
            </i>
          </div>
          <div class="oldPassword-hints fs-12 mb-24 text-red mt-3"></div>
          <div class="input-field relative">
            <input name="newPassword" type="password" class="w-p-100 br-3 pr-36 text-body2" placeholder="新密码">
            <i class="w16 h16 absolute right-8 top-center clickable">
              <img src="/dist/images/visibility-off.svg" alt="eye-closed" class="w-p-100 h-p-100">
            </i>
          </div>
          <div class="newPassword-hints fs-12 mb-24 text-red mt-3"></div>

          <button type="submit" class="btn-reset text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button w-p-100">设置新密码</button>
        </div>
      </form>

    </main>
{{end}}

{{define "bottom_scripts"}}
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
{{end}}
