{{template "layout" .}}

{{define "header_styles"}}
<title>重置密码</title>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
{{end}}

{{define "content"}}
<main class="flex va-top flex-1 column align-center bg-main">
  <header class="flex row space-between align-center w-p-100">
    <div class="logo-company">
      <img class="va-middle" src="/dist/images/enfei/favicon-32x32.png" alt="logo">
      <span class="text-black-100 fs-16 va-middle">中国恩菲</span>
    </div>
  </header>

  <form
    id="findForm"
    action="/retrievePassword"
    method="post"
    class="find-form inline-flex column text-left w540 w-m-p-100 flex-1 justify-center"
  >
    <div class="bg-white px-90 py-64 br-12 retrieve-password-wrapper">
      <h1 class="flex space-between text-h3 mb-8">
        找回密码
      </h1>
      <p class="error-message mt-2">
        {{ if .errorMessage }}
        {{ .errorMessage }}
        {{ end }}
      </p>
      <div class="text-caption mb-40 text-gray-400">
        通过手机号或邮箱找回密码，若无法找回，可联系企业管理员修改
      </div>
      <div class="input-field mb-21">
        <input id="username" name="username" type="text" class="username w-p-100 text-body2" placeholder="手机号或邮箱">
        <div id="nameMessage" class="username-hints fs-12 text-red mt-3"></div>
      </div>
      <div class="input-field with-appendix flex relative">
        <input id="captcha" name="captcha" type="text" class="captcha flex-1 text-body2" placeholder="输入验证码">
        <span
          id="captchaBtn"
          type="button"
          class="captcha-btn clickable fs-12 pr-4 py-1 send text-body2 absolute right-10 top-center text-blue-b10"
        >
          获取验证码
        </span>
      </div>
      <div id="captchaMessage" class="captcha-hints fs-12 mb-24 text-red mt-3"></div>
      <div class="input-field relative">
        <input id="newPassword" name="newPassword" type="password" class="password w-p-100 br-3 pr-36 text-body2"
          placeholder="新密码">
        <i class="w16 h16 absolute right-8 top-center clickable">
          <img
            id="newImg"
            data-password-visible=false
            data-eye-off-src="/dist/images/visibility-off.svg"
            data-eye-open-src="/dist/images/visibility-on.svg"
            src="/dist/images/visibility-off.svg"
            alt="eye-closed"
            class="new-img w-p-100 h-p-100"
          >
        </i>
      </div>
      <div id="newMessage" class="newPassword-hints fs-12 mb-24 text-red mt-3"></div>

      <button
        type="submit"
        class="btn-retrieve text-white-n00 bg-gray-7 py-5 text-center bd-none outline-none clickable text-button w-p-100"
      >
        设置新密码
      </button>
    </div>
    <a href="/login/password" class="text-underline-no-color mt-17 block text-center text-gray-600">
      返回登录
    </a>
  </form>

</main>
{{end}}

{{define "bottom_scripts"}}
<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
{{end}}
