.side-nav-link {
  @apply text-16 font-semibold text-gray-400 flex items-center relative pl-18 h-56 cursor-pointer;
  
  >div {
    display: none;
  }

  &:hover {
    background-color: var(--gray-100);
    color: var(--gray-600);
  
    >div {
      display: block
    }
  }
}

.side-nav-link-active {
  background-color: var(--gray-100);
  color: var(--gray-600);

  >div {
    display: block;
  }
}

.side-nav-link-active-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
