.app-setting-container {
  display: flex;
  flex-direction: column;
  padding: 20px 58px 0;
  margin: 0 auto;
  height: calc(100vh - 64px);
}

.app-nav {
  position: relative;
  min-width: 236px;
  max-width: 236px;
  border-right: 1px solid var(--gray-300);
  overflow: auto;
}

.nav-item {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #FFFFFF;
  }
}

.nav-background-image {
  position: relative;

  & {
    background-color: #F8FAFC !important;
    background-image: url('/dist/images/maskHeaderBackgroundImage.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.access-control {
  .tab-wrapper {
    .tab-content {
      padding: 0;
    }

    .nav-background-image {
      position: relative;

      & {
        background-color: var(--blueGray-50);
        background-image: url('/dist/images/maskHeaderBackgroundImage.png');
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .nav-content {
      padding: 16px 57px;
    }
  }
}

.nav-card-header {
  box-shadow: inset 0px -1px 0px #e2e8f0;
}

.api-content {
  position: relative;
  & > .copy-button{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: inline-flex;
    box-sizing: content-box;
    align-items: center;
    padding: 5px 8px;
    color: var(--gray-50);
    &:hover {
      color: var(--blue-600);
    }
  }
}     

.api-details {
  @apply text-12;
  border: 1px solid #F1F5F9;
  border-radius: 8px;
  
}

.api-content-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-600);
  margin-bottom: 0px;
}




