.app-setting-container {
  display: flex;
  flex-direction: column;
  padding: 20px 58px 0;
  margin: 0 auto;
  height: calc(100vh - 64px);
}

.app-nav {
  position: relative;
  background-color: #fff;
  min-width: 236px;
  max-width: 236px;
  border-right: 1px solid var(--gray-300);
  overflow: auto;
}

.nav-item {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--blue-600);
    background-color: var(--gray-100);
  }
}

.tab-wrapper {
  .nav-background-image {
    position: relative;

    & {
      background-color: var(--blueGray-50);
      background-image: url('/dist/images/maskHeaderBackgroundImage.png');
      background-position: top right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .nav-content {
    padding: 16px 57px;
  }
}

.nav-card-header {
  box-shadow: inset 0px -1px 0px #e2e8f0;
}
