.tree-node-item {
  height: 32px;

  &.tree-node--focused {
    background-color: #f1f5f9;
  }
}

input.api-from-input {
  width: 100%;
  height: 30px;
  padding: 5px 16px;
  margin: 8px 0;

  &.error {
    border: 1px solid var(--red-500);
  }
}

textarea.api-from-textarea {
  width: 100%;
  border: 1px solid var(--gray-200);
  padding: 7px 16px;
  margin-top: 8px;
  border-radius: 2px 8px 8px 8px;

  &.error {
    border: 1px solid var(--red-500);
  }

  &:focus-visible {
    outline: 0px;
  }

  &:focus {
    border: 1px solid var(--blue-600);
  }
}

.api-proxy {
  display: grid;
  grid-template-columns: 236px 1fr;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &--sider {
    border-top-left-radius: 12px;
    .side-search {
      > input {
        width: 100px;
      }
    }
    .tree-node-item {
      padding-left: 16px;
      padding-right: 16px;
      height: 36px;
      font-size: 12px;
      font-weight: normal;
      line-height: 24px;
      color: var(--gray-900);
      background: transparent;
      &:hover,
      &.tree-node--focused {
        background: white;
        &::after {
          content: "";
          width: 4px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 4px 0 0 4px;
          background-color: var(--blue-600);
        }
      }
    }
  }

  &--main-cont {
    display: grid;
    grid-template-rows: min-content 1fr;
    border-top-right-radius: 12px;
  }
}

.guide-page {
  display: grid;
  grid-template-rows: 92px 1fr 161px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &--header {
    border-bottom: 1px solid var(--gray-200);
  }

  &--body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 150px;

    > .empty-api-group {
      background: url("/dist/images/empty-api-list.svg") no-repeat;
      width: 120px;
      height: 120px;
    }
  }

  &--footer {
    border-top: 1px solid var(--gray-200);

    .guide-steps {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;

      .guide-item-caption {
        position: relative;
        display: inline-flex;
        align-items: center;

        > .guide-item-idx {
          display: inline-flex;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background: var(--blue-600);
          align-items: center;
          justify-content: center;
          margin-right: 4px;
          color: white;
          padding-bottom: 1px;
        }

        > .guide-item-txt {
          font-weight: 600;
        }

        > .guide-item-divider {
          flex: 1;
          height: 2px;
          width: calc(30vw - 40px);
          background: #e4ebf1;
          margin-left: 16px;
        }
      }

      .guide-item-desc {
        max-width: calc(30vw);
        margin-top: 15px;
      }
    }
  }
}

.swagger-upload {
  &:hover {
    border: 1px dashed var(--blue-600);
    .upload-refresh {
      visibility: visible;
    }
  }

  .upload-progress {
    position: absolute;
    top: -11px;
    width: calc(100% - 8px);
    .ant-progress-inner {
      background-color: transparent;
    }
  }

  .upload-refresh {
    background: rgba(15,23,42,0.5);
    border-radius: 8px;
    .refresh-button {
      z-index: 1;
      transition: none;
    }
  } 
}

.swagger-upload-fail {
  color: var(--rose-600);
  border-color: var(--rose-700);
  .upload-icon {
    color: var(--rose-600);
  }
}
