.tree-node-item {
  height: 32px;
  &.tree-node--focused {
    background-color: #F1F5F9;
  }
}

.api-proxy {
  display: grid;
  grid-template-columns: 236px 1fr;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: calc(100% - 50px);

  &--sider {
    border-top-left-radius: 12px;
    border-right: 1px solid var(--gray-300);
  }
  &--main-cont {
    border-top-right-radius: 12px;
  }
}
