.associated-span {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex: none;
  box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  cursor: default;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}

.associated-box {
  line-height: 32px;
}