.app-global-header {
 @apply flex justify-between px-24 bg-white items-center;
 height: 64px;
}

.app-global-header-icon {
  background-image: url('/dist/images/quanxiangyun.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.app-global-header-nav {
  @apply inline-flex items-center py-5 px-8 cursor-pointer;
  
  &:hover, &.app-nav-active {
    @apply text-blue-500 bg-blue-100;
  }
}

.app-unread-number {
  @apply inline-flex items-center justify-center px-6;
  transform: translate(-2px,-16px);
  font-weight: 500;
  line-height: 20px;
  font-family: Roboto;
  font-size: 12px;
  color: #fff;
  background-color: #EF4444;
}

.global-header-user-action {
  @apply cursor-pointer flex items-center h-36 hover:bg-blue-100 transition whitespace-nowrap text-gray-900 hover:text-gray-600 pl-16;        
}

.app-details-header {
  position: relative;
  z-index: 10;
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
}

.app-global-header-hr {
  width: 1px;
  height: 32px;
  margin: 0 24px;
  background-color: #E2E8F0;
}

.app-global-header-drop-item {
  @apply py-16 px-18 cursor-pointer;
  width: 298px;
}

.app-global-header-drop-more {
  left: 0;
  right: auto!important;
}

.app-global-header-status-tips-title {
  @apply text-yellow-600 mb-8 flex items-center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.app-global-header-cur-app {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.app-global-header-drop-item-active {
  background-color: var(--blue-100);
}