.option-set {
  &-item {
    width: 16.5vw;
    min-width: 220px;
  }

  &-form-add {
    margin-left: -184px;
  }

  &-no-data {
    display: flex;
    margin-top: 72px;
    margin-left: 58px;

    &--content {
      width: 294px;
    }

    &--title {
      margin-bottom: 8px;
      font-weight: 600;
      color: var(--gray-900);
    }

    &--des {
      margin-bottom: 16px;
      color: var(--gray-600);
    }
  }

  &-add-alert {
    height: 37px;

    &:hover {
      color: var(--blue-600);
      background-color: var(--blue-100);
    }
  }

  &-add-item {
    height: 37px;
  }

}

.form-add-dataset.is-horizon-layout {
  > .field .label {
    width: 25%;
  }
}

.dataset {
  background-color: #FFFFFF;

  button.btn--add {
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &-names {
    border-right: 1px solid var(--gray-200);

    &--toolbar {
      position: static;
    }

    .name-item {
      &.active {
        background-color: var(--gray-100);
      }

      &:hover {
        .action-more {
          visibility: visible;
        }
      }

      .action-more {
        visibility: hidden;
      }
    }
  }

  &-content {
    &--title {
      font-size: 14px;
      font-weight: 500;
    }

    &--datas {
      .data-tree-items {
        .tree-row-item {
          input {
            min-width: 80px;
          }
        }
      }

    }
  }
}

.action-shows {
  .action-show {
    visibility: hidden;
  }
}

.action-shows:hover {
  .action-show {
    visibility: visible;
  }
}

.action-to-shows {
  .action-to-show {
    visibility: visible;
  }
}

.action-to-shows:hover {
  .action-to-show {
    visibility: hidden;
  }
}

.datasetHeader {
  position: relative;
  background: #F59E0B;
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/dist/images/datasetHeaderBg.svg);
  box-shadow: 0px 8px 24px 8px rgba(245, 158, 11, 0.15);

  &-right {
    width: calc(100% - 49px);
  }
}

.text-blueGray-400 {
  color: #475569;
}

.dataset-alert {
  border-radius: 4px 12px 12px 12px;
}

.tree-content {
  border-radius: 8px 8px 0 0;
  border-style: solid;
  box-sizing: border-box;
  border-color: var(--gray-200);
  border-width: 1px 1px 0 1px;
}

.form-add-dataset.is-horizon-layout>.field .help {
  display: flex;
  margin-left: 25%;
}

#option_set_name, #option_set_tag, .option-set > .input-default, .option-set > .textarea-default {
  caret-color: var(--blue-600);
}

.control > input.input:not([readonly]):not([disabled]):focus, textarea.textarea:not([readonly]):not([disabled]):focus#option_set_name {
  border-color: var(--blue-600);
}

.control > input.input:not([readonly]):not([disabled]):focus, textarea.textarea:not([readonly]):not([disabled]):focus#option_set_tag {
  border-color: var(--blue-600);
}

.form-add-dataset.is-horizon-layout > .field .control input.is-danger#option_set_name {
  border-color: #ca2621;
}

.form-add-dataset.is-horizon-layout > .field .control input.is-danger#option_set_tag {
  border-color: #ca2621;
}

.option-set-popper > .input-default:focus, .textarea-default:focus {
  border-color: var(--blue-600);
}

.option-set-popper > textarea.textarea:not([readonly]):not([disabled]):focus {
  border-color: var(--blue-600);
}

.option-set-popper > input.input:not([readonly]):not([disabled]):focus, textarea.textarea:not([readonly]):not([disabled]):focus {
  border-color: var(--blue-600);
}
