$arrow-color: var(--gray-700);

.qxp-ui-tooltip {
  border-radius: 8px;

  &.right {
    left: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%);
    .qxp-ui-tooltip-arrow {
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-right-color: $arrow-color;
    }
  }
  &.left {
    right: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%);
    .qxp-ui-tooltip-arrow {
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-left-color: $arrow-color;
    }
  }
  &.top {
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    .qxp-ui-tooltip-arrow {
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-top-color: $arrow-color;
    }
  }
  &.bottom {
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    .qxp-ui-tooltip-arrow {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-bottom-color: $arrow-color;
    }
  }
  .qxp-ui-tooltip-arrow {
    position: absolute;
    border-width: 5px 5px 5px 5px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
  }
  .qxp-ui-tooltip-label {
    color: #fff;
    padding: 8px 16px;
  }
}
