@import '@assets/scss/index.scss';

body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  text-align: center;

  header {
    padding: 16px 20px 0 28.33px;

    .logo-company {
      img {
        width: 26.6px;
        height: 26.6px;
        margin-right: 8.4px;
      }
    }

    .to-login {
      > span:first-child {
        margin-right: 16px;
      }

      > a {
        padding: 4px 12px;
      }
    }
  }
}
