// The custom color variables
$neutral-20: #020508; // hsl(210, 64%, 2%);
$neutral-19: #09121a; // hsl(210, 48%, 7%);
$neutral-18: #141f29; // hsl(210, 34%, 12%);
$neutral-17: #1d2b3a; // hsl(210, 33%, 17%);
$neutral-16: #273849; // hsl(210, 31%, 22%);
$neutral-15: #324558; // hsl(210, 28%, 27%);
$neutral-14: #3e5265; // hsl(210, 24%, 32%);
$neutral-13: #4c5e70; // hsl(210, 19%, 37%);
$neutral-12: #5d6b79; // hsl(210, 13%, 42%);
$neutral-11: #697886; // hsl(210, 12%, 47%);
$neutral-10: #778592; // hsl(210, 11%, 52%);
$neutral-9: #86919c; // hsl(210, 10%, 57%);
$neutral-8: #939ea9; // hsl(210, 11%, 62%);
$neutral-7: #a1abb5; // hsl(210, 12%, 67%);
$neutral-6: #aeb8c1; // hsl(210, 13%, 72%);
$neutral-5: #b6c2cd; // hsl(210, 19%, 76%);
$neutral-4: #c6d1dc; // hsl(210, 24%, 82%);
$neutral-3: #d5dee7; // hsl(210, 28%, 87%);
$neutral-2: #e4ebf1; // hsl(210, 31%, 92%);
$neutral-1: #f5f7fa; // hsl(210, 33%, 97%);
$neutral-0: #fff; // hsl(210, 34%, 100%);
// The exposed color variables of Bulma
$black: $neutral-20; // N20
$black-bis: $neutral-18; // N18
$black-ter: $neutral-16; // N16
$grey-darker: $neutral-14; // N14
$grey-dark: $neutral-12; // N12
$grey: $neutral-10; // N10
$grey-light: $neutral-8; // N8
$grey-lighter: $neutral-6; // N6
$white-ter: $neutral-4; // N4
$white-bis: $neutral-2; // N2
$white: $neutral-0; // N0
$orange: #ff470f;
$turquoise: #00d1b2;
$cyan: #209cee;
$green: #8cadff; //
$red: #ca2621; // R6 hsl(2, 72%, 46%)
$blue: #0070a8; // B6 hsl(200, 100%, 33%)
$yellow: #d6a800; // Y6 hsl(47, 100%, 42%)
$purple: #5a00a8; // P6 hsl(272, 100%, 33%)
$orange-invert: findColorInvert($orange);
$yellow-invert: findColorInvert($yellow);
$green-invert: findColorInvert($green);
$turquoise-invert: findColorInvert($turquoise);
$cyan-invert: findColorInvert($cyan);
$blue-invert: findColorInvert($blue);
$purple-invert: findColorInvert($purple);
$red-invert: findColorInvert($red);
// The icon color
$icon-light-color: rgba(255, 255, 255, 0.9);
$icon-light-fill: rgba(255, 255, 255, 0.4);
$icon-dark-color: $neutral-15;
$icon-dark-fill: $neutral-5;
$icon-coloured-color: $green;
$icon-coloured-fill: #90e0c5;
