.dropdown-menu {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;

  &--up {
    top: 0;
  }

  &--down {
    bottom: 0;
  }

  &__content {
    position: absolute;
    max-height: 80%;
  }

  &__option {
    text-align: left;
    padding: .1rem .16rem;
  }
}
