@import "./css/reset.css";
@import "./css/colors.css";
@import "./css/typography.css";
@import "./css/border.css";
@import "./css/btn.css";
@import "./css/animation.css";

.right-content-container {
  @apply bg-white self-stretch flex flex-1;

  height: calc(100vh - 120px);
  border-radius: 12px;
}

html {
  background-color: #e6ecf9;
}
