html {
  overflow: auto;
}

.max-w-screen {
  max-width: 1440px;
}

.text-btn {
  cursor: pointer;
  color: #375FF3;
}

.text-btn:hover {
  color: #254ee6;
}

.app-management-height {
  height: calc(100vh - 64px);
}

.app-icon-color-inherit {
  color: inherit;
}

.app-no-data {
  text-align: center;
  width: 100%;

  img {
    margin: 0 auto 16px;
    display: block;
    width: 120px;
    height: 120px;
  }

  span {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
}

.app-right-box {
  @apply flex-1 rounded-tl-12 rounded-tr-12;
  position: relative;
  overflow: hidden;
  height:100%;
}

.app-entry-container {
  @apply flex justify-center items-start gap-x-20 mx-auto;
  padding: 20px 58px 0;
  height: calc(100vh - 64px);
}

.my-app-header {
  @apply px-20 py-16;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: rgba(241, 245, 249, 1);
  box-shadow: inset 0px -1px 0px #e2e8f0;
}

.text-icon-btn {
  @apply items-center cursor-pointer hover:text-blue-600 inline-flex;
  svg {
    color: inherit;
    margin-right: 4px;
  }
}
