.qxp-tab-container {
  display: inline-flex;
  height: 100%;
}

.qxp-tab-size-small {
  min-height: 39px;

  .qxp-tab-item {
    padding: 0 14px;
    font-size: 14px;
    line-height: 22px;
  }
}

.qxp-tab-size-normal {
  min-height: 47px;
  .qxp-tab-item {
    padding: 0 14px;
    font-size: 14px;
    line-height: 22px;
  }
}

.qxp-tab-size-big {
  min-height: 56px;

  .qxp-tab-item {
    padding: 0 16px;
    font-size: 16px;
    line-height: 24px;
  }
}

.qxp-tab-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover,&.qxp-tab-active {
    font-weight: 600;
    color: var(--blue-600);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 8px 8px 0 0;
      background-color: var(--blue-600);
    }
  }
}

