.api-list-tabs {
  overflow-x: inherit !important;
  .qxp-ui-tooltip {
    font-size: 12px;
    font-weight: normal;
    transform: translateX(-40%);
    > .qxp-ui-tooltip-arrow {
      border-bottom-color: var(--blue-600);
    }
    > .qxp-ui-tooltip-label{
      background: var(--blue-600);
      border-radius: 8px;
    }
  }
}

.api-proxy-tab-content {
  .qxp-table-loading-box {
    background-color: rgba(255, 255, 255, 1);
  }
}

.inside-api-key {
  .key-id:hover .copy-tooltip{
    visibility: visible;
  }
}

.api-key-form {
  .ant-input {
    border-radius: 2px 8px 8px 8px;
  }
}

.api-proxy-table-switch {
  .ant-switch {
    width: 54px;
    height: 20px;
    .ant-switch-handle {
      width: 16px;
      height: 16px;
    }
    .ant-switch-inner {
      margin: 0 8px 0 22px;
    }
  }
  .ant-switch-checked {
    background-color: var(--blue-600);
    .ant-switch-handle {
      left: calc(100% - 16px - 2px);
    }
    .ant-switch-inner {
      margin: 0 22px 0 8px;
    }
  }
}
