%panel {
  box-shadow: inset -1px 0px 0px #E2E8F0;
}

// override checkbox style
//:global {
//  .checkbox.checkbox-wrapper {
//    width: 16px;
//    height: 16px;
//    line-height: 16px;
//    &::before {
//      width: 16px;
//      height: 16px;
//      top:0;
//      left: -2px;
//    }
//  }
//
//  label.checkbox.indeterminate:before, label.checkbox.indeterminate:hover:before {
//    background-color: var(--blue-600) !important;
//  }
//}

.wrap {
  display: grid;
  grid-template-columns: 200px minmax(464px, 40%) 1fr;
  background: white;
  height: calc(100% - 56px);

  .typePanel {
    padding-top: 16px;
    @extend %panel;
    > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      font-weight: 400;
      color: var(--gray-900);
      padding: 16px 24px;
      cursor: pointer;
      &:hover, &.active {
        font-weight: 600;
        background: var(--blue-100);
        color: var(--blue-600);
        //border-right: 1px solid #e2e8f0;
      }
      > button {
        position: relative;
        //right: 24px;
      }
    }
  }

  .listPanel {
    @extend %panel;
    padding: 16px 20px;
    .toolbar {
      display: flex;
      padding-left: 8px;
      margin-bottom: 8px;
    }

    .toolbar_content{
      align-items: center;
    }

    .msgItem {
      position: relative;
      //left: -10px;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
    }

    .table {
      max-height: calc(100vh - 240px);
      overflow-y: scroll;
      :global {
        .table {
          width: 100%;
        }
      }

      table {
        thead {
          visibility: hidden;
          :global {
            .table-selection {
              visibility: hidden;
            }
          }
        }
        tbody tr > td {
          &:first-child {
            padding-left: 8px;
          }
          padding: 0;
        }
      }
    }
  }

  .detailPanel {
    height: calc(100vh - 120px);
    overflow: scroll;
    padding: 12px 24px;
  }
}


.message_list_warp{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .message_list{
    flex: 1;
    //border-bottom: 1px solid var(--gray-200);
    margin-bottom: 12px;

    :global{
      .table-thead{
        display: none;
      }

      .table table .table-tbody > tr.table-row-selected td {
        background-color: #F1F5F9;
        &::before {
          background-color: transparent;
        }
        &::after {
          background-color: transparent;
        }
      }
      .table table .table-tbody > tr.table-row-selected td:first-child {
        border-left: none;
      }
      .table table .table-tbody > tr.table-row-selected td:last-child {
        border-right: none;
      }
    }
  }

  .content{
    box-sizing: border-box;
    padding: 40px;
  }

}



body {
  .float_count{
    background: #EF4444;
    border-radius: 8px 8px 8px 2px;
    color: #fff;
    border: none;
  }
}

%picNoMsg {
  width: 120px;
  height: 120px;
  background-size: contain;
}

.noMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transform: translateY(-16px);
  > .picNoMsg {
    @extend %picNoMsg;
    background: url("/dist/images/message_empty_tips.svg") no-repeat;
  }
  > .picNoDetail {
    @extend %picNoMsg;
    background: url("/dist/images/empty-msg-detail.svg") no-repeat;
  }
  > .tips {
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #94A3B8;
  }
}
