 .app-bg-icon {
  @apply flex justify-center items-center relative overflow-hidden;
  width: var(--app-Icon-size);
  height: var(--app-Icon-size);
  min-width: var(--app-Icon-size);
  min-height: var(--app-Icon-size);
  border-radius: calc(var(--app-icon-border-radius)) 2px calc(var(--app-icon-border-radius)) calc(var(--app-icon-border-radius));
  & > .svg-icon {
    z-index: 1;
  }
}
.app-bg-icon-circle{
  &::before, &::after{
    @apply block absolute;
    width: var(--appBgIconSize);
    height: var(--appBgIconSize);
    content:'';
    mix-blend-mode: multiply;
    opacity: 0.15;
    border-radius: calc(var(--app-Icon-size) / 1.6);
  }
  &::before{
    @apply inset-x-0 top-2/4 -bottom-1/2;
  }
  &::after{
    @apply inset-y-0;
    left: -46.15%;
    right: 46.15%;
  }
}