.qxp-table {
  width: 100%;

  thead>tr>.qxp-table-th {
    padding: 11px 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #475569;
    border-bottom: 1px solid;
    border-color: #E2E8F0;
  }

  tbody>tr>.qxp-table-td {
    padding: 17px 16px;
    border-bottom: 1px solid;
    border-color: #E2E8F0;
  }
}