.btn {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  line-height: 30px;

  font-weight: 400;
  font-size: 14px;

  border-radius: 8px 2px 8px 8px;
  border: 1px solid var(--gray-700);

  cursor: pointer;
  user-select: none;
}

.btn--disabled {
  cursor: not-allowed;
}

.btn {
  color: var(--gray-600);
}

.btn--forbidden {
  cursor: not-allowed;
}

.btn:hover {
  color: var(--gray-900);
  border-color: var(--gray-800);
}

.btn:active {
  color: white;
  background-color: var(--gray-900);
}

.btn:not(.icon-btn) .icon {
  margin-right: 8px;
}

.btn--primary {
  color: white;
  background-color: var(--gray-700);
}

.btn--primary:hover {
  color: white;
  background-color: var(--gray-600);
}

.btn--primary:active {
  background-color: var(--gray-800);
}

.icon-btn {
  padding-left: 0;
  padding-right: 0;
  width: 32px;
}

.header-nav-btn-icon {
  @apply fill-current text-gray-600;
}

.header-nav-btn-text {
  @apply text-button;
}

.header-nav-btn-icon-wrapper {
  @apply w-20 h-20 mr-4 flex items-center;
}

@layer components {
  .button-border-radius {
    @apply rounded-tl-8 rounded-tr-2 rounded-br-8 rounded-bl-8;
  }

  .button-reverse-border-radius {
    @apply rounded-tl-8 rounded-tr-8 rounded-br-8 rounded-bl-2;
  }

  .light-button {
    @apply bg-white;
  }

  .opacity-button {
    @apply cursor-pointer flex justify-between items-center button-border-radius rounded-tr-none px-16 py-5 border-1.5 border-solid border-gray-600;
  }

  .header-nav-btn {
    @apply flex justify-between items-center px-8 py-5 transition-all hover:bg-blue-100 button-reverse-border-radius cursor-pointer;
  }
}
