.page-setting-option {
  width: 296px;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
}

.page-setting-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  cursor: pointer;
  border:1px dashed var(--gray-300);
  border-radius: 8px 2px 8px 8px;

  &:hover {
    border-color: var(--gray-600);
  }
}

.page-field-sort-action {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 80px;
}

.page-field-sort-content {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  padding: 0 16px;
  height: 38px; 
  border-bottom: 1px solid var(--gray-300);
}

.page-field-sort-item {
  @extend .page-field-sort-content;
  color: var(--gray-900);
}

.page-field-sort-title {
  @extend .page-field-sort-content;
  border-radius: 8px 8px 0 0;
  background: var(--gray-100);
}

.page-setting-field-filter {
  border-radius: 8px;
  border: 1px solid var(--gray-300);

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.page-setting-filter-option {
  padding: 16px 36px;
  border-top: 1px solid var(--gray-300);
}
