@import "./reset.css";
@import "./layout.css";
@import "./animation.css";
@import "./scrollbar.css";

/* todo delete this */
.right-content-container {
  @apply bg-white self-stretch flex flex-1;

  height: calc(100vh - 120px);
  border-radius: 12px;
}

html {
  background-color: #e6ecf9;
}

.beauty-scroll::-webkit-scrollbar {
  width: 6px;
}

.beauty-scroll::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(71, 85, 105, 0.45);
}
