@import "./reset.css";

@import "./variables/colors.css";
@import "./variables/global.css";
@import "./enfi.css";

@import './components/dropdown.css';

@import "./layout.css";
@import "./typography.css";
@import "./border.css";
@import "./btn.css";
@import "./animation.css";
@import "./scrollbar.css";
@import "./checkbox.css";

/* todo delete this */
.right-content-container {
  @apply bg-white self-stretch flex flex-1;

  height: calc(100vh - 120px);
  border-radius: 12px;
}

html {
  background-color: var(--body-bg-color);
}

.beauty-scroll::-webkit-scrollbar {
  width: 6px;
}

.beauty-scroll::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(71, 85, 105, 0.45);
}
.ql-snow .ql-tooltip {
  left: -85px !important;
}