@import "./reset.css";

@import "./variables/colors.css";
@import "./variables/global.css";

@import "./typography.css";
@import "./border.css";
@import "./btn.css";
@import "./animation.css";

/* todo delete this */
.right-content-container {
  @apply bg-white self-stretch flex flex-1;

  height: calc(100vh - 120px);
  border-radius: 12px;
}

html {
  background-color: #e6ecf9;
}
