.drawer-modal-mask {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(2, 5, 8, 0.7);
  animation: fadeIn .2s;
  z-index: 10;
}

.drawer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: transform .3s;
}

@mixin closeAnimation($animation) {
  .drawer-container {
    animation: $animation .3s ease forwards;
  }
}

.drawer-position-right {
  .drawer-container {
    height: 100%;
    width: 40%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    right: 0;
    animation: enter-from-right .3s ease;
  }

  &.drawer-began-close {
    @include closeAnimation(quitRight);
  }
}

.drawer-position-bottom {
  .drawer-container {
    height: calc(100vh - var(--distanceTop));
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    bottom: 0;
    animation: enterBottom .3s ease;
    width: 100%;
  }

  &.drawer-began-close {
    @include closeAnimation(quitBottom);
  }
}

.drawer-began-close {
  animation: fadeOut .3s forwards;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  box-shadow: inset 0px -1px 0px #E2E8F0;
  background-image: url('/dist/images/maskHeaderBackgroundImage.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.drawer-close {
  display: none;
}

.drawer-main-content {
  flex: 1 1 0%;
  height: 100%;
}
