@mixin active {
  color: var(--gray-50);
  background: linear-gradient(90deg, #638AFF 0%, #375FF3 100%);
  box-shadow: 0px 8px 24px 4px rgba(55, 95, 243, 0.25);
  
  .menu-icon svg {
    fill: var(--icon-light-fill);
  }
}

.app-menu-tree {
  box-shadow: 8px 0px 24px 4px rgba(148, 163, 184, 0.25);
}

.app-menu-tree:hover {
  width: 204px;
}

.app-menu-tree-node {
  transition-property: width;
  .tree-node-title {
    transition-property: width, background;
  }

  .active,
  .collapse {
    @include active;
  }

  .tree-node-title:hover:not(.active, .collapse) {
    background: var(--blue-100);
    color: var(--blue-600);
    
    .menu-icon svg {
      fill: var(--blue-400);
    }
  }

  .tree-node-title:not(.active, .collapse) {
    color: var(--gray-600);

    .menu-icon svg {
      fill: var(--gray-400);
    }
  }
}

.node-level-1 {
  .tree-node-title {
    padding-left: 7px;
  }
}

.node-level-2 {
  margin: 0;
  .tree-node-title {
    padding-left: 36px;
  }
}

.app-menu-tree::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.app-menu-tree::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #A9B0B9;
}
