.task-filter-wrapper {
  padding: .08rem .16rem;
  display: flex;
}

.task-filter {
  padding: .08rem .16rem;
  border: 1px solid #CBD5E1;
  border-radius: .02rem .08rem .08rem .08rem;
  flex: 1;
}

.read-all {
  padding: .1rem;
  margin-left: .04rem;
  margin-right: -0.12rem;
  border-radius: .08rem;
}

.disabled {
  color: var(--blue-300);
}

.dropdown-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.mobile-tab-radio-btn-group{
  padding: 0.08rem 0.16rem;
}

.space-between{
  justify-content: space-between;
}