.form-app-data-table-container {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 12px;
}

.form-app-data-table-filter {
  display: flex;
  flex-shrink: 0;
  column-gap: 24px;
  margin-bottom: 16px;
}

.form-app-data-table-filter-more {
  margin-right: 40px;
  cursor: pointer;
  user-select:none;

  &:hover {
    color: var(--blue-600);
  }
}

.page-data-drawer-modal-mask {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(2, 5, 8, 0.7);
  animation: fadeIn .2s;
  z-index: 20;
}

.page-data-drawer-container {
  position: absolute;
  right: 0;
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  animation: enterRight .3s ease;
  transition: transform .3s;
}

.page-data-drawer-began-close {
  animation: fadeOut .3s forwards;
  .page-data-drawer-container {
    animation: quitRight .3s ease forwards;
  }
}

.page-data-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 20px;
  box-shadow: inset 0px -1px 0px var(--gray-200);
  background-image: url('/dist/images/maskHeaderBackgroundImage.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-data-drawer-close {
  display: none;
}

.page-data-drawer-main-content {
  overflow: auto;
  padding: 20px;
  flex: 1 1 0%;
  background-color: var(--gray-100);
}

.page-data-info-view {
  box-shadow: inset 0px -1px 0px var(--gray-200);
}

.advanced-query-container {
  width: 735px;
  padding: 20px;
  border: 1px solid var(--gray-300);
  overflow-y: auto;
  box-shadow: 0px 8px 24px rgb(148 163 184 / 25%);
  background-color: #fff;
  border-radius: 12px;
}

.user-app-schema-form {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  overflow-y: auto;
  flex: 1;
  background-color: #fff;
  border-radius: 12px;

  .ant-form-item-label {
    width: 100px;
  }
}