.form-app-data-table-container {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
}

.form-app-data-table-filter {
  display: flex;
  flex-shrink: 0;
  column-gap: 24px;
  margin-bottom: 16px;
}

.form-app-data-table-filter-more {
  margin-right: 40px;
  cursor: pointer;
  user-select:none;

  &:hover {
    color: var(--blue-600);
  }
}

.page-data-info-view {
  box-shadow: inset 0px -1px 0px var(--gray-200);
}

.advanced-query-container {
  width: 735px;
  padding: 20px;
  border: 1px solid var(--gray-300);
  overflow-y: auto;
  box-shadow: 0px 8px 24px rgb(148 163 184 / 25%);
  background-color: #fff;
  border-radius: 12px;
}

.user-app-schema-form {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  overflow-y: auto;
  flex: 1;
  background-color: #fff;
  border-radius: 12px;

  .ant-form-item-label {
    white-space: pre-wrap;
    label{
      height: auto!important;
      text-align: left;
      line-height: 32px;
    }
  }
  
}

.form-table-column-config {
  width: 180px;
  max-height: 300px;
  overflow: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}
