.modal {
  display: grid;
  grid-template-columns: 212px 1fr;
  height: 100%;

  .side {
    max-height: 572px;
    overflow: auto;
    background: #F8FAFC;
    box-shadow: inset -1px 0px 0px #E2E8F0;
    > div.active {
      background-color: var(--gray-200);
    }
  }
  .body {
    padding-left: 8px;
    padding-right: 8px;
  }

  .tip {
    @apply text-blue-400 text-12;
  }
  
  .desc {
    @apply text-12 text-gray-400 pt-4;
  }

  .list-item {
    @apply cursor-pointer hover:bg-blue-400;
  }

  .bind-container {
    @apply flex items-center max-h-144 overflow-auto flex-wrap;
    width: 600px;
  }
  
  .bind-item {
    @apply px-16 py-8 mr-4 mb-4 border-1 inline-block text-center hover:bg-blue-400 relative select-none;
  }

  .hover-bind-item {
    &:hover {
      .unbind-btn {
        display: block;
      }
    }
  }

  .unbind-btn {
    @apply absolute right-0 top-0 cursor-pointer;
    transform: translate(-25%, 25%);
  }
}
