.padding-8 {
  padding: .08rem;
}

.padding-12 {
  padding: .12rem;
}

.padding-16 {
  padding: .16rem;
}

.margin-8 {
  margin: .08rem;
}

.margin-12 {
  margin: .12rem;
}

.margin-16 {
  margin: .16rem;
}

.padding-10-16 {
  padding: .1rem .16rem;
}

.padding-16-12 {
  padding: .16rem .12rem;
}

.padding-10-12 {
  padding: .1rem .12rem;
}

.radius-8 {
  border-radius: .08rem;
}

.radius-2-8-8-8 {
  border-radius: .02rem .08rem .08rem .08rem;
}

.radius-0-4-4-4 {
  border-radius: 0 .04rem .04rem .04rem;
}

.radius-4-0-4-4 {
  border-radius: .04rem 0 .04rem .04rem;
}

@mixin pointer {
  cursor: pointer;
  &:active {
    background-color: var(--active-color) !important;
  }
}

.pointer {
  @include pointer
}

.pointer-4 {
  border-radius: .04rem;
  @include pointer
}

.pointer-8 {
  border-radius: .08rem;
  @include pointer
}

.pointer-shadow {
  cursor: pointer;
  &:active {
    box-shadow: 0 .08rem .24rem rgba(148, 163, 184, 0.45) !important;
  }
}

.pointer-opacity {
  cursor: pointer;
  &:active {
    opacity: .5;
  }
}
