@import "../../styles/reset.css";
@import "../../styles/variables/colors.css";
@import "../../styles/animation.css";

@import "./animation.scss";
@import "./typography.scss";
@import "./atom.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #E6ECF9;
  --activeColor: rgba(241, 245, 249, 1);
}

/**
 * Use rem to fit mobile screens.
 * 1px = .01rem within ios 1x designs(375px).
 *
 * In designs 100vw = 375px.
 * And we wanna 1rem = 100px.
 * So x vw = 100px.
 * x = 100*100/375 = 26.666.
 */
html {
  font-size: calc(10000vw / 375);
  background-color: var(--backgroundColor);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-area-top {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
