:root {
  /* todo remove this */
  --icon-light-color: rgba(255, 255, 255, 0.9);
  --icon-light-fill: rgba(255, 255, 255, 0.4);
  --icon-dark-color: var(--gray-600);
  --icon-dark-fill: var(--gray-400);
  --icon-primary-color: var(--blue-600);
  --icon-primary-fill: var(--blue-400);

  --danger-color-light-2: var(--red-50);
  --danger-color-light-1: var(--red-200);
  --danger-color: var(--red-500);

  --error-color-light-2: var(--red-50);
  --error-color-light-1: var(--red-200);
  --error-color: var(--red-500);

  --warn-color: var(--orange-400);
}
