.alert {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  box-sizing: border-box;
  min-width: 320px;
  padding: $alert-padding;
  border-width: 1px;
  border-style: solid;
  border-radius: $alert-border-radius;
  margin: 0;
  color: $neutral-15;
  line-height: $alert-line-height;
  &.alert-no-icon {
    padding: $alert-no-icon-padding;
  }
  &.alert-success {
    border-color: $alert-success-border-color;
    background-color: $alert-success-background-color;
    .alert-link-button {
      color: $alert-success-link-button-color;
      &:hover {
        color: $alert-success-link-button-hover-color;
      }
      &:active {
        color: $alert-success-link-button-active-color;
      }
    }
    .alert-close-icon {
      &:hover .#{$icon-prefix} {
        color: #{$alert-success-close-icon-hover};
      }
      &:active .#{$icon-prefix} {
        color: #{$alert-success-close-icon-active};
      }
    }
  }
  &.alert-info {
    border-color: $alert-info-border-color;
    background-color: $alert-info-background-color;
    .alert-link-button {
      color: $alert-info-link-button-color;
      &:hover {
        color: $alert-info-link-button-hover-color;
      }
      &:active {
        color: $alert-info-link-button-active-color;
      }
    }
    .alert-close-icon {
      &:hover .#{$icon-prefix} {
        color: #{$alert-info-close-icon-hover};
      }
      &:active .#{$icon-prefix} {
        color: #{$alert-info-close-icon-active};
      }
    }
  }
  &.alert-warning {
    border-color: $alert-warning-border-color;
    background-color: $alert-warning-background-color;
    .alert-link-button {
      color: $alert-warning-link-button-color;
      &:hover {
        color: $alert-warning-link-button-hover-color;
      }
      &:active {
        color: $alert-warning-link-button-active-color;
      }
    }
    .alert-close-icon {
      &:hover .#{$icon-prefix} {
        color: #{$alert-warning-close-icon-hover};
      }
      &:active .#{$icon-prefix} {
        color: #{$alert-warning-close-icon-active};
      }
    }
  }
  &.alert-error {
    border-color: $alert-error-border-color;
    background-color: $alert-error-background-color;
    .alert-link-button {
      color: $alert-error-link-button-color;
      &:hover {
        color: $alert-error-link-button-hover-color;
      }
      &:active {
        color: $alert-error-link-button-active-color;
      }
    }
    .alert-close-icon {
      &:hover .#{$icon-prefix} {
        color: #{$alert-error-close-icon-hover};
      }
      &:active .#{$icon-prefix} {
        color: #{$alert-error-close-icon-active};
      }
    }
  }
  .alert-content {
    flex: 1;
    .alert-link-button {
      margin-top: 8px;
    }
  }
  .alert-right {
    display: inline-flex;
    margin-left: 24px;
    .alert-link-button {
      display: block;
      align-self: flex-end;
    }
  }
  .alert-message {
    display: block;
  }
  .alert-description {
    display: none;
  }
  .alert-icon {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
  }
  .alert-close-icon {
    align-self: flex-start;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 2px 0 0 0;
    cursor: pointer;
    > .icon {
      width: 16px;
      height: 16px;
      margin: 0 !important;
    }
  }
  .alert-link-button {
    height: 24px;
    padding: 0;
    line-height: 24px;
  }
  .alert-icon.icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: 18px;
    background-repeat: no-repeat;
    &.icon-success {
      background-image: var(--icon-status-success);
    }
    &.icon-info {
      background-image: var(--icon-status-info);
    }
    &.icon-warning {
      background-image: var(--icon-status-warning);
    }
    &.icon-error {
      background-image: var(--icon-status-error);
    }
  }
  &.alert-with-description {
    position: relative;
    .alert-message {
      font-weight: 500;
    }
    .alert-description {
      display: block;
      margin-top: 4px;
      color: $neutral-11;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.75;
    }
  }
  &.alert-close {
    height: 0 !important;
    padding: 0;
    margin: 0;
    transform-origin: 50% 0;
    transition: all 0.3s ease;
  }
}
