.autocomplete {
  position: relative;
  width: 100%;
  .autocomplete-selector {
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    max-height: 240px;
    padding: 8px 0;
    border: solid 1px $neutral-4;
    border-radius: 3px;
    background-color: #fff;
    background-color: $neutral-0;
    box-shadow: 0 6px 12px 0 rgba(2, 5, 8, 0.04), 0 1px 2px 0 rgba(2, 5, 8, 0.08);
    overflow-y: auto;
    z-index: 200;
    > li {
      padding: 4px 12px;
      font-size: 14px;
      line-height: 24px;
      &.active,
      &:hover {
        background-color: $neutral-1;
      }
      > a {
        display: block;
        color: $neutral-15;
        .highlight {
          color: $primary;
        }
      }
      &.autocomplete-loading,
      &.autocomplete-no-results {
        display: flex;
        justify-content: center;
        align-content: center;
        color: $neutral-8;
        text-align: center;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
