@mixin badge-common {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
}

.badge-wrapper {
  position: relative;
  width: max-content;

  > span.badge {
    display: inline-block;
    height: $badge-height;
    padding: $badge-padding;
    border-radius: $badge-border-radius;
    color: $badge-normalfont-color;
    font-size: $badge-fontsize;
    line-height: $badge-height;

    &:hover {
      cursor: pointer;
    }

    &.is-error {
      background-color: $badge-error-color;
    }
    &.is-success {
      background-color: $badge-success-color;
    }
    &.is-warning {
      background-color: $badge-warning-color;
    }
    &.is-default {
      background-color: $badge-default-color;
    }
    &.is-white {
      border: solid 1px $badge-whiteborder-color;
      color: $badge-whitefont-color;
      background-color: $badge-white-color;
      box-shadow: 0 1px 2px 0 rgba(2, 5, 8, 0.04);
    }

    &.is-collection {
      border: 2px solid $badge-border-color;
      transform: translate(50%, -50%);
      @include badge-common;
    }

    &.is-dot {
      width: 8px;
      height: 8px;
      padding: 0;
      border: 1px solid $badge-border-color;
      border-radius: 100%;
      @include badge-common;
    }
  }
}
