.breadcrumb {
  color: $breadcrumb-item-color;
  font-weight: $breadcrumb-font-weight;
  font-size: $breadcrumb-font-size;
  line-height: 1.7143;
  text-align: left;
  letter-spacing: normal;
  .breadcrumb-item {
    .breadcrumb-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    a {
      color: $breadcrumb-link-color;
      &:hover {
        color: $breadcrumb-link-color-hover;
      }
      &:active {
        color: $breadcrumb-link-color-active;
      }
    }
    .icon {
      margin-right: 4px;
      margin-left: 0;
    }
    &:before {
      display: none;
    }
    .breadcrumb-separator {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: $breadcrumb-item-separator-margin;
      color: $breadcrumb-item-separator-color;
      .icon {
        margin: 0;
      }
    }
  }
  .breadcrumb-last-item {
    color: $breadcrumb-last-item-color;
  }
}
