@mixin button-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 41, 27, 0.08);
}

@mixin button-status($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  &:focus {
    background-color: $bg-color;
    @include button-shadow;
  }
  &:hover {
    background-color: lighten($bg-color, 2%);
  }
  &:active {
    background-color: darken($bg-color, 2%);
  }
  &.is-disabled:hover,
  &.is-disabled:active,
  &[disabled]:hover,
  &[disabled]:active {
    background-color: $bg-color;
  }
  @include button-shadow;
}

.button {
  height: 2.2858em;
  padding: 0 calc(0.8572em - 1px);
  vertical-align: bottom;
  line-height: 1;
  &.is-primary {
    @include button-status($button-primary-color, $button-primary-background-color);
  }
  &.is-success {
    @include button-status($button-success-color, $button-success-background-color);
  }
  &.is-info {
    @include button-status($button-info-color, $button-info-background-color);
  }
  &.is-warning {
    @include button-status($button-warning-color, $button-warning-background-color);
  }
  &.is-danger {
    @include button-status($button-danger-color, $button-danger-background-color);
  }
  &.is-default {
    box-shadow: 0 1px 2px 0 rgba(2, 5, 8, 0.04);
    &:focus {
      background-color: $button-background-color;
    }
    &:hover {
      background-color: $button-hover-background-color;
    }
    &:active {
      background-color: $button-active-background-color;
    }
    &.is-disabled:hover,
    &.is-disabled:active,
    &[disabled]:hover,
    &[disabled]:active {
      background-color: $button-background-color;
    }
    &.is-active {
      background-color: $button-active-background-color;
    }
  }
  &.is-text {
    background-color: $button-text-background-color;
    box-shadow: none;
    text-decoration: none;
    .icon + span {
      color: $button-color;
    }
    &:focus {
      color: $button-text-color;
      box-shadow: none;
      .icon + span {
        color: $button-color;
      }
    }
    &:hover {
      color: lighten($button-text-color, 2%);
      background-color: $button-text-background-color;
      .icon + span {
        color: lighten($button-text-color, 2%);
      }
    }
    &:active {
      color: darken($button-text-color, 2%);
      background-color: $button-text-background-color;
      .icon + span {
        color: darken($button-text-color, 2%);
      }
    }
    &.is-disabled:hover,
    &.is-disabled:active,
    &[disabled]:hover,
    &[disabled]:active {
      color: $button-text-color;
      .icon + span {
        color: $button-color;
      }
    }
  }
  &.is-loading {
    &:after {
      display: none;
    }
    .spin.spin-spinning.loading-wrapper {
      position: absolute;
      .icon {
        width: 1.1429em !important;
        height: 1.1429em !important;
      }
    }
  }
  &.fake-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .icon:first-child:not(:last-child) {
    width: 1.1429em;
    height: 1.1429em;
    margin-right: 0.4286em;
    margin-left: calc(-0.214em);
  }
  .icon:last-child:not(:first-child) {
    width: 1.1429em;
    height: 1.1429em;
    margin-right: calc(-0.214em);
    margin-left: 0.4286em;
  }
  .icon:first-child:last-child {
    width: 1.4286em;
    height: 1.4286em;
    margin-right: 0.143em;
    margin-left: 0.143em;
  }
  &.is-small {
    height: 28px;
    padding: 0 calc(0.6667em - 1px);
    font-size: $button-small-size;
    .icon:first-child:not(:last-child) {
      width: 1.3334em;
      height: 1.3334em;
      margin-right: 0.3333em;
      margin-left: calc(-0.1667em - 1px);
    }
    .icon:last-child:not(:first-child) {
      width: 1.3334em;
      height: 1.3334em;
      margin-right: calc(-0.1667em - 1px);
      margin-left: 0.3333em;
    }
    .icon:first-child:last-child {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.1667em;
      margin-left: 0.1667em;
    }
  }
  &.is-large {
    height: 40px;
    padding: 0 calc(1em - 1px);
    border-radius: $button-border-radius-lg;
    font-size: $button-large-size;
    .icon:first-child:not(:last-child) {
      width: 1.25em;
      height: 1.25em;
      margin-right: 0.5em;
      margin-left: calc(-0.375em - 1px);
    }
    .icon:last-child:not(:first-child) {
      width: 1.25em;
      height: 1.25em;
      margin-right: calc(-0.375em - 1px);
      margin-left: 0.5em;
    }
    .icon:first-child:last-child {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.0313em;
      margin-left: 0.0313em;
    }
  }
}

.buttons {
  .button {
    margin-bottom: 0;
  }
}
