.collapse {
  width: $collapse-width;
  border: $collapse-border;
  border-radius: $collapse-border-radius;
  color: $collapse-color;
  font-size: $collapse-font-size;
  line-height: $collapse-line-height;
  letter-spacing: $collapse-letter-spacing;
  li:first-child > :first-child {
    border-top: none;
    border-radius: $collapse-border-radius $collapse-border-radius 0 0;
  }
  &-panel {
    padding: $collapse-panel-padding;
    border: $collapse-panel-border;
    border-radius: $collapse-border-radius;
    background-color: $collapse-panel-background-color;
    overflow: hidden;
    transition: all 0.3s ease;
    &-no-border {
      border: 1px solid #fff;
    }
  }
  &-item {
    &-label {
      position: relative;
      height: $collapse-item-label-height;
      padding: $collapse-item-label-padding;
      border-top: $collapse-border;
      color: $collapse-item-label-color;
      background-color: $collapse-item-label-background-color;
      box-shadow: $collapse-item-box-shadow;
      font-weight: $collapse-item-label-font-weight;
      line-height: $collapse-item-label-height;
      cursor: pointer;
      .icon {
        position: absolute;
        top: $collapse-item-label-icon-position-top;
        right: $collapse-item-label-icon-position-right;
      }
      &-border-bottom {
        border-bottom: $collapse-border;
      }
      &-last-border-bottom {
        border-radius: 0 0 $collapse-border-radius $collapse-border-radius;
      }
    }
    &-content {
      padding: $collapse-item-content-padding;
      background-color: $collapse-item-content-background-color;
      box-shadow: $collapse-item-box-shadow;
      overflow: hidden;
      &-last-border-bottom {
        border-radius: 0 0 $collapse-border-radius $collapse-border-radius;
      }
    }
  }
  &-transition {
    overflow: hidden;
    transition: height 0.3s ease;
  }
}
