.form {
  &>.field {
    display: block;
    margin-bottom: $field-margin-bottom;

    .label {
      line-height: $label-line-height;
    }

    .control {

      input,
      textarea,
      .input-password input {
        &.is-success {
          border-color: $field-border-color;

          &:hover {
            border-color: $field-hover-border-color;
          }

          &:focus {
            border-color: $field-focus-border-color;
          }
        }

        &.is-warning,
        &.is-warning:hover,
        &.is-warning:focus {
          border-color: $field-warning;
        }

        &.is-danger,
        &.is-danger:hover,
        &.is-danger:focus {
          border-color: $field-danger;
        }
      }

      .control .input-number input {
        max-width: 60px;
      }

      .control .input-number.is-mini input {
        max-width: 86px;
      }
    }

    .help {
      margin-top: 0.3333em;
      color: $help-color;
      line-height: $help-line-height;

      &.is-danger.has-danger-help {
        color: $field-danger;
      }
    }
  }

  .field.is-grouped {
    display: flex;
    padding-top: $field-buttons-group-margin-top;
    margin-bottom: 0;

    .control {
      display: inline-flex;
    }

    .control:not(:last-child) {
      margin-right: $field-buttons-margin-between;
    }
  }

  .field.has-addons {
    .control {
      margin-left: -1px;

      &:first-child,
      &:first-child .input,
      &:first-child .button {
        border-radius: 0;
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
        margin-left: 0;
      }

      &:last-child,
      &:last-child .input,
      &:last-child .button {
        border-radius: 0;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
  }
}

.form.is-vertical-layout {
  min-width: 300px;
  max-width: 376px;
}

.form.is-horizon-layout {
  min-width: 520px;
  max-width: 960px;

  &>.field {
    display: flex;
    flex-wrap: wrap;

    .label {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% / 3);
      padding-right: $label-padding-right;
      margin-bottom: 0;

      &.textarea-label {
        align-items: flex-start;
        margin-top: 10px;
        line-height: 1;
      }

      &.small {
        width: 72px;
      }

      &.medium {
        width: 120px;
      }

      &.large {
        width: 168px;
      }
    }

    &>.control {
      display: inline-flex;
      width: calc(100% / 3 * 2);
      max-width: 376px;
    }

    .help {
      display: flex;
      margin-left: 33.3333%;
    }
  }

  &.has-label-align-left {
    .label {
      justify-content: flex-start;
    }
  }

  &.is-label-small {
    .label {
      width: 72px;
    }
  }

  &.is-label-medium {
    .label {
      width: 120px;
    }
  }

  &.is-label-large {
    .label {
      width: 168px;
    }
  }
}

.form.is-inline-layout {
  min-width: 780px;
  max-width: 960px;

  &>.field {
    display: flex;

    .label {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% / 3);
      padding-right: $label-padding-right;
      margin-bottom: 0;

      &.textarea-label {
        align-items: flex-start;
        margin-top: 10px;
        line-height: 1;
      }
    }

    &>.control {
      display: inline-flex;
      width: calc(100% / 3);
    }

    .help {
      display: inline-flex;
      align-items: center;
      width: calc(100% / 3);
      padding-left: 24px;
      margin-top: 0;
      line-height: 1;
    }
  }

  .field.is-grouped {
    margin-right: calc(100% / 3);
  }
}

.form.is-horizon-layout,
.form.is-inline-layout {
  .button-field {
    margin-left: calc(100% / 3);

    &.is-grouped-right {
      margin-left: 0;
    }

    .control {
      width: auto;
    }
  }

  .radio-group-field .group-label {
    align-items: flex-start;
    margin-top: 3px;
  }

  .checkbox-group-field .group-label {
    align-items: flex-start;
    line-height: 1;
  }

  .slider-field>.label {
    align-items: flex-start;
    margin-top: 7px;
  }
}

.form .number-field .control .field {
  margin-bottom: 0;
}

.form .slider-field {
  &>.label {
    align-items: flex-start;
    margin-top: 7px;
  }

  &>.control {
    display: flex;
    align-items: center;
    width: 100%;

    .control {
      &:first-of-type {
        margin-right: 18px;
      }
    }

    &>.slider {
      margin-top: 9px;
    }
  }
}

.form .text-group-field {
  &.has-addons .control {
    display: flex;

    button {
      min-width: 64px;
    }

    input,
    .input-password input {

      &.is-warning,
      &.is-danger {
        z-index: 3;
      }
    }
  }

  &:not(.has-addons)>.control {
    display: flex;
    align-items: center;

    .control {
      margin: 0 4px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form label.checkbox {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 8px;
  }
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.modal-card-body {
  .field {
    .checkbox {
      margin-right: 20px;
      display: flex;
      align-items: center;

      input[type='checkbox'] {
        margin-right: 8px;
      }
    }
  }
}