input.input {
  box-sizing: border-box;
  min-width: 32px;
  height: 2.2858em;
  padding: 8px 12px;
  line-height: 1;
}

textarea.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 12px;
  line-height: 1.7143;
  resize: none;
  /* WebKit, Blink, Edge */
  &::-webkit-input-placeholder {
    padding-top: 0;
  }
}

.input-number {
  position: relative;
  width: auto;
  input.is-danger,
  input.is-warning {
    z-index: 4;
  }
}

.input-number.has-addons {
  input {
    position: relative;
    width: 113px !important;
    border-radius: 0;
    border-bottom-left-radius: $radius !important;
    border-top-left-radius: $radius !important;
    &:hover,
    &:focus,
    &:active {
      z-index: 4;
    }
  }
  > .input-number-controls {
    display: inline-block;
  }
  button {
    position: relative;
    width: 36px;
    height: 32px;
    padding: 0 4px;
    margin-left: -1px;
    .icon {
      margin: 0;
    }
  }
  button[disabled] {
    opacity: 1 !important;
    svg {
      opacity: 0.5;
    }
  }
  button.btn-minus {
    border-radius: 0;
  }
  button.btn-plus {
    border-radius: 0;
    border-top-right-radius: $radius !important;
    border-bottom-right-radius: $radius !important;
  }
  &.is-mini {
    box-sizing: border-box;
    width: 86px;
    input {
      width: 86px !important;
      border-top-right-radius: $radius !important;
      border-bottom-right-radius: $radius !important;
      &:focus + .input-number-controls {
        display: none;
      }
    }
    > .input-number-controls {
      position: absolute;
      top: 1px;
      right: 0;
      bottom: 1px;
      display: flex;
      flex-direction: column-reverse;
      width: 20px;
      height: calc(100% - 2px);
      border-top-right-radius: $radius !important;
      border-bottom-right-radius: $radius !important;
      z-index: 20;
      button {
        flex: 1;
        align-items: center;
        width: 100%;
        padding: 0;
        border: none;
        border-left: 1px solid #d5dee7;
        background: white;
        box-shadow: none !important;
        &:focus,
        &:hover {
          position: relative;
          outline: none;
          background-color: $neutral-1;
          z-index: 1;
        }
        &:active {
          background-color: $neutral-2;
        }
      }
    }
  }
}

input.input:not([readonly]):not([disabled]),
textarea.textarea:not([readonly]):not([disabled]) {
  &:hover {
    border-color: $input-hover-border-color;
  }
  &:focus {
    border-color: $input-focus-border-color;
  }
  &:focus:active {
    border-color: $input-active-border-color;
  }
}

.field {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  .control {
    label {
      line-height: 1.7143;
    }
    input[type='text'],
    input[type='password'],
    input[type='number'] {
      width: 100%;
      caret-color: $caret-color;
      &[readonly] {
        color: #3e5265;
        background-color: $neutral-1;
      }
      &[disabled] {
        opacity: $input-disabled-opacity;
      }
      &.is-small {
        height: 28px;
        padding: 7px 12px;
        font-size: 12px;
      }
      &.is-large {
        height: 40px;
        padding: 11px 12px;
        font-size: 16px;
      }
    }
    textarea {
      caret-color: $caret-color;
    }
    &.has-icons-right .icon.clickable {
      opacity: 0.5;
      pointer-events: auto;
      &:hover {
        opacity: 1;
      }
    }
    .icon.is-left,
    .icon.is-right {
      z-index: 5;
    }
  }
}

.field.is-horizontal {
  flex-wrap: wrap;
  .label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% / 3);
    padding-right: 16px;
    margin-bottom: 0;
    &.textarea-label {
      align-items: flex-start;
      margin-top: 5px;
    }
  }
  .control {
    display: inline-flex;
    width: calc(100% / 3 * 2);
  }
  .field.has-addons,
  .field.is-grouped {
    display: inline-flex;
    width: calc(100% / 3 * 2);
    .control {
      width: auto;
      .select-control {
        border-radius: 0;
      }
    }
  }
}

.field.is-grouped {
  align-items: center;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  top: 0.5714em;
  width: 1.1429em;
  height: 1.1429em;
  &.icon-clickable {
    pointer-events: auto;
  }
}

.control.has-icons-left .icon.is-left {
  left: 0.5714em;
}

.control.has-icons-right .icon.is-right {
  right: 0.5714em;
}

.field-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &.icon-success {
    background-image: var(--icon-status-success);
  }
  &.icon-warning {
    background-image: var(--icon-status-warning);
  }
  &.icon-error {
    background-image: var(--icon-status-error);
  }
}

// PlaceHolder Polyfill
input.input,
textarea.textarea {
  /* WebKit, Blink, Edge */
  &::-webkit-input-placeholder {
    padding-top: 1px;
    color: #939ea9;
  }
  /* Mozilla Firefox 4 to 18 */
  &:-moz-placeholder {
    color: #939ea9;
    opacity: 1;
  }
  /* Mozilla Firefox 19+ */
  &::-moz-placeholder {
    color: #939ea9;
    opacity: 1;
  }
  /* Internet Explorer 10-11 */
  &:-ms-input-placeholder {
    color: #939ea9;
  }
  /* Microsoft Edge */
  &::-ms-input-placeholder {
    color: #939ea9;
  }
  /* Most modern browsers support this now. */
  &::placeholder {
    color: #939ea9;
  }
}

input.input.is-large {
  /* WebKit, Blink, Edge */
  &::-webkit-input-placeholder {
    padding-top: 2px;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-password input,
input[type='password'] {
  font-family: $family-monospace;
}

.input-add {
  width: 80px;
  height: 24px !important;
  margin-right: 7px;
  margin-bottom: 7px;
}

.input-password,
.input-search {
  position: relative;
  display: flex;
  width: 100%;
  text-align: left;
  &.has-icons-left {
    > input.input[type='text'],
    input.input[type='password'] {
      &.is-small,
      &.is-default,
      &.is-large {
        padding-left: 2.2857em;
      }
    }
  }
  &.has-icons-right {
    > input.input[type='text'],
    input.input[type='password'] {
      &.is-small,
      &.is-default,
      &.is-large {
        padding-right: 2.2857em;
      }
    }
  }
  > input.input[type='text'],
  input.input[type='password'] {
    border: 1px solid $input-border-color;
    &:not([readonly]):not([disabled]) {
      &:hover {
        border-color: $input-hover-border-color;
      }
      &:focus:active {
        border-color: $input-active-border-color;
      }
      &:focus {
        border-color: $input-focus-border-color;
      }
    }
  }
  .icon.is-left {
    left: 0.5em;
  }
  .icon.is-right {
    right: 0.5em;
  }
  .icon.is-left,
  .icon.is-right {
    position: absolute;
    top: calc(50% - (1em / 2));
    width: 1em;
    height: 1em;
    pointer-events: none;
    z-index: 5;
    &.icon-clickable {
      pointer-events: auto;
    }
  }
  input.input.is-small ~ .icon.is-small {
    font-size: 12px;
  }
  input.input.is-default ~ .icon.is-small {
    font-size: 16px;
  }
  input.input.is-large ~ .icon.is-small {
    font-size: 20px;
  }
}

.input-search {
  input.input[value=''] {
    border-color: transparent;
  }
  input.input.is-small ~ .icon.is-small {
    &.is-left {
      font-size: 16px;
    }
  }
  input.input.is-default ~ .icon.is-small {
    &.is-left {
      font-size: 20px;
    }
  }
  input.input.is-large ~ .icon.is-small {
    &.is-left {
      font-size: 24px;
    }
  }
}

.input-ip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not([disabled]) {
    &:hover {
      border-color: $input-hover-border-color;
    }
    &:focus-within:active {
      border-color: $input-active-border-color;
    }
    &:focus-within {
      border-color: $input-focus-border-color;
    }
    &.is-warning,
    &.is-warning:hover,
    &.is-warning:focus-within {
      border-color: $field-warning;
    }
    &.is-danger,
    &.is-danger:hover,
    &.is-danger:focus-within {
      border-color: $field-danger;
    }
  }
  &.layout-single {
    border: 1px solid $input-border-color;
    border-radius: $radius;
    background-color: #fff;
    &.disabled {
      border-color: $input-border-color !important;
      opacity: $input-disabled-opacity;
      cursor: not-allowed;
    }
    &.readonly {
      background-color: $neutral-1;
    }
    input.input {
      border: none;
      text-align: center;
    }
  }
  &.layout-multi {
    input.input {
      text-align: center;
    }
  }
  .separator {
    flex-shrink: 0;
    width: 12px;
    text-align: center;
  }
}
