.list {
  &.list-bordered {
    border: 1px solid $list-border-color;
    border-radius: $list-border-radius;
  }
  &.list-split {
    .list-header,
    .list-item {
      border-bottom: 1px solid $list-split-color;
    }
  }
  &.list-split.list-without-footer .list-item:last-of-type {
    border-bottom: none;
  }
  .list-header,
  .list-footer {
    padding: 12px 11px;
  }
  .list-footer.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    .no-result {
      color: $list-tips-color;
      font-size: 12px;
      line-height: 32px;
    }
  }
  .list-footer.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 18px;
  }
  .list-body {
    .list-item {
      padding: 12px 11px;
    }
  }
  .list-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    .loading-content {
      color: $list-tips-color;
      font-size: 12px;
      line-height: 2;
    }
  }
}
