.mention-input {
  position: relative;
  width: 100%;
  overflow-y: visible;
  &.is-mobile-safari {
    margin-top: 1px;
    margin-left: -3px;
  }
  > input.input,
  > textarea.textarea {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
  }
  .mention-highlighter {
    position: relative;
    width: inherit;
    padding: 8px 12px;
    border: 1px solid transparent;
    color: transparent;
    overflow: hidden;
    line-height: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    .mention-substring {
      visibility: hidden;
    }
    .mention-mark {
      color: transparent;
      background-color: transparent;
      font-weight: inherit;
    }
  }
  &.is-multiLine {
    min-height: 120px;
    .mention-highlighter {
      padding: 4px 12px;
      line-height: 1.7143;
    }
    > .textarea {
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      resize: none;
    }
  }
  &.is-singleLine {
    display: inline-block;
    .mention-highlighter {
      white-space: pre;
      word-wrap: normal;
    }
  }
  .mention-suggestions {
    position: absolute;
    min-width: 180px;
    border: solid 1px $neutral-4;
    border-radius: 3px;
    margin-top: 20px;
    background-color: #fff;
    background-color: $neutral-0;
    box-shadow: 0 6px 12px 0 rgba(2, 5, 8, 0.04), 0 1px 2px 0 rgba(2, 5, 8, 0.08);
    cursor: pointer;
    z-index: 200;
    ul {
      max-height: 240px;
      padding: 8px 0;
      overflow-y: auto;
      li {
        display: flex;
        align-items: center;
        padding: 4px 12px;
        font-size: 14px;
        line-height: 24px;
        &.is-active,
        &:hover {
          background-color: $neutral-1;
        }
        .highlight {
          color: $primary;
          font-style: normal;
        }
      }
    }
    .mention-noresults {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 48px;
      color: $neutral-15;
      text-align: center;
    }
    .mention-loading {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 48px;
      text-align: center;
    }
  }
  &.is-scrollable {
    input.input,
    textarea.textarea {
      overflow: auto;
    }
  }
}
