@mixin coloured-icon {
  .#{$icon-prefix} {
    color: $icon-coloured-color;
    fill: $icon-coloured-fill;
  }
}

@mixin light-icon {
  .#{$icon-prefix} {
    color: $icon-light-color;
    fill: $icon-light-fill;
  }
}

@mixin dark-icon {
  .#{$icon-prefix} {
    color: $icon-dark-color;
    fill: $icon-dark-fill;
  }
}

.navigation-menu {
  height: 100%;
  transition: all 0.2s;
  .menu-item {
    height: 40px;
  }
  .menu > ul > .menu-inline-submenu {
    & > .menu-inline-submenu-title {
      height: 40px;
      .submenu-title-operate-icon .#{$icon-prefix} {
        opacity: 0.5;
      }
      &:hover .submenu-title-operate-icon .#{$icon-prefix} {
        opacity: 1;
      }
    }
    & > .menu-inner > .menu-inline-item {
      padding-left: 40px !important;
    }
    & > .menu-inner > .menu-inline-submenu {
      .menu-inline-submenu-title {
        height: 40px;
        padding-left: 40px !important;
      }
      .menu-item {
        padding-left: 64px !important;
      }
    }
  }
}

.navigation-menu.is-light {
  background-color: $navigation-light-background;
  .menu-item {
    color: $navigation-light-color;
    &:hover {
      background-color: $navigation-light-hover-background;
    }
    &:active,
    &.menu-item-selected {
      color: $navigation-light-active-color;
      background-color: $navigation-light-active-background;
      @include coloured-icon;
    }
  }
  .menu-inline-submenu-title:active {
    color: $navigation-light-active-color;
    background-color: $navigation-light-active-background;
    .submenu-title-text {
      @include coloured-icon;
    }
  }
}

.navigation-menu.is-dark {
  background-color: $navigation-dark-background;
  .menu {
    background-color: $navigation-dark-background;
  }
  .menu-item {
    color: $navigation-dark-color;
    &:hover {
      background-color: $navigation-dark-hover-background;
    }
    &:active,
    &.menu-item-selected {
      color: $navigation-dark-active-color;
      background-color: $navigation-dark-active-background;
      @include coloured-icon;
    }
    @include light-icon;
  }
  .menu-inline-submenu-title {
    color: $navigation-dark-color;
    .submenu-title-text,
    .submenu-title-operate-icon {
      @include light-icon;
    }
    &:hover {
      background-color: $navigation-dark-hover-background;
    }
    &:active {
      color: $navigation-dark-active-color;
      background-color: $navigation-dark-hover-background;
    }
  }
}

.navigation-menu.is-collapsed {
  & > .menu {
    & > .menu-item,
    & > ul > .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      font-size: 0;
      .icon {
        margin-right: 0;
      }
      .submenu-content {
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left: none;
        margin-left: 8px;
        box-shadow: none;
        font-size: 14px;
        border-right: none;
        .submenu-title-text .icon {
          margin-right: 8px;
        }
      }
      > .submenu-title {
        height: 100%;
        padding: 0;
        margin: 0;
        .submenu-title-text {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .submenu-title-operate-icon {
          display: none;
        }
      }
    }
    & > .menu-label {
      height: 1px;
      margin: 8px 0;
      font-size: 0;
    }
  }
}

.navigation-menu.is-collapsed.is-light {
  & > .menu {
    & > .menu-label {
      background-color: $navigation-light-active-background;
    }
    & > ul {
      .menu-item:active .submenu-content {
        @include dark-icon;
      }
      & > .submenu-has-selected-item > .submenu-title,
      & > .submenu-has-selected-item > .submenu-content .submenu.submenu-has-selected-item {
        color: $navigation-light-active-color;
        background-color: $navigation-light-active-background;
        @include coloured-icon;
      }
    }
    & > .submenu.submenu-has-selected-item {
      color: $navigation-light-active-color;
      background-color: $navigation-light-active-background;
      @include coloured-icon;
    }
  }
}

.navigation-menu.is-collapsed.is-dark {
  & > .menu {
    & > .menu-label {
      background-color: $navigation-dark-hover-background;
    }
    & > .menu-item-selected {
      background-color: $navigation-dark-active-color;
      @include light-icon;
    }
    & > ul {
      .menu-item.submenu:active,
      .menu-item:active .submenu-content {
        color: $navigation-dark-color;
        @include light-icon;
      }
      & > .menu-item-selected,
      & > .submenu-has-selected-item > .submenu-title,
      & > .submenu-has-selected-item > .submenu-content .submenu.submenu-has-selected-item {
        background-color: $navigation-dark-active-color;
        @include light-icon;
      }
    }
    & > .submenu.submenu-has-selected-item {
      background-color: $navigation-dark-active-color;
      @include light-icon;
    }
  }
}
