.notify-wrapper {
  .notify {
    position: fixed;
    top: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    pointer-events: none;
    z-index: 200;
    .notice {
      position: relative;
      width: auto;
      max-width: 360px;
      padding: 16px 20px 16px 24px;
      border: solid 1px $neutral-4;
      border-image: initial;
      border-radius: 3px;
      margin: 10px 0 20px;
      color: $neutral-15;
      background-color: $neutral-0;
      box-shadow: 0 6px 12px 0 rgba(2, 5, 8, 0.04), 0 1px 2px 0 rgba(2, 5, 8, 0.08);
      pointer-events: auto;
      &.visible.transition {
        display: flex !important;
      }
      &.notice-close {
        height: 0 !important;
        padding: 0;
        margin: 0;
        transform-origin: 50% 0;
        transition: all 0.3s ease;
      }
    }
  }
  .notice-content {
    flex: 1;
    .notify-title {
      margin-bottom: 8px;
      color: $neutral-15;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
    }
  }
  .notify-with-icon {
    position: relative;
    padding-left: 48px;
    margin-right: 28px;
    .notify-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      padding: 3px;
      &.is-custom-icon {
        padding: 0;
      }
    }
    .icon {
      width: 18px;
      height: 18px;
      background-position: center;
      background-repeat: no-repeat;
      &.icon-success {
        background-image: var(--icon-status-success);
      }
      &.icon-info {
        background-image: var(--icon-status-info);
      }
      &.icon-warning {
        background-image: var(--icon-status-warning);
      }
      &.icon-error {
        background-image: var(--icon-status-error);
      }
    }
  }
  .notify-content {
    margin-bottom: 8px;
  }
  .notify-btns {
    height: 24px;
  }
  .notify-btns .button.is-text {
    height: auto;
    padding: 0;
  }
  .notify-btns > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .notify-btns .separator {
    width: 16px;
    color: #009965;
    text-align: center;
    content: '・';
  }
  .notice-close-button {
    width: 24px;
    height: 24px;
    padding: 0;
    padding: 4px;
    margin: 0 -6px 0 0;
    .icon {
      width: 16px !important;
      height: 16px !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
