// Make clicks pass-through
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $primary;
  z-index: 1031;
}

// Fancy blur effect
#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

// Remove these to get rid of the spinner
#nprogress .spinner {
  position: fixed;
  top: 15px;
  right: 15px;
  display: none;
  z-index: 1031;
}

#nprogress .spinner-icon {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: solid 2px transparent;
  border-top-color: $primary;
  border-left-color: $primary;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
