.pagination {
  display: inline-flex;
  &.is-fullwidth {
    display: flex;
    padding: 12px 8px 16px;
  }
  &.is-left {
    justify-content: flex-start;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
}

.pagination-navigation {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  font-size: 12px;
  .input-number {
    width: 56px;
    height: 24px;
    margin: 0 12px;
    input {
      height: 24px;
      padding: 5px 12px;
      font-size: 12px;
      line-height: 1;
    }
  }
}

.pagination-size {
  .select.is-small {
    width: 116px;
    font-size: 12px;
    .select-control {
      height: 24px;
      padding: 0 8px;
      .select-input {
        height: 20px;
      }
    }
    .select-option {
      font-size: 12px;
    }
  }
}

.pagination-info {
  margin: auto 10px;
}

.pagination.is-simple {
  .pagination-info {
    margin: auto;
  }
}
