.popconfirm {
  min-width: $popconfirm-min-width;
  max-width: $popconfirm-max-width;
  padding: $popconfirm-padding;
  box-shadow: $popconfirm-box-shadow;
  z-index: $popconfirm-z;
  &[x-placement^='bottom'] {
    top: 2px !important;
    margin-top: $popconfirm-arrow-margin;
    .popper-arrow {
      box-shadow: -6px -6px 12px 0 rgba(2, 5, 8, 0.04), -1px -1px 2px 0 rgba(2, 5, 8, 0.08);
    }
  }
  &[x-placement^='top'] {
    margin-bottom: $popconfirm-arrow-margin;
    .popper-arrow {
      box-shadow: 6px 6px 12px 0 rgba(2, 5, 8, 0.04), 1px 1px 2px 0 rgba(2, 5, 8, 0.08);
    }
  }
  &[x-placement^='right'] {
    left: 2px !important;
    margin-left: $popconfirm-arrow-margin;
    .popper-arrow {
      box-shadow: -6px 6px 12px 0 rgba(2, 5, 8, 0.04), -1px 1px 2px 0 rgba(2, 5, 8, 0.08);
    }
  }
  &[x-placement^='left'] {
    margin-right: $popconfirm-arrow-margin;
    .popper-arrow {
      box-shadow: 6px -6px 12px 0 rgba(2, 5, 8, 0.04), 1px -1px 2px 0 rgba(2, 5, 8, 0.08);
    }
  }
  .popconfirm-tips {
    padding-bottom: 24px;
    line-height: 1.7143;
    .popconfirm-icon {
      position: absolute;
      top: 27px;
      .icon {
        width: 18px;
        height: 18px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.icon-success {
          background-image: var(--icon-status-success);
        }
        &.icon-info {
          background-image: var(--icon-status-info);
        }
        &.icon-warning {
          background-image: var(--icon-status-warning);
        }
        &.icon-error {
          background-image: var(--icon-status-error);
        }
      }
    }
    .popconfirm-icon + div {
      margin-left: 33px;
    }
  }
  .popconfirm-footer {
    text-align: right;
    .button:not(:last-child) {
      margin-right: 10px;
    }
  }
}
