label.radio {
  color: $radio-color;
  line-height: 1.71;
  & input[type='radio'] {
    outline: none !important;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  &:hover {
    &:not(.disabled) {
      &:before {
        background-color: $radio-hover-background-color;
      }
      &:active {
        &:before {
          background-color: $radio-active-background-color;
        }
        &.checked:before,
        &.indeterminate:before {
          border-color: transparent;
          background-color: $radio-checked-background-color;
        }
      }
    }
  }
  &:before {
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    width: $radio-size;
    height: $radio-size;
    border: 1px solid $radio-border-color;
    border-radius: 100%;
    outline: none !important;
    background-color: $radio-background-color;
    box-shadow: $radio-box-shadow;
    line-height: 1.71;
    backface-visibility: hidden;
    transition: 0.2s ease;
    content: '';
    will-change: transform;
  }
  &.checked {
    &:before,
    &:hover:before {
      border: none;
      background-color: $radio-checked-background-color;
      box-shadow: $radio-checked-box-shadow;
    }
    &:after {
      position: absolute;
      top: 8px;
      left: 4px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      outline: none !important;
      background-color: $neutral-0;
      box-shadow: 0 1px 2px 0 rgba(0, 68, 36, 0.04);
      line-height: 1.71;
      backface-visibility: hidden;
      transition: 0.2s ease;
      content: '';
      will-change: transform;
    }
  }
  & input {
    &[disabled] {
      border-color: $neutral-4;
      color: $neutral-15;
      background-color: $button-background-color !important;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  & span.label-value {
    padding-left: 14px;
  }
}

.radio + .radio {
  margin-left: 0;
}

label.radio.disabled {
  color: $neutral-15;
  opacity: 0.5;
  cursor: not-allowed;
}

.radio-group {
  label.radio-button {
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(2, 5, 8, 0.04) !important;
    input {
      display: none;
    }
    &:focus {
      background-color: $button-background-color;
    }
    &:hover {
      background-color: $button-hover-background-color;
    }
    &:active {
      background-color: $button-active-background-color;
    }
    &.disabled {
      background-color: $button-background-color !important;
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.checked {
      border-color: $button-primary-background-color;
      color: $button-primary-background-color;
      background-color: $neutral-0;
      z-index: 10;
    }
    &.is-small {
      height: 28px;
      font-size: $button-small-size;
    }
    &.is-large {
      height: 40px;
      font-size: $button-large-size;
    }
  }
}

.radio-group[direction='row'] {
  label.radio {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.radio-group[direction='column'] {
  display: flex;
  flex-direction: column;
  label.radio {
    margin-right: 0;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
