.rate {
  display: inline-block;
  list-style: none;
  padding: 0;
  outline: none;
  margin: 0;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: $rate-size;
  &-disabled &-star {
    &:before,
    &-content:before {
      cursor: default;
    }
  }
  &-star {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 8px;
    color: $rate-default-color;
    line-height: 1.5;
    cursor: pointer;
    &-first,
    &-second {
      transition: all 0.3s;
    }
    &-second {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      opacity: 0;
      overflow: hidden;
    }
    &-half &-second,
    &-full &-second {
      color: $rate-active-color;
      opacity: 1;
      .#{$icon-prefix} {
        color: $rate-icon-color-primary;
        fill: $rate-icon-color-secondary;
      }
    }
    /* default star */
    &-first.star-icon,
    &-second.star-icon {
      width: $rate-size;
      height: $rate-size;
      background-image: var(--icon-star-default);
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &-half &-first,
    &-full &-first {
      &.star-icon {
        background-image: var(--icon-star-default);
      }
    }
    &-half &-second {
      &.star-icon {
        background-image: var(--icon-star-half);
      }
    }
    &-full &-second {
      width: 100%;
      &.star-icon {
        background-image: var(--icon-star-active);
      }
    }
  }
}
