@mixin borderBox() {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.slider {
  position: relative;
  width: 100%;
  min-width: $slider-min-width;
  height: 14px;
  padding: 5px 0;
  border-radius: 6px;
  touch-action: none;
  &-rail {
    position: absolute;
    width: 100%;
    height: $slider-rail-height;
    border-radius: $slider-rail-border-radius;
    background-color: $slider-rail-bg-color;
    transition: background-color 0.3s ease;
  }
  &:hover &-rail {
    background-color: $slider-rail-hover-bg-color;
  }
  &-track {
    position: absolute;
    left: 0;
    height: $slider-rail-height;
    border-radius: $slider-rail-border-radius;
    background-color: $slider-track-bg-color;
    transition: background-color 0.3s ease;
  }
  &:hover &-track {
    background-color: $slider-track-hover-bg-color;
  }
  &-handle {
    position: absolute;
    width: $slider-handle-width;
    height: $slider-handle-height;
    border: 2px solid $slider-handle-border-color;
    border-radius: 50%;
    margin-top: -($slider-handle-height / 2) + $slider-rail-height / 2;
    margin-left: -($slider-handle-width / 2) + $slider-rail-height / 2;
    background-color: #fff;
    cursor: pointer;
    cursor: grab;
    touch-action: pan-x;
    &:focus {
      outline: none;
    }
    &-click-focused:focus {
      box-shadow: unset;
    }
    &:active {
      background-color: $slider-handle-border-color;
      cursor: grabbing;
    }
  }
  &-with-help {
    margin-bottom: 24px;
  }
  &-help {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    color: $slider-mark-color;
    font-size: $slider-mark-font-size;
    line-height: 1.67;
    user-select: none;
  }
  &-with-marks {
    margin-bottom: 24px;
  }
  &-mark {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    font-size: $slider-mark-font-size;
    line-height: 1.67;
    user-select: none;
  }
  &-mark-text {
    position: absolute;
    display: inline-block;
    color: $slider-mark-color;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
  }
  &-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
  }
  &-dot {
    position: absolute;
    bottom: -2px;
    width: 8px;
    height: 8px;
    border: 2px solid $slider-rail-bg-color;
    border-radius: 50%;
    margin-left: -4px;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
    &-active {
      border-color: $slider-track-bg-color;
    }
  }
  &-disabled {
    opacity: $slider-disabled-opacity;
    .slider-rail {
      background-color: $slider-disabled-rail-bg-color;
    }
    &:hover .slider-rail {
      background-color: $slider-disabled-rail-bg-color;
    }
    .slider-track {
      background-color: $slider-disabled-track-bg-color;
    }
    &:hover .slider-track {
      background-color: $slider-disabled-track-bg-color;
    }
    .slider-handle {
      border-color: $slider-disabled-handle-border-color;
      box-shadow: none;
      cursor: not-allowed;
      pointer-events: none;
    }
    .slider-mark-text,
    .slider-dot {
      cursor: default;
    }
  }
  @include borderBox();
}

.slider-vertical {
  width: 14px;
  min-width: 32px;
  height: 100%;
  padding: 0 8px;
  .slider {
    &-rail {
      left: 8px;
      width: $slider-rail-height;
      height: 100%;
    }
    &-track {
      bottom: 0;
      left: 8px;
      width: $slider-rail-height;
    }
    &-handle {
      margin-bottom: -8px;
      margin-left: -8px;
      touch-action: pan-y;
    }
    &-mark {
      top: 0;
      left: 28px;
      height: 100%;
      &-text {
        width: 28px;
        text-align: left;
      }
    }
    &-step {
      left: 8px;
      width: 4px;
      height: 100%;
    }
    &-dot {
      left: 2px;
      margin-bottom: -4px;
      &:first-child {
        margin-bottom: -4px;
      }
      &:last-child {
        margin-bottom: -4px;
      }
    }
  }
}
