.lego-toggles {
  position: relative;
  display: inline-block;
  list-style: none;
  box-sizing: border-box;
  min-width: 40px;
  height: 24px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 100px;
  margin: 0;
  background-color: $neutral-4;
  vertical-align: middle;
  line-height: 20px;
  transition: all 0.36s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover:after {
    background-color: $neutral-1;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:before {
      position: absolute;
      min-width: 44px;
      height: 24px;
      line-height: 20px;
      content: ' ';
      pointer-events: none;
      z-index: 5;
    }
    &:after {
      cursor: not-allowed;
      pointer-events: none;
    }
    &:active:after {
      width: 18px;
      pointer-events: none;
    }
  }
  &.checked {
    background-color: $primary;
    &:hover {
      background-color: $primary-hover;
    }
    &:active {
      background-color: $primary-active;
    }
    &:after {
      left: 100%;
      transform: translateX(calc(-100% - 3px)) translateY(-50%);
    }
    &:hover:after {
      background-color: $neutral-1;
    }
    &:active:after {
      transform: translateX(calc(-100% - 3px)) translateY(-50%);
    }
    &:hover:active:after {
      background-color: $neutral-2;
    }
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: 0;
    background-color: $neutral-0;
    box-shadow: 0 1px 2px 0 rgba(0, 41, 27, 0.08);
    transform: translateY(-50%);
    transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    cursor: pointer;
    content: ' ';
  }
  &:active:after {
    width: 24px;
  }
  &:active {
    background-color: $neutral-4;
  }
  > span.text {
    display: block;
    margin-top: -1px;
    margin-right: 12px;
    margin-left: 32px;
    color: $neutral-0;
    font-size: 14px;
    line-height: 24px;
  }
  > span.text.checked {
    margin-right: 32px;
    margin-left: 12px;
  }
}
