.tree {
  position: relative;
  padding: 0;
  li.tree-node {
    position: inherit;
    list-style: none;
    padding: 0;
    outline: 0;
    margin: 0;
    white-space: nowrap;
    z-index: auto;
    &.is-leaf-node {
      > .tree-node-wrap {
        > .tree-switcher.tree-switcher-noop {
          width: 6px;
          margin: 0;
          visibility: hidden;
        }
        .tree-switcher-noop + .tree-checkbox {
          margin-left: -2px;
        }
      }
    }
    .tree-node-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:before {
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        display: none;
        width: 100%;
        height: $tree-node-height;
        background-color: transparent;
        content: ' ';
        z-index: 0;
      }
      &:hover {
        &:before {
          display: block;
          background-color: $tree-node-hover-bg;
        }
      }
      &.tree-node-wrap-selected {
        &:before {
          display: block;
          background-color: $tree-node-selected-bg;
          opacity: $tree-node-selected-opacity;
        }
        .tree-title {
          color: $tree-node-selected-color;
          font-weight: $tree-node-selected-font-weight;
        }
        .tree-switcher {
          z-index: 1;
          &:hover {
            background-color: $tree-node-selected-switcher-hover;
          }
          &:active {
            background-color: $tree-node-selected-switcher-active;
            .icon {
              svg.#{$icon-prefix} {
                color: rgba(255, 255, 255, 0.9);
                fill: rgba(255, 255, 255, 0.4);
              }
            }
          }
        }
      }
      .tree-switcher-custom-icon {
        > .icon {
          transform: none !important;
        }
      }
    }
    ul.tree-child-tree {
      padding: 0 0 0 22px;
      margin: 0;
    }
    .tree-node-content-wrapper {
      position: relative;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% - 23px);
      height: $tree-node-height;
      padding: 0;
      border-radius: 2px;
      margin: 0;
      color: rgba(0, 0, 0, 0.65);
      vertical-align: top;
      text-decoration: none;
      transition: all 0.1s;
      cursor: pointer;
      span.tree-title {
        z-index: auto;
      }
    }
    span {
      &[draggable='true'],
      &[draggable] {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        margin-top: -2px;
        user-select: none;
        -webkit-user-drag: element;
      }
      &.tree-title {
        color: $tree-node-title-color;
        text-align: left;
      }
      &.tree-checkbox {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 8px 0 0;
        &:before {
          position: absolute;
          top: 2px;
          left: 2px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border: solid 1px $neutral-4;
          border-radius: 2px;
          outline: none !important;
          background: $neutral-0;
          box-shadow: 0 1px 2px 0 rgba(0, 41, 27, 0.08);
          transition: border 0.2s ease;
          content: '';
        }
        &:not(.tree-checkbox-disabled) {
          &:hover {
            &:before {
              border-width: 1px;
              border-style: solid;
              border-color: $neutral-4;
              background-color: $neutral-1;
            }
          }
          &:active {
            &:before {
              border-width: 1px;
              border-style: solid;
              border-color: $neutral-4;
              background-color: $neutral-2;
            }
            &.tree-checkbox-checked:before,
            &.tree-checkbox-indeterminate:before {
              border-color: transparent;
              background-color: #009e69;
            }
          }
        }
        &.tree-checkbox-checked {
          &:before,
          &:hover:before {
            border-color: transparent;
            background-color: $primary;
          }
          &:after {
            position: absolute;
            top: 3px;
            left: 6px;
            display: block;
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 1.6px 1.6px 0;
            transform: rotate(45deg);
            backface-visibility: hidden;
            content: '';
            will-change: transform;
          }
        }
        &.tree-checkbox-indeterminate {
          &:before,
          &:hover:before {
            border-color: transparent;
            background-color: $primary;
          }
          &:after {
            position: absolute;
            top: 3px;
            left: 6px;
            display: block;
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 0 0;
            transform: rotate(90deg);
            content: '';
          }
        }
        &.tree-checkbox-disabled {
          color: $neutral-15;
          box-shadow: none;
          opacity: 0.5;
          cursor: not-allowed;
          &:hover {
            &:before {
              border: solid 1px #c6d1dc;
            }
          }
        }
      }
      &.tree-iconEle {
        display: inline-flex;
        justify-content: center;
        width: 16px;
        height: 16px;
        border: 0 none;
        outline: none;
        margin: 0 8px 0 0;
        vertical-align: top;
        line-height: 1;
      }
      &.tree-icon-loading {
        position: relative;
        z-index: 1;
      }
      &.tree-switcher {
        display: inline-block;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        outline: none;
        margin: 0 4px;
        vertical-align: top;
        line-height: 1;
        cursor: pointer;
        z-index: 1;
        &:hover {
          background-color: $tree-node-switcher-hover-bg;
        }
        &:active {
          background-color: $tree-node-switcher-active-bg;
        }
        > .icon {
          transition: transform 0.1s;
        }
        &.tree-switcher-noop {
          width: 20px;
          cursor: default;
          &:after {
            content: '';
          }
          &:hover {
            background-color: transparent;
          }
        }
        &.tree-switcher-open > .icon {
          transform: rotate(90deg) scale(1);
        }
        &.tree-switcher-close > .icon {
          transform: scale(1) rotate(0deg);
        }
      }
    }
    &:last-child > span {
      &.tree-iconEle:before,
      &.tree-switcher:before {
        display: none;
      }
    }
  }
  &.tree-show-line {
    padding-left: 8px;
    > li:first-child {
      &:before {
        top: $tree-node-height / 2 !important;
      }
      &:not(:has(ul)):after {
        display: none;
      }
    }
    > li:only-of-type {
      &:after {
        display: none;
      }
    }
  }
}

.tree-child-tree {
  display: none;
}

.tree-child-tree-open {
  display: block;
}

li.tree-node-disabled > .tree-node-wrap > {
  .tree-node-content-wrapper {
    color: $neutral-15;
    opacity: $tree-node-disabled-opacity;
    cursor: not-allowed;
    span {
      color: $neutral-15;
    }
  }
  span:not(.tree-switcher) {
    color: $neutral-15;
  }
  .tree-node-content-wrapper:hover {
    background: transparent;
  }
}

.tree-icon-close,
.tree-icon-open {
  margin-right: 2px;
  vertical-align: top;
}

.tree.tree-show-line li.tree-node {
  position: relative;
  ul.tree-child-tree {
    padding: 0 0 0 29px;
  }
  &:after {
    position: absolute;
    top: $tree-node-height / 2;
    left: -17px;
    width: 8px;
    height: 1px;
    border-top: 1px solid $tree-line-color;
    content: ' ';
    z-index: auto;
  }
  &.is-leaf-node {
    .tree-switcher.tree-switcher-noop {
      width: 8px;
      margin: 0;
      visibility: hidden;
    }
  }
  &:not(:last-child):before {
    position: absolute;
    top: 0;
    left: -17px;
    width: 0;
    height: calc(100% + #{$tree-node-height / 2});
    border-left: 1px solid $tree-line-color;
    margin: 0;
    content: ' ';
  }
}

.tree.tree-show-line ul li.tree-node {
  &:only-of-type:before {
    position: absolute;
    top: 0;
    left: -17px;
    width: 0;
    height: 17px;
    border-left: 1px solid $tree-line-color;
    margin: 0;
    content: ' ';
  }
}
