.app-details-nav {
  position: relative;
  width: 212px;
  border-right: 1px solid var(--gray-200);

  &-bg {
    background-color: var(--gray-50);
  }
}

.app-view-list-wrapper {
  overflow: auto;
  .tree-node {
    padding: 0 16px;
  }
}

.view-details-container {
  @apply flex-1 bg-white rounded-tr-8 relative overflow-hidden;

  .empty {
    @apply absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

