.icon-input {
  .icon-position {
    @apply absolute z-10;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-input-self {
    padding-left: 44px !important;
    padding-right: 30px !important;
    height: 100% !important;
  }
}