@import './scss/index.scss';

// todo refactor this
@import '../styles/typography.css';
@import '../styles/variables/colors.css';

html {
  font-size: 62.5%;
}

body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  background-color: #E9EDF8;
  text-align: center;

  header {
    padding: 16px 20px 0 28.33px;

    .logo-company {
      img {
        height: 30px;
        margin-right: 8.4px;
      }
    }

    .to-login {
      >span:first-child {
        margin-right: 16px;
      }

      >a {
        padding: 4px 12px;
      }
    }
  }

  form {
    >h1 {
      margin-top: -72px;
    }

    input {
      border: 1px solid #d5dee7;
      padding: 4px 12px;
      outline: none;
      transition: all 0.3s linear;

      &.pr-36 {
        padding-right: 36px;
      }

      &:focus {
        box-shadow: 0px 0px 4px rgba(50, 69, 88, 0.12);
        border-color: rgba(55, 95, 243, 1);
      }
    }

    >button:last-child {
      padding: 5px 0;
      box-shadow: 0px 1px 2px rgba(50, 69, 88, 0.08);
    }
  }

  @media screen and (max-width: 930px) {
    aside {
      display: none !important;
    }
  }
}

.bg-main {
  background: #E9EDF8;
  background-color: #E9EDF8;
}

.error-message {
  font-size: 14px;
  line-height: 22px;
  color: #DC2626;
  margin-top: -20px;
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 2px;
}

.retrieve-password-wrapper {
  box-shadow: 0 56px #f1f5f9;
}

.right-aside {
  display: inline-block;
  height: 100%;
  width:25%;
  background: rgba(255, 255, 255, 0.65) url(/dist/images/login-rightbgc.svg) no-repeat center;
  background-size: contain;
}

@media screen and (orientation:portrait) {
  html {
    // 1px = 0.01rem
    font-size: calc(10000vw / 375);
  }

  body {
    .login-page {
      display: block;
    }

    header {
      padding: 0.12rem 0.12rem 0;
  
      .logo-company {
        img {
          height: 0.30rem;
          margin-right: 0.06rem;
        }

        span {
          font-size: 0.16rem;
        }
      }
    }
  
    .login-form {
      width: 100%;
      padding: 0 0.32rem;

      >h1 {
        font-size: 0.24rem;
        line-height: 0.32rem;
        margin-top: 0.64rem;
        margin-bottom: 0.32rem;

        a {
          font-size: 0.14rem;
        }
      }
  
      input {
        font-size: 0.16rem;
        height: 0.44rem;
        padding: 0.1rem 0.16rem;
        border-radius: 0.02rem 0.12rem 0.12rem 0.12rem;
  
        &.pr-36 {
          padding-right: 0.36rem;
        }
      }

      .input-field {
        margin-bottom: 0.16rem;

        .username-hints {
          margin-top: 0.02rem;
          font-size: 0.12rem;
        }
      }

      .input-password {
        margin-bottom: 0;
        i {
          width: 0.18rem;
          height: 0.18rem;
          right: 0.14rem;
        }
      }

      .login-hints {
        font-size: 0.12rem;
        margin-top: 0.02rem;
        margin-bottom: 0.24rem;
      }
  
      button {
        font-size: 0.16rem;
        height: 0.46rem;
        padding: 0.1rem 0;
        border-radius: 0.12rem 0.02rem 0.12rem 0.12rem;
      }

      > a {
        font-size: 0.16rem;
        margin-top: 0.14rem;
      }

      .error-message {
        font-size: 0.13rem;
        line-height: 0.2rem;
        color: #DC2626;
        margin-top: 0;
        margin-bottom: 0.02rem;
      }

      .captcha-btn {
        right: 0.1rem;
        font-size: 0.16rem;
      }
    }

    .find-form {
      padding: 0 0.12rem;
      margin-top: 0.32rem;
    }
  }

  .login-form-wrapper {
    padding: 0.2rem;

    h1 {
      font-size: 0.18rem;
      line-height: 0.26rem;
      margin-bottom: 0.04rem;
    }

    .text-caption {
      font-size: 0.12rem;
      line-height: 0.16rem;
      margin-bottom: 0.18rem;
    }
  }

  .retrieve-password-wrapper {
    box-shadow: 0 0.54rem #f1f5f9;
  }
}

.btn-login{
  width:100%;
}

.text-button{
  cursor: pointer;
}

.mb-20{
  margin-bottom: 20px;
}

.login-header{
  align-items: center;
}

.login-link{
    padding: 8px;
    background: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    border-color: rgba(5, 5, 5, 0.06);
    &.text-blue-b10{
      background: #fff;
    }
}

.login-tab{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}