@import './scss/index.scss';

// todo refactor this
@import '../portal/css/typography.css';
@import '../portal/css/variables/colors.css';

html {
  font-size: 62.5%;
}

body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  text-align: center;

  header {
    padding: 16px 20px 0 28.33px;

    .logo-company {
      img {
        width: 26.6px;
        height: 26.6px;
        margin-right: 8.4px;
      }
    }

    .to-login {
      >span:first-child {
        margin-right: 16px;
      }

      >a {
        padding: 4px 12px;
      }
    }
  }

  form {
    >h1 {
      margin-top: -72px;
    }

    input {
      border: 1px solid #d5dee7;
      padding: 4px 12px;
      outline: none;
      transition: all 0.3s linear;

      &.pr-36 {
        padding-right: 36px;
      }

      &:focus {
        box-shadow: 0px 0px 4px rgba(50, 69, 88, 0.12);
        border-color: rgba(55, 95, 243, 1);
      }
    }

    >button:last-child {
      padding: 5px 0;
      box-shadow: 0px 1px 2px rgba(50, 69, 88, 0.08);
    }
  }

  @media screen and (max-width: 930px) {
    aside {
      display: none !important;
    }
  }
}

.bg-main {
  background: #E9EDF8;
  background-color: #E9EDF8;
}

.error-message {
  font-size: 14px;
  line-height: 22px;
  color: #DC2626;
  margin-top: -20px;
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 2px;
}

.retrieve-password-wrapper {
  box-shadow: 0 56px #f1f5f9;
}
