.link {
  display: inline-block;
  text-decoration: none;
  color: var(--blue-600);

  &:link {
    color: var(--blue-600);
  }

  &:visited {
    color: currentColor;
  }

  &:active {
    color: var(--blue-800);
  }
}
