.app-filter-column {
  @apply flex p-16 items-center justify-between;
  .radio-group label.radio-button.checked {
    border-color: #375FF3;
    color: #375FF3;
    background-color: #F0F6FF;
  }

  .radio-button .is-default .button .radio-button-wrapper .is-default .button {
    border-radius: 12px;
  }
}

.app-status-modal-title {
  @apply flex items-center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.app-del-title {
  @extend .app-status-modal-title;
  color: #DC2626;
}

.app-list-container {
  display: grid;
  height: 100%;
  grid-gap: 16px;
  padding: 0 16px;
  overflow-y: auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, 76px); 
}

@media screen and (max-width: 1440px) {
  .app-list-container {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 1400px) {
  .app-list-container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
