.custom-field__value {
  > div {
    min-width: 120px;
    margin-bottom: 0;
  }

  &.xl-width {
    > div {
      min-width: 240px;
    }
  }

  .noWrap {
    white-space: nowrap;
  }
  .selecy{
    border-top-left-radius: 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
