.card-bottom {
  margin: .16rem -0.16rem -0.16rem;
}

.operate-button {
  padding: .16rem 0;
  flex: 1;
  background-color: transparent;
  font-weight: normal;
}

.btn-delete {
  color: var(--red-600);
}

.btn-update {
  color: var(--blue-600);
}

.floating-button {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  position: fixed;
  right: .16rem;
  bottom: .56rem;
  z-index: 1;
  box-shadow: 0 8px 25px 8px rgba(55, 95, 243, 0.2);
  background-color: var(--blue-600);
  cursor: pointer;
  &:active {
    box-shadow: 0 8px 24px 8px rgba(55, 95, 243, 0.4);
  }
}
