.app-page-build-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  flex: 1 1 auto;
  background-color: #fff;
  margin: 20px 20px 0 20px;
}

.app-page-build-nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 572px;
  height: 84px;
  padding: 0 20px;
  border-radius: 12px 2px 12px 12px;
  transition: transform .3s;

  &:hover {
    transform: translateY(-5px);
  }
}

.app-page-build-nav-bg-form {
  background: linear-gradient(90deg, #5EEAD4 0%, #2DD4BF 100%);
  box-shadow: 0px 8px 24px rgba(20, 184, 166, 0.25);
}

.app-page-build-nav-bg-flow {
  background: linear-gradient(89.94deg, #FDBA74 0.05%, #FB923C 99.95%);
  box-shadow: 0px 8px 24px rgba(249, 115, 22, 0.25);
}

.app-page-build-nav-bg-meter {
  background: linear-gradient(180deg, #A5B4FC 0%, #818CF8 100%);
  box-shadow: 0px 8px 24px rgba(99, 102, 241, 0.25);
}

.form-table-hidden {
  display: none;
}

.user-app-schema-form {
  .layout-card-content {
    padding: 0 4px;
  }
}

.page-data-drawer-modal-mask {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(2, 5, 8, 0.7);
  animation: fadeIn .2s forwards;
  z-index: 20;
}

.page-data-drawer-began-close {
  animation: fadeOut .3s forwards;
  .page-data-drawer-container {
    animation: quitRight .3s ease forwards;
  }
}

.page-data-drawer-close {
  display: none;
}

.page-data-drawer-container {
  position: absolute;
  right: 0;
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  animation: enterRight .3s ease forwards;
  transition: transform .3s;
}

.page-data-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 20px;
  box-shadow: inset 0px -1px 0px var(--gray-200);
  background-image: url('/dist/images/maskHeaderBackgroundImage.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}