.header-text {
  line-height: 22px;
}

.go-back {
  &:hover {
    color: var(--blue-600);
    fill: currentColor;
  }
}

.preview-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
