.app-right-box {
  @apply flex-1 bg-white rounded-tl-12 rounded-tr-12 bg-opacity-50;
  height:100%;
}

.app-entry-container {
  @apply flex justify-center items-start gap-x-20 mx-auto;
  padding: 20px 58px 0;
  height: calc(100vh - 64px);
}