name: Code Quality Check
on:
  push:
    branches-ignore:
      - 'release/**'
      - alpha
jobs:
  check-code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/client-boot-up
      - uses: ./.github/actions/quality-check
      - uses: ./.github/actions/fail-alert
        if: ${{ failure() }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
