.form-add-dataset {
  > .field .label {
    width: calc(100% / 4) !important;
  }
}

.dataset {
  button.btn--add {
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &-names {
    width: 300px;
    min-height: calc(100vh - 100px);
    border-right: 1px solid var(--gray-200);

    &--toolbar {
      position: sticky;
      //input {
      //  width: 140px !important;
      //}
    }

    .name-item {
      border-radius: 8px;
      &.active {
        background-color: var(--gray-100);
      }

      &:hover {
        .action-more {
          visibility: visible;
        }
      }
      .action-more {
        visibility: hidden;
      }
    }
  }

  &-content {
    &--title {
      font-size: 14px;
      font-weight: 500;
    }

    &--toolbar {

    }

    &--datas {
      .data-list-items {
        &--item {
          //&:hover {
          //  .data-list-items--item-actions {
          //    visibility: visible;
          //  }
          //}
          //&-actions {
          //  visibility: hidden;
          //}
        }
      }

      .data-tree-items {
        .tree-row-item {
          input {
            min-width: 80px;
          }
          //&:hover {
          //  .data-tree-items--item-actions {
          //    visibility: visible;
          //  }
          //}
          //.data-tree-items--item-actions {
          //  visibility: hidden;
          //}
        }
      }

    }
  }
}
