.task-card {
  border-radius: .12rem;
  box-shadow: 0 8px 24px rgba(148, 163, 184, 0.25);
  margin: .12rem 0;
}

.task-flow-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.task-tag-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.task-tag-item {
  padding: .01rem .06rem;
  border-radius: .04rem 0;
  vertical-align: center;
}

.task-tag__overtime {
  color: var(--red-600);
  background-color: var(--red-50);
}

.task-tag__urgeTime {
  color: var(--yellow-600);
  background-color: var(--yellow-50);
}

.task-tag-item:not(:first-child) {
  margin-left: .08rem;
}
